<!DOCTYPE html>
<html lang="ru">
<head>
	<title>Статьи | Марийский НИИСХ - филиал ФБГНУ ФАНЦ Северо-Востока | Официальный сайт</title>
	<meta http-equiv="content-type" content="text/html; charset=utf-8" />
	<meta name="viewport" content="width=device-width">
	<meta name="description" content="Опубликованные статьи научных сотрудников института Марийский НИИСХ - филиала ФБГНУ ФАНЦ Северо-Востока в журналах ">
	<link rel="icon" type="image/png" href="favicon.png"/>
	<link rel="shortcut icon" href="favicon.png" type="image/x-icon">
	<link href="css/style.css" rel="stylesheet">
	<link href="css/docs.css" rel="stylesheet">
	<link href="css/trend.css" rel="stylesheet">
	<!--[if lte IE 8]>
		<script src="js/html5shiv.js"></script>
		<link href="css/ie8.css" rel="stylesheet">
	<![endif]-->
</head>
<body>
<input type="checkbox" id="nav" hidden>
<nav class="nav_side">
<label for="nav" class="cross" onclick>✕</label>
	<ul class="way">
		<li class="index"><a href="index.html">марниисх.рф</a>
			<ul>
				<li><a href="About.html">О нас</a>
					<ul>
						<li><a href="Article.html">Статьи</a></li>
					</ul>
				</li>
			</ul>
		</li>
	</ul>
	<ul class="side">
		<li class="index"><span><img src="img/sprite_nav.png"></span><a href="index.html">Главная</a></li
		><li class="news"><span><img src="img/sprite_nav.png"></span><a href="News.html">Новости</a></li
		><li class="prod"><span><img src="img/sprite_nav.png"></span><a href="Prod.html">Продукция</a>
			<ul>
				<li><a href="Grain.html">Зерновые</a></li
				><li><a href="Potato.html">Картофель</a></li
				><li><a href="Grass.html">Многолетние травы</a></li
				><li><a href="Jim.html">Жимолость</a></li>
			</ul>
		</li
		><li class="about"><span><img src="img/sprite_nav.png"></span><a href="About.html">О нас</a>
			<ul>
				<li><a href="About.html">История института</a></li
				><li><a href="Trend.html">Направления деятельности</a></li
				><li><a href="Progress.html">Достижения</a></li
				><li><a href="Article.html">Статьи</a></li>
			</ul>
		</li
		><li class="contact"><span><img src="img/sprite_nav.png"></span><a href="Contact.html">Контакты</a></li
		><li class="price"><span><img src="img/sprite_nav.png"></span><a href="Price.html">Прайс</a></li
		><li class="docs"><span><img src="img/sprite_nav.png"></span><a href="Docs.html">Документы</a></li
		><li class="map"><span><img src="img/sprite_nav.png"></span><a href="Map.html">Карта сайта</a></li>
	</ul>
</nav>
<div class="mask">
	<label for="nav" onclick></label>
</div>
<div class="maket">
<label for="nav" class="burger" onclick>МЕНЮ</label>
<header>
	<h1>
		<span class="n1">
			<span>Марийский</span>
			<span>НИИ</span>
		</span
		><span class="n2">СХ</span
		><span class="n3">
			<span></span>
			<span>филиал ФГБНУ&nbspФАНЦ Северо-Востока</span>
		</span
		><a class="logo" href="index.html">
			<img src="img/Logo.png" alt="Логотип Марийский НИИСХ">
		</a>
	</h1>
	<nav class="nav_main">
		<ul>
			<li class="index"><span><img src="img/sprite_nav.png"></span><a href="index.html">Главная</a></li
			><li class="news"><span><img src="img/sprite_nav.png"></span><a href="News.html">Новости</a></li
			><li class="prod"><span><img src="img/sprite_nav.png"></span><a href="Prod.html">Продукция</a></li
			><li class="about"><span><img src="img/sprite_nav.png"></span><a href="About.html">О нас</a></li
			><li class="contact"><span><img src="img/sprite_nav.png"></span><a href="Contact.html">Контакты</a></li>
		</ul>
	</nav>
	<a class="tel" href="tel:+78362538039"><span><b class="phone"><i></i></b></span> <strong>+7 (8362) 53-80-39</strong></a>
	<ul class="head_way">
		<li><a href="About.html">О нас</a>
			<ul>
				<li><a href="Article.html">Статьи</a></li>
			</ul>
		</li>
	</ul>
</header>
<main>
<nav class="nav_sub">
	<span>О нас ещё ↑</span>
	<a href="Trend.html">Направления деятельности</a>
	<a href="Progress.html">Достижения</a>
	<a href="Article.html">Статьи</a>
</nav>
<h2>Статьи</h2>
<div class="pages">
	<ul>
		<li><span class="plant" title="2020"></span>Максимов В.А., Золотарева Р.И., Лапшин Ю.А. Влияние минеральных удобрений на экономические показатели возделываемых сортов озимой ржи в условиях Республики Марий Эл // Зерновое хозяйство России 2020. № 4(70). С. 27-30.<p>DOI: 10.31367/2079-8725-2020-70-4-27-30</p></li>
		<li><span class="plant" title="2020"></span>Головунин В.П. Влияние бактериальных удобрений на урожайность и вегетативное развитие растений перспективных сортов жимолости синей. Са-доводство и виноградарство. 2020:3:32-36.<p>DOI: 10/31676/0235-2591-2020-3-32-36</p></li>
		<li><span class="plant" title="2020"></span>Лапшин Ю.А., Новоселов С.И., Данилов А.В., Золотарева Р.И. Отзывчивость сортов ярового тритикале на внесение минеральных удобрений. Аг-рарная наука Евро-Северо-Востока. 2020;21(5):571-579.<p>DOI: 10.30766/2072-9081.2020.21.5.571-579</p></li>
		<li><span class="plant" title="2020"></span>Золотарева Р.И., Максимов В.А. Структурный анализ озимой ржи в зависимости от сорта и внесения минерального удобрения // Международный научно-исследовательский журнал. 2020. № 7 (97). Часть 1 С. 151-155.<p>DOI: 10.23670/IRJ.2020.97.7.024</p></li>
		<li><span class="plant" title="2020"></span>Удалова Е.Ю. Влияние предпосадочной обработки клубней и вегетирующих растений на устойчивость к фитофторозу картофеля // Вестник Марийского государственного университета. Серия «Сельскохозяйственные науки. Экономические науки». 2020. Т. 6. №3. С. 333-338.<p>DOI: 10.30914/2411-9687-2020-6-3-333-338</p></li>
		<li><span class="plant" title="2020"></span>Свечников А.К., Замятин С.А., Максуткин С.А. Продуктивность бессменного посева козлятнико-кострецовой травосмеси после снижения дозы внесения минеральных удобрений // Актуальные вопросы совершенствования технологии производства и переработки продукции сельского хозяйства: Мосоловские чтения / Материалы международной научно-практической конференции. Выпуск XХII. Йошкар-Ола: Мар.гос.ун-т, 2020 – С. 17-19.<p>URL: https://mosolov.marsu.ru/files/Modern_Agricultural_Technologies-2020.pdf</p></li>
		<li><span class="plant" title="2020"></span>Удалова Е.Ю. Влияние биологических и химических фунгицидов на развитие болезней и продуктивность картофеля // Актуальные вопросы совершенствования технологии производства и переработки продукции сельского хозяйства: Мосоловские чтения / Материалы международной научно-практической конференции. Выпуск XХII. Йошкар-Ола: Мар.гос.ун-т, 2020 – С. 24-26. <p>URL: https://mosolov.marsu.ru/files/Modern_Agricultural_Technologies-2020.pdf</p></li>
		<li><span class="plant" title="2020"></span>Золотарева Р.И., Максимов В.А. Зависимость структуры урожая от сорта и внесения минерального удобрения // Ресурсосберегающие экологически безопасные технологии производства и переработки сельскохозяйственной продукции: материалы XVI Междунар. науч.-практ. конф., посвящ. 90-летию становления и развития аграрной науки в Респ. Мордовия и памяти проф. С.А. Лапшина, Саранск, 15-16 окт. 2020 г. [Электронный ресурс] / редкол.: А.В. Ивойлов (отв. ред.), Д В. Бочкарев (отв. секретарь). – Саранск: Изд-во Мордов. Ун-та, 2020 С. 204-210.<p>URL: </p></li>
		<li><span class="plant" title="2020"></span>Лапшин Ю.А., Данилов А.В., Золотарева Р.И., Максимов В.А. Тритикале – культура, позволяющая повысить адаптивные возможности растениеводства Республики Марий Эл // Ресурсосберегающие экологически безопасные технологии производства и переработки сельскохозяйственной продукции: материалы XVI Междунар. науч.-практ. конф., посвящ. 90-летию становления и развития аграрной науки в Респ. Мордовия и памяти проф. С.А. Лапшина, Саранск, 15-16 окт. 2020 г. [Электронный ресурс] / редкол.: А.В. Ивойлов (отв. ред.), Д В. Бочкарев (отв. секретарь). – Саранск: Изд-во Мордов. Ун-та, 2020 С. 251-264.<p>URL: </p></li>
		<li><span class="land" title="2020"></span>Свечников А.К. Преимущества травянозерновых севооборотов от продления срока использования клеверо-люцерно-тимофеечной смеси. Аграрная наука Евро-Северо-Востока. 2020;21(6):752-763.<p>DOI: 10.30766/2072-9081.2020.21.6.752-763</p></li>
		<li><span class="land" title="2020"></span>Zamyatin S A, Efimova A Yu and Apaeva N N The influence of field crop rotation on the accumulation of stubble and root residues in the arable layer of sod-podzolic soil // IOP Conf. Series: Earth and Environtal Science 421 (2020) 022017.<p>DOI: 10.1088/1755-1315/421/2/022017</p></li>
		<li><span class="land" title="2020"></span>Zamyatin S A, Maksimova R B, Zolotareva R I, Udalova E Yu, Maksimov V A and Manishkin S G Efficiency of application of granulated organic fertilizers based on chicken manure in the cultivation of spring wheat // IOP Conf. Series: Earth and Environtal Science 548 (2020) 022018.<p>DOI: 10.1088/1755-1315/548/2/022018</p></li>
		<li><span class="land" title="2020"></span>Zamyatin S A, Efimova A Yr, Maksimova R B, Maksutkin C A, Zolotareva R I, Maksimov V A and Zamyatina T G Changes in humus content in sod-podzolic soils as a result of agricultural use // IOP Conf. Series: Earth and Environtal Science 548 (2020) 072017.<p>DOI: 10.1088/1755-1315/548/7/072017</p></li>
		<li><span class="land" title="2020"></span>Замятин С.А., Максимова Р.Б., Ефимова А.Ю., Максуткин С.А. Гумусовое состояние дерново-подзолистой почвы длительного стационарного опыта в Республике Марий Эл // Международный научно-исследовательский журнал. 2020. № 8 (98). Часть 1 С. 192-196.<p>DOI: 10.23670/IRJ.2020.98.8.029</p></li>
		<li><span class="land" title="2020"></span>Замятин С.А., Максимова Р.Б. Почвоулучшающая роль пожнивно-корневых остатков в полевых севооборотах // Вестник Марийского государственного университета. Серия «Сельскохозяйственные науки. Экономические науки». 2020. Т. 6. №3. С. 287-294.<p>DOI: 10.30914/2411-9687-2020-6-3-287-294</p></li>
		<li><span class="land" title="2020"></span>Замятин С.А. Максимова Р.Б., Манишкин С.Г. Применение гранулированных органических удобрений на яровой пшенице // Актуальные вопросы совершенствования технологии производства и переработки продукции сельского хозяйства: Мосоловские чтения / Материалы международной научно-практической конференции. Выпуск XХII. Йошкар-Ола: Мар.гос.ун-т, 2020 – С. 20-24.<p>URL: https://mosolov.marsu.ru/files/Modern_Agricultural_Technologies-2020.pdf</p></li>
		<li><span class="land" title="2020"></span>Ефимова А. Ю., Замятин С. А. Влияние предшественников и минеральных удобрений на урожайность ярового ячменя // Методы и технологии в селекции растений и растениеводстве: Материалы VI Международной научно-практической конференции, посвященной 125-летию Федерального аграрного научного центра Северо-Востока имени Н.В. Рудницкого / Под общей редакцией И.А. Устюжанина. Киров: ФАНЦ Северо-Востока, 2020. С. 284-288.<p>URL: </p></li>
		<li><span class="land" title="2020"></span>Замятин С.А., Ефимова А.Ю., Максимова Р.Б. Гумусовое состояние дерново-подзолистой почвы длительного стационарного опыта в республике Марий Эл // Ресурсосберегающие экологически безопасные технологии производства и переработки сельскохозяйственной продукции: материалы XVI Междунар. науч.-практ. конф., посвящ. 90-летию становления и развития аграрной науки в Респ. Мордовия и памяти проф. С.А. Лапшина, Саранск, 15-16 окт. 2020 г. [Электронный ресурс] / редкол.: А.В. Ивойлов (отв. ред.), Д В. Бочкарев (отв. секретарь). – Саранск: Изд-во Мордов. Ун-та, 2020 С. 199-203.<p>URL: </p></li>
		<li><span class="zoo" title="2020"></span>Титова С.В., Забиякин В.А. Молочная продуктивность и воспроизводительные качества коров черно-пестрой породы разной линейной принадлежности. Аграрная наука Евро-Северо-Востока. 2020: 21(4): 434-442.<p>DOI: 10.30766/2072-9081.2020.21.4.434-442</p></li>
		<li><span class="bird" title="2020"></span>Забиякин В.А., Титова С.В. Продуктивные качества сохраняемой генофондной группы волжских белых цесарок в условиях крестьянского фермерского хозяйства // Международный научно-исследовательский журнал. 2020. № 8 (98). Часть 1 С. 197-201.<p>DOI: 10.23670/IRJ.2020.98.8.030</p></li>
		<li><span class="bird" title="2020"></span>Забиякин, В. А., Титова С.В. Волжские белые цесарки. 100-лет со дня рождения ученого цесарковода Вейцмана Л.Н // Материалы XX Международной конференции Российского отделения ВНАП (НП «Научный центр по птицеводству»), посвященная 90-летию ВНИТИП «Мировое и российское птицеводство: состояние, динамика развития,  инновационные  перспективы»,  ВНИТИП, 14–16 октября 2020 -С. 98-101.<p>URL: https://drive.google.com/file/d/1AjdynaR6FLFA1zBpD1gqhejRLXDgHsUj/view?usp=sharing</p></li>
		<li><span class="bird" title="2020"></span>Забиякин, В. А., Титова С.В. Сохранение и размножение волжских белых цесарок // Материалы XX Международной конференции Российского отделения ВНАП (НП «Научный центр по птицеводству»), посвященная 90-летию ВНИТИП  «Мировое и российское птицеводство: состояние, динамика развития,  инновационные  перспективы»,  ВНИТИП, 14–16 октября 2020 -С.101-104.<p>URL: https://drive.google.com/file/d/1AjdynaR6FLFA1zBpD1gqhejRLXDgHsUj/view?usp=sharing</p></li>
		<li><span class="plant" title="2019"></span>Максимова Р. Б., Замятин С. А., Манишкин С. Г. Влияние гранулирован-ных органических удобрений на урожайность и качество зерна яровой пшеницы // Вестник Марийского государственного университета. Серия «Сельскохозяйственные науки. Экономические науки». 2019. Т. 5. № 1. С. 22-28.<p>DOI: 10.30914/2411-9687-2019-5-1-22-27</p></li>
		<li><span class="plant" title="2019"></span>Максимов В.А., Золотарёва Р. И. Результаты экологического испытания новых сортов озимой ржи в условиях республики Марий Эл // Вестник Марийского государственного университета. Серия «Сельскохозяйствен-ные науки. Экономические науки». 2019. Т. 5. № 2. С. 178-184.<p>DOI: 10.30914/2411-9687-2019-5-2-178-184</p></li>
		<li><span class="plant" title="2019"></span>Замятин С.А., Максимова Р.Б., Удалова Е.Ю. Оценка эффективности применения гуминового концентрата «Дар» при возделывании картофеля // Вестник Марийского государственного университета. Серия «Сельскохозяйственные науки. Экономические науки». 2019. Т. 5. № 2. С. 156-162.<p>DOI: 10.30914/2411-9687-2019-5-2-156-162</p></li>
		<li><span class="plant" title="2019"></span>Головунин В.П. Замятин С.А. Влияние применения микробиологических удобрений на рост и развитие жимолости синей в условиях Республики Марий Эл // Вестник Марийского государственного университета. Серия «Сельскохозяйственные науки. Экономические науки». 2019. Т. 5. № 2. С. 150-155.<p>DOI: 10.30914/2411-9687-2019-5-2-150-155</p></li>
		<li><span class="plant" title="2019"></span>Удалова Е.Ю. Фитометрический показатель и урожайность картофеля в зависимости от применяемых фунгицидов // Вестник Марийского государственного университета. Серия «Сельскохозяйственные науки. Экономические науки». 2019. Т. 5. № 2. С. 204-209.<p>DOI: 10.30914/2411-9687-2019-5-2-204-209</p></li>
		<li><span class="plant" title="2019"></span>Зиновьева А.С., Мухаметов С.В., Головунин В.П. Показатели плодов сортов жимолости Республике Марий Эл // Международный журнал гума-нитарных и естественных наук . Издательство: Общество с ограниченной ответственностью "Капитал" (Новосибирск) 2019. №. 5-3. С. 6-9.<p>DOI: 10.24411/2500-1000-2019-10955</p></li>
		<li><span class="plant" title="2019"></span>Головунин В.П., Максимова Р.Б. Содержание общего азота и фосфора в почве и листьях жимолости синей при использовании микробиологических удобрений в условиях Республики Марий Эл. Известия ФНЦО. 2019. №2. С.83-85.<p>DOI: 10.18619/2658-4832-2019-2-83-85</p></li>
		<li><span class="plant" title="2019"></span>Лапшин Ю.А., Максимов В.А., Золотарева Р.И. Яровое тритикале – пер-спективная культура для Республики Марий Эл // Вестник Марийского государственного университета. Серия «Сельскохозяйственные науки. Экономические науки». 2019. Т. 5. № 3 С. 309-315.<p>DOI: 10.30914/2411-9687-2019-5-3-309-315</p></li>
		<li><span class="plant" title="2019"></span>Лапшин Ю.А., Новоселов С.И., Данилов А.В. Влияние минеральных удобрений на продуктивность ярового тритикале в условиях Республики Марий Эл // Известия Санкт-Петербургского государственного универси-тета. 2019. № 3 (56) С. 74-81.<p>DOI: 10:24411/2078-1318-2019-13074</p></li>
		<li><span class="plant" title="2019"></span>Головунин В.П. Влияние применения микробиологических азотных и фосфорных удобрений на рост и развитие растений перспективных сортов жимолости синей в условиях Республики Марий Эл // АПК инновационные технологии. 2019 № 1 (44). С 11-17.<p>URL: https://elibrary.ru/item.asp?id=38071439</p></li>
		<li><span class="plant" title="2019"></span>Удалова Е.Ю. Влияние фунгицидов на урожайность и фитометрические показатели картофеля // АПК инновационные технологии. 2019 № 1 (44). С 34-39.<p>URL: https://elibrary.ru/item.asp?id=38071442</p></li>
		<li><span class="plant" title="2019"></span>Золотарева Р.И. Максимов В.А. Изменение технологических свойств ози-мой ржи в зависимости от сорта и минерального питания // АПК иннова-ционные технологии. 2019 № 2 (45). С 41-46.<p>URL: https://elibrary.ru/item.asp?id=41424747</p></li>
		<li><span class="land" title="2019"></span>Свечников А.К. Накопление пожнивно-корневых остатков и питательных элементов в кормовых севооборотах // Аграрная наука Евро-Северо-Востока. 2019;20(6): 613-622.<p>DOI: 10.30766/2072-9081.2019.20.6.613-622</p></li>
		<li><span class="land" title="2019"></span>Замятин С.А., Ефимова А.Ю., Максуткин С.А. Влияние полевого севооб-орота на накопление пожнивно-корневых остатков в пахотном слое дерно-во-подзолистой почвы // Аграрная наука Евро-Северо-Востока. 2019;20(6): 594-601.<p>DOI: 10.30766/2072-9081.2019.20.6.594-601</p></li>
		<li><span class="land" title="2019"></span>Zamyatin S.A., Efimova A.Y., Maksutkin S.A. and Apaeva N.N.Weediness of crops in various crop rotations // IOP Conf. Serth and Environtal Science 315 (2019) 072024.<p>DOI: 10.1088/1755-1315/315/7/072024</p></li>
		<li><span class="land" title="2019"></span>Замятин С.А., Ефимова А.Ю., Максуткин С.А. Накопление пожнивно-корневых остатков в зависимости от вида полевого севооборота // АПК инновационные технологии. 2019 № 3 (46). С 25-33.<p>URL: https://elibrary.ru/item.asp?id=41425365</p></li>
		<li><span class="zoo" title="2019"></span>>Титова С.В. Влияние генотипических факторов на пожизненную продуктивность черно-пестрых коров // Вестник Марийского государственного университета. Серия «Сельскохозяйственные науки. Экономические науки». 2019. Т. 5. № 3 С. 329-334. DOI: 10.30914/2411-9687-2019-5-3-329-334<p>URL: http://vestnik.marsu.ru/uploads/files/journalsPdf/J_5db590b2ee13e.pdf</p></li>
		<li><span class="plant" title="2018"></span>Максимов В.А., Золотарёва Р.И., Максимова Р.Б. Влияние разных доз азотной подкормки на зерновую и кормовую продуктивность сортов озимой ржи в условиях Республики Марий Эл // Аграрная наука Евро-Северо-Востока. 2018. Т.65. № 4. С. 36-41. DOI: 10.30766/2072-9081.2018.65.4.36-41</li>
		<li><span class="plant" title="2018"></span>Замятин С.А., Ефимова А.Ю. Максуткин С.А. Сорные растения полевых севооборотов // Аграрная наука Евро-Северо-Востока. 2018. Т.66. № 5. С. 98-103.<p>DOI: 10.30766/2072-9081.2018.66.5.98-103</p></li>
		<li><span class="plant" title="2018"></span>Соколова Е.А., Мефодьев Г.А. Свечников А.К. Подбор раннеспелых гибридов кукурузы для кормовых севооборотов в условиях Волго-Вятского района // Успехи современного естествознания. 2018. № 7 С. 54-59.<p>URL: https://elibrary.ru/item.asp?id=35559874</p></li>
		<li><span class="plant" title="2018"></span>Головунин В.П. Применение приема мульчирования на посадках  жимолости синей // Новые и нетрадиционные растения и перспективы их использования. ВНИИСОК. 2018. № 13. С. 500-503.<p>URL: https://elibrary.ru/contents.asp?id=35359099</p></li>
		<li><span class="plant" title="2018"></span>Максимов В.А, Золотарёва Р.И. Урожайность и качество зерна сортов озимой ржи в условиях Республики Марий Эл // Вестник Марийского Государственного Университета. Серия «Сельскохозяйственные науки. Экономические науки». 2018. Т. 4. № 1. С. 23-28.<p>URL: https://elibrary.ru/item.asp?id=32785701</p></li>
		<li><span class="plant" title="2018"></span>Удалова Е.Ю., Марьина-Чермных О.Г. Влияние систем защиты от болезней на продуктивность картофеля сорта Беллароза // Вестник Марийского Государственного Университета. Серия «Сельскохозяйственные науки. Экономические науки». 2018. Т. 4. № 1. С. 41-46.<p>DOI: 10.30914/2411-9687-2018-4-1-41-46.</p></li>
		<li><span class="plant" title="2018"></span>Головунин В.П. Расширение ассортимента жимолости синей в почвенно-климатических условиях Республики Марий Эл // Вестник Марийского Государственного Университета. Серия «Сельскохозяйственные науки. Экономические науки». 2018. Т. 4. № 2. С. 25-30.<p>DOI: 10.30914/2411-9687-2018-4-2-25-30.</p></li>
		<li><span class="plant" title="2018"></span>Лапшин Ю.А. Методические аспекты создания гетерогенных агрофитоценозов и их роль в повышении продуктивности агроландшафта // Вестник Марийского Государственного Университета. Серия «Сельскохозяйственные науки. Экономические науки». 2018. Т. 4. № 2. С. 36-41.<p>DOI: 10.30914/2411-9687-2018-4-2-36-41.</p></li>
		<li><span class="plant" title="2018"></span>Удалова Е.Ю. Влияние комплексной химизации на урожайность и пораженность болезнями картофеля // Вестник Марийского Государственного Университета. Серия «Сельскохозяйственные науки. Экономические науки». 2018. Т. 4. № 4. С. 72-77.<p>DOI: 10.30914/2411-9687-2018-4-4-72-77</p></li>
		<li><span class="land" title="2018"></span>Свечников А.К., Изместьев В.М., Соколова Е.А. Азотные удобрения и продуктивность кормовых севооборотов // Аграрная наука Евро-Северо-Востока. 2018. Т. 63. №2. С. 69-73.<p>DOI: 10.30766/2072-9081.2018.63.2.69-73</p></li>
		<li><span class="land" title="2018"></span>Замятин С.А., Максимова Р.Б., Ефимова А.Ю. Эффективность длительного систематического внесения минеральных удобрений в полевом севообороте в условиях Республики Марий Эл // Вестник Марийского Государственного Университета. Серия «Сельскохозяйственные науки. Экономические науки». 2018. Т. 4. № 3. С. 27-31.<p>DOI: 10.30914/2411-9687-2018-4-3-27-31.</p></li>
		<li><span class="zoo" title="2018"></span>Титова С.В. Влияние матерей на продуктивное долголетие коров // Вестник Марийского Государственного Университета. Серия «Сельскохозяйственные науки. Экономические науки». 2018. Т. 4. № 3. С. 63-68.<p>DOI: 10.30914/2411-9687-2018-4-3-63-68</p></li>
		<li><span class="bird" title="2018"></span>Кудряшов Л.С., Кудряшова О.А., Забиякин В.А., Забиякина Т.В. Пищевая и биологическая ценность мяса цесарок, содержащихся в малочисленной группе и условиях фермерского хозяйства // Вестник Марийского Государственного Университета. Серия «Сельскохозяйственные науки. Экономические науки». 2018. Т. 4. № 1. С. 15-22.<p>URL: https://elibrary.ru/item.asp?id=32785700</p></li>
	</ul>
</div>
</main>
</div>
<footer>
	<div class="contacts">
		<div>
			<p><span class="fonts_ico">©</span> 2016-2024</p>
			<p>Марийский НИИСХ - филиал ФГБНУ&nbsp;ФАНЦ Северо-Востока</p>
			<h4><span class="home_ico"><em></em><i></i></span> Почтовый адрес</h4>
			<p class="adress">425231, Россия, Республика&nbsp;Марий&nbsp;Эл, Медведевский&nbsp;район, посёлок&nbsp;Руэм, улица&nbsp;Победы,&nbsp;дом&nbsp;№10</p>
			<h4><span class="email_ico"></span> Электронный адрес</h4>
			<p><a href="mailto:marniish@yandex.ru">marniish<span class="fonts_ico">@</span>yandex.ru</a></p>
		</div>
		<div>
			<h4><span class="phone"><i></i></span> Телефоны</h4>
			<p>Приёмная: <a href="tel:+78362538039">+7 (8362) 53-80-39</a></p>
			<p>Директор:<a href="tel:+78362538010"> +7 (8362) 53-80-10</a></p>
			<h4><span class="phone"><i></i></span> Факс</h4>
			<p>+7 (8362) 53-80-82</p>
		</div>
	</div>
	<div class="author">
		<h4><span class="fonts_ico"><img src="img/star.png"></span> Разработчик</h4>
		<a class="vk" href="http://vk.com/koalder">vk</a>
		<a class="email_ico" href="mailto:koalder@yandex.ru"></a>
	</div>
</footer>
</body>
</html>
