<!DOCTYPE html>
<html lang="ru">
<head>
	<title>Контакты | Марийский НИИСХ - филиал ФБГНУ ФАНЦ Северо-Востока | Официальный сайт</title>
	<meta http-equiv="content-type" content="text/html; charset=utf-8" />
	<meta name="viewport" content="width=device-width">
	<meta name="description" content="Главная страница официального сайта Марийский НИИСХ - филиала ФБГНУ ФАНЦ Северо-Востока">
	<link rel="icon" type="image/png" href="favicon.png"/>
	<link rel="shortcut icon" href="favicon.png" type="image/x-icon">
	<link href="css/style.css" rel="stylesheet">
	<link href="css/news.css" rel="stylesheet">
	<!--[if lte IE 8]>
		<script src="js/html5shiv.js"></script>
		<link href="css/ie8.css" rel="stylesheet">
	<![endif]-->
</head>
<body>
<input type="checkbox" id="nav" hidden>
<nav class="nav_side">
<label for="nav" class="cross" onclick>✕</label>
	<ul class="way">
		<li class="index"><a href="index.html">марниисх.рф</a>
			<ul>
				<li><a href="Contact.html">Контакты</a></li>
			</ul>
		</li>
	</ul>
	<ul class="side">
		<li class="index"><span><img src="img/sprite_nav.png"></span><a href="index.html">Главная</a></li
		><li class="news"><span><img src="img/sprite_nav.png"></span><a href="News2024.html">Новости</a></li
		><li class="prod"><span><img src="img/sprite_nav.png"></span><a href="Prod.html">Продукция</a>
			<ul>
				<li><a href="Grain.html">Зерновые</a></li
				><li><a href="Potato.html">Картофель</a></li
				><li><a href="Grass.html">Многолетние травы</a></li
				><li><a href="Jim.html">Жимолость</a></li>
			</ul>
		</li
		><li class="about"><span><img src="img/sprite_nav.png"></span><a href="About.html">О нас</a>
			<ul>
				<li><a href="About.html">История института</a></li
				><li><a href="Trend.html">Направления деятельности</a></li
				><li><a href="Progress.html">Достижения</a></li
				><li><a href="Article.html">Статьи</a></li>
			</ul>
		</li
		><li class="contact"><span><img src="img/sprite_nav.png"></span><a href="Contact.html">Контакты</a></li
		><li class="price"><span><img src="img/sprite_nav.png"></span><a href="Price.html">Прайс</a></li
		><li class="docs"><span><img src="img/sprite_nav.png"></span><a href="Docs.html">Документы</a></li
		><li class="map"><span><img src="img/sprite_nav.png"></span><a href="Map.html">Карта сайта</a></li>
	</ul>
</nav>
<div class="mask">
	<label for="nav" onclick></label>
</div>
<div class="maket">
<label for="nav" class="burger" onclick>МЕНЮ</label>
<header>
	<h1>
		<span class="n1">
			<span>Марийский</span>
			<span>НИИ</span>
		</span
		><span class="n2">СХ</span
		><span class="n3">
			<span></span>
			<span>филиал ФГБНУ&nbspФАНЦ Северо-Востока</span>
		</span
		><a class="logo" href="index.html">
			<img src="img/Logo.png" alt="Логотип Марийский НИИСХ">
		</a>
	</h1>
	<nav class="nav_main">
		<ul>
			<li class="index"><span><img src="img/sprite_nav.png"></span><a href="index.html">Главная</a></li
			><li class="news"><span><img src="img/sprite_nav.png"></span><a href="News2024.html">Новости</a></li
			><li class="prod"><span><img src="img/sprite_nav.png"></span><a href="Prod.html">Продукция</a></li
			><li class="about"><span><img src="img/sprite_nav.png"></span><a href="About.html">О нас</a></li
			><li class="contact"><span><img src="img/sprite_nav.png"></span><a href="Contact.html">Контакты</a></li>
		</ul>
	</nav>
	<a class="tel" href="tel:+78362538039"><span><b class="phone"><i></i></b></span> <strong>+7 (8362) 53-80-39</strong></a>
	<ul class="head_way">
		<li><a href="Contact.html">Контакты</a></li>
	</ul>
</header>
<main>
	<h2>Контактная информация</h2>
	<div class="pages" id="contact">
		<div>
			<article>
				<h3><b>Юридический адрес</b></h3>
				<p>425231, Россия, Республика Марий Эл, Медведевский район, п. Руэм, ул. Победы, д. 10</p>
			</article>
			<article>
				<h3><b>Режим работы</b></h3>
				<p><span>Пн</span><span>Вт</span><span>Ср</span><span>Чт</span><span>Пт</span><span id="red">Сб</span><span id="red">Вс</span></p>
				<p>C 8-00 ч до 17-00 ч. Перерыв на обед с 12-00 ч до 13-00 ч.</p>
			</article>
			<article>
				<h3><b>Директор института</b></h3>
				<p>Виноградов&nbsp;Георгий&nbsp;Михайлович, к.&nbsp;с.-&nbsp;х.&nbsp;н.</p>
				<a href="tel:+78362538010">+7 (8362) 53-80-10</a>
			</article>
			<article>
				<h3><b>Приёмная</b></h3>
				<p>Кольцова&nbsp;Валентина&nbsp;Поликарповна, специалист отд. кадров</p>
				<a href="tel:+78362538039">+7 (8362) 53-80-39</a>
			</article>
			<article>
				<h3><b>Зам. директора по научной работе</b></h3>
				<p>Замятин&nbsp;Сергей&nbsp;Анатольевич, к.&nbsp;с.-&nbsp;х.&nbsp;н.</p>
				<a href="tel:+78362538082">+7 (8362) 53-80-82</a>
			</article>
			<article>
				<h3><b>Бухгалтерия</b></h3>
				<p>Ялаева&nbsp;Надежда&nbsp;Николаевна, глав. бух.</p>
				<a href="tel:+78362538366">+7 (8362) 53-83-66</a>
			</article>
			<article>
				<h3><b>Автор сайта</b></h3>
				<p>Свечников&nbsp;Александр&nbsp;Константинович, н.с. отд. технологий возделывания сельскохозяйственных культур</p>
				<a href="tel:+79278797843">+7 (927) 879-78-43</a>
			</article>
			<article>
				<p>ИНН 1207001789 КПП 120701001 ОКОНХ 95140 ОКПО 00670031 ОГРН 1021201051057</p>
			</article>
		</div>
		<div>
			<article>
				<a href="https://yandex.ru/maps/?um=constructor%3A04a93cdec4e7da2828396ef9505f7a3acbd97734afb1506ea2e3708d12fb46ee&amp;source=constructorStatic" target="_blank">
					<img src="img/home.jpg" alt="Здание НИИ"/>
					<img src="img/map.jpg" alt="Кликните по фото или здесь, чтобы показать месторасположение НИИ на Яндекс.карте"/>
				</a>
				<fieldset>
					<legend>Напишите нам!</legend>
					<form name="MyForm" action="http://марниисх.рф/Contact.php" method="post">
						<label for="name">Имя *</label>
						<input name="name" type="text" id="name" placeholder="Введите Ваше Имя" required/>
						<label for="email">Электронная почта *</label>
						<input name="email" type="text" id="email" placeholder="Например, email@email.ru" required/>
						<label for="sub">Тема сообщения</label>
						<input name="sub" type="text" id="sub"/>
						<label for="body">Сообщение *</label>
						<textarea name="body" id="body" placeholder="Произвольный текст сообщения ..."  required cols="1" rows="5"></textarea>
						<input type="submit" id="submit" value="Отправить"/>
					</form>
				</fieldset>
			</article>
		</div>
	</div>
</main>
</div>
<footer>
	<div class="contacts">
		<div>
			<p><span class="fonts_ico">©</span> 2016-2024</p>
			<p>Марийский НИИСХ - филиал ФГБНУ&nbsp;ФАНЦ Северо-Востока</p>
			<h4><span class="home_ico"><em></em><i></i></span> Почтовый адрес</h4>
			<p class="adress">425231, Россия, Республика&nbsp;Марий&nbsp;Эл, Медведевский&nbsp;район, посёлок&nbsp;Руэм, улица&nbsp;Победы,&nbsp;дом&nbsp;№10</p>
			<h4><span class="email_ico"></span> Электронный адрес</h4>
			<p><a href="mailto:marniish@yandex.ru">marniish<span class="fonts_ico">@</span>yandex.ru</a></p>
		</div>
		<div>
			<h4><span class="phone"><i></i></span> Телефоны</h4>
			<p>Приёмная: <a href="tel:+78362538039">+7 (8362) 53-80-39</a></p>
			<p>Директор:<a href="tel:+78362538010"> +7 (8362) 53-80-10</a></p>
			<h4><span class="phone"><i></i></span></span> Факс</h4>
			<p>+7 (8362) 53-80-82</p>
		</div>
	</div>
	<div class="author">
		<h4><span class="fonts_ico"><img src="img/star.png"></span> Разработчик</h4>
		<a class="vk" href="http://vk.com/koalder">vk</a>
		<a class="email_ico" href="mailto:koalder@yandex.ru"></a>
	</div>
</footer>
</body>
</html>
