<!DOCTYPE html>
<html lang="ru">
<head>
	<title>Синяя жимолость| Марийский НИИСХ - филиал ФБГНУ ФАНЦ Северо-Востока | Официальный сайт</title>
	<meta http-equiv="content-type" content="text/html; charset=utf-8" />
	<meta name="viewport" content="width=device-width">
	<meta name="description" content="Сорта синей жимолости Марийского НИИСХ, филиала ФБГНУ ФАНЦ Северо-Востока">
	<link rel="icon" type="image/png" href="favicon.png"/>
	<link rel="shortcut icon" href="favicon.png" type="image/x-icon">
	<link href="css/style.css" rel="stylesheet">
	<link href="css/news.css" rel="stylesheet">
	<!--[if lte IE 8]>
		<script src="js/html5shiv.js"></script>
		<link href="css/ie8.css" rel="stylesheet">
	<![endif]-->
</head>
<body>
<input type="checkbox" id="nav" hidden>
<nav class="nav_side">
<label for="nav" class="cross" onclick>✕</label>
	<ul class="way">
		<li class="index"><a href="index.html">марниисх.рф</a>
			<ul>
				<li><a href="Prod.html">Продукция</a>
					<ul>
						<li><a href="Jim.html">Жимолость</a></li>
					</ul>
				</li>
			</ul>
		</li>
	</ul>
	<ul class="side">
		<li class="index"><span><img src="img/sprite_nav.png"></span><a href="index.html">Главная</a></li
		><li class="news"><span><img src="img/sprite_nav.png"></span><a href="News2024.html">Новости</a></li
		><li class="prod"><span><img src="img/sprite_nav.png"></span><a href="Prod.html">Продукция</a>
			<ul>
				<li><a href="Grain.html">Зерновые</a></li
				><li><a href="Potato.html">Картофель</a></li
				><li><a href="Grass.html">Многолетние травы</a></li
				><li><a href="Jim.html">Жимолость</a></li>
			</ul>
		</li
		><li class="about"><span><img src="img/sprite_nav.png"></span><a href="About.html">О нас</a>
			<ul>
				<li><a href="About.html">История института</a></li
				><li><a href="Trend.html">Направления деятельности</a></li
				><li><a href="Progress.html">Достижения</a></li
				><li><a href="Article.html">Статьи</a></li>
			</ul>
		</li
		><li class="contact"><span><img src="img/sprite_nav.png"></span><a href="Contact.html">Контакты</a></li
		><li class="price"><span><img src="img/sprite_nav.png"></span><a href="Price.html">Прайс</a></li
		><li class="docs"><span><img src="img/sprite_nav.png"></span><a href="Docs.html">Документы</a></li
		><li class="map"><span><img src="img/sprite_nav.png"></span><a href="Map.html">Карта сайта</a></li>
	</ul>
</nav>
<div class="mask">
	<label for="nav" onclick></label>
</div>
<div class="maket">
<label for="nav" class="burger" onclick>МЕНЮ</label>
<header>
	<h1>
		<span class="n1">
			<span>Марийский</span>
			<span>НИИ</span>
		</span
		><span class="n2">СХ</span
		><span class="n3">
			<span></span>
			<span>филиал ФГБНУ&nbspФАНЦ Северо-Востока</span>
		</span
		><a class="logo" href="index.html">
			<img src="img/Logo.png" alt="Логотип Марийский НИИСХ">
		</a>
	</h1>
	<nav class="nav_main">
		<ul>
			<li class="index"><span><img src="img/sprite_nav.png"></span><a href="index.html">Главная</a></li
			><li class="news"><span><img src="img/sprite_nav.png"></span><a href="News2024.html">Новости</a></li
			><li class="prod"><span><img src="img/sprite_nav.png"></span><a href="Prod.html">Продукция</a></li
			><li class="about"><span><img src="img/sprite_nav.png"></span><a href="About.html">О нас</a></li
			><li class="contact"><span><img src="img/sprite_nav.png"></span><a href="Contact.html">Контакты</a></li>
		</ul>
	</nav>
	<a class="tel" href="tel:+78362538039"><span><b class="phone"><i></i></b></span> <strong>+7 (8362) 53-80-39</strong></a>
	<ul class="head_way">
		<li class="parent"><a href="Prod.html">Продукция</a>
			<ul>
				<li><a href="Jim.html">Жимолость</a>
			</ul>
		</li>
	</ul>
</header>
<main>
<nav class="nav_sub">
	<span>Ещё ↑</span>
	<a href="Grain.html">Зерновые</a>
	<a href="Potato.html">Картофель</a>
	<a href="Grass.html">Многолетние травы</a>
</nav>
<h2>Синяя жимолость</h2>
<div class="pages">
	<div id="news_institute">
	<article>
		<h3><span>Жимолость синяя</span><b>Амфора</b></h3>
		<section>
			<label><input type="checkbox" hidden><img src="J/Amfora.jpg" alt="Амфора. Сорт жимолости"><img src="J/Amfora.jpg" alt="Амфора. Сорт жимолости"></label>
				<p>Среднеспелый, среднерослый (до 1,4 м), с очень круплоплодными (до 3 г.) синими кувшиновидыми ягодами, устойчивый к вторичному    цветению и осыпанию плодов.</p>
				<p>Вкус с легкой кислинкой и привкусом брусники.  Урожайность высокая (1,7-2 кг/ куст). Плоды хорошо переносят транспортировку.</p>
		</section>
	</article>
	<article>
		<h3><span>Жимолость синяя</span><b>Васюганская</b></h3>
		<section>
			<label><input type="checkbox" hidden><img src="J/Vasuganskaya.jpg" alt="Васюганская. Сорт жимолости"><img src="J/Vasuganskaya.jpg" alt="Васюганская. Сорт жимолости"></label>
				<p>Раннеспелый, сильнорослый (1,9 м), со стоговидной кроной и среднеплодными (0,7г) сладковато-кислыми цилиндрическими ягодами, имеющие слабый восоковой налёт.</p>
				<p>Высокая урожайность сопровождается с осыпаемостью плодов.</p>
 		</section>
	</article>
	<article>
		<h3><span>Жимолость синяя</span><b>Виола</b></h3>
		<section>
			<label><input type="checkbox" hidden><img src="J/Viola.jpg" alt="Виола. Сорт жимолости"><img src="J/Viola.jpg" alt="Виола. Сорт жимолости"></label>
				<p>Раннеспелый, сильнорослый (1,7 м) с прямостоячими кустами и крупными (до 3 г) кисло-сладкими удлиненно-овальными ягодами со слабой горчинкой.</p>
				<p>У данного урожайного сорта долго не осыпаются плоды.</p>
		</section>
	</article>
	<article>
		<h3><span>Жимолость синяя</span><b>Голубое веретено</b></h3>
		<section>
			<label><input type="checkbox" hidden><img src="J/GoluboeVereteo.jpg" alt="Голубое веретено. Сорт жимолости"><img src="J/GoluboeVereteo.jpg" alt="Голубое веретено. Сорт жимолости"></label>
				<p>Раннеспелый, среднерослый (0,8-1 м). С крупными (1-1,5 г) кисло-сладкими, веретеновидными ягодами со слабой горчинкой в годы засухи.</p>
				<p>С урожайностью 2-3 кг/куст сорту свойственны неодновременное созревание ягод и лёгкость осыпания.</p>
		</section>
	</article>
	<article>
		<h3><span>Жимолость синяя</span><b>Колокольчик</b></h3>
		<section>
			<label><input type="checkbox" hidden><img src="J/Kolokolchik.jpg" alt="Колокольчик. Сорт жимолости"><img src="J/Kolokolchik.jpg" alt="Колокольчик. Сорт жимолости"></label>
			<p>Раннеспелый, высокорослый (1,8 м) со средними (до 0,9 г) кисло-сладкими колокольчатыми ягодами.</p>
			<p>Урожайность до 1,7 кг с куста. Сорту свойственна осыпаемость зрелых ягод.</p>
		</section>
	</article>
	<article>
		<h3><span>Жимолость синяя</span><b>Кувшиновидная</b></h3>
		<section>
			<label><input type="checkbox" hidden><img src="J/Kuvshinovidnaya.jpg" alt="Кувшиновидная. Сорт жимолости"><img src="J/Kuvshinovidnaya.jpg" alt="Кувшиновидная. Сорт жимолости"></label>
			<p>Среднеспелый, высокорослый (более 1,5 м) с компактным кустом и средними (0,95 г) кисло-сладкими ширококувшино-видными ягодами.</p>
			<p>Урожайность до 2 кг/куст. Сорт слабоосыпаемый.</p>
		</section>
	</article>
	<article>
		<h3><span>Жимолость синяя</span><b>Лакомка</b></h3>
		<section>
			<label><input type="checkbox" hidden><img src="J/Lakomka.jpg" alt="Лакомка. Сорт жимолости"><img src="J/Lakomka.jpg" alt="Лакомка. Сорт жимолости"></label>
			<p>Среднеспелый, высокорослый (более 1,5 м) с компактным кустом и средними (0,95 г) кисло-сладкими ширококувшиновид-ными ягодами</p>
			<p>Урожайность до 2 кг/куст. Сорт слабоосыпаемый.</p>
		</section>
	</article>
	<article>
		<h3><span>Жимолость синяя</span><b>Лебёдушка</b></h3>
		<section>
			<label><input type="checkbox" hidden><img src="J/Lebedushka.jpg" alt="Лебёдушка. Сорт жимолости"><img src="J/Lebedushka.jpg" alt="Лебёдушка. Сорт жимолости"></label>
			<p>Раннеспелый сорт с компактным кустом высотой около 1,5–2 м. Крупные вкусные ягоды с толстой кожицей и повышенным содержанием аскорбиновой кислоты сохраняют товарный вид 5 дней, что делает их транспортабельными .</p>
			<p>Урожайность до 1,5–2,4 кг/куст. </p>
		</section>
	</article>
	<article>
		<h3><span>Жимолость синяя</span><b>Надёжная</b></h3>
		<section>
			<label><input type="checkbox" hidden><img src="J/Nadejnaya.jpg" alt="Надёжная. Сорт жимолости"><img src="J/Nadejnaya.jpg" alt="Надёжная. Сорт жимолости"></label>
			<p>Средне-раннеспелые среднего размера ягоды сине-голубого цвета, с сильным восковым налётом и ароматом. С кисло-сладким вкусом. Сильнорослый округлой формы куст высотой 1,9 м.</p>
			<p>Характерна слабая осыпаемость плодов. Является универсальным сортом-опылителем.</p>
		</section>
	</article>
	<article>
		<h3><span>Жимолость синяя</span><b>Нижегородская ранняя</b></h3>
		<section>
			<label><input type="checkbox" hidden><img src="J/NijegoodskayaRannaya.jpg" alt="Нижегородская ранняя. Сорт жимолости"><img src="J/NijegoodskayaRannaya.jpg" alt="Нижегородская ранняя. Сорт жимолости"></label>
			<p> Кусты раскидистые, полушаровидной формы, высотой 1 м с крупными (1 г) кисло-сладкими (небольшая горчинка) ягодами, обратнояйцевидной формы, с чуть заострённой вершиной и толстой кожицей. </p>
			<p>Урожайность выше средней (до 1,8 кг/ куст). Осыпаемость сильная. Сорт универсального использования. </p>
		</section>
	</article>
	<article>
		<h3><span>Жимолость синяя</span><b>Нижегородский десерт</b></h3>
		<section>
			<label><input type="checkbox" hidden><img src="J/NijegoodskyDessert.jpg" alt="Нижегородский десерт. Сорт жимолости"><img src="J/NijegoodskyDessert.jpg" alt="Нижегородский десерт. Сорт жимолости"></label>
			<p> Среднеранний, способен быстро наращивать урожай из сладких, без горечи, массой 0,9 г ягод. </p>
			<p>Урожайность 5,2 кг/куст. Осыпаемость ниже средней. </p>
		</section>
	</article>
	<article>
		<h3><span>Жимолость синяя</span><b>Нимфа</b></h3>
		<section>
			<label><input type="checkbox" hidden><img src="J/Nimfa.jpg" alt="Нимфа. Сорт жимолости"><img src="J/Nimfa.jpg" alt="Нимфа. Сорт жимолости"></label>
			<p>Среднеспелый со среднерослой округлой кроной, крупными (до 3 г) удлинёнными кисло-сладкими ягодами с очень приятным ароматом. Дегустационная оценка 4,8 балла.</p>
			<p>Плоды устойчивы косыпанию и имеют урожайность около 2 кг/куст.</p>
		</section>
	</article>
	<article>
		<h3><span>Жимолость синяя</span><b>Павловская</b></h3>
		<section>
			<label><input type="checkbox" hidden><img src="J/Pavlovskaya.jpg" alt="Павловская. Сорт жимолости"><img src="J/Pavlovskaya.jpg" alt="Павловская. Сорт жимолости"></label>
			<p>Среднеспелые, кисло-сладкие, десертные, крупные, удлинённые (1,3 г) ягоды с заострённой верхушкой и ширококоническим по форме кустом. По вкусовой оценке 4,6 балла.</p>
			<p>Характерна осыпаемость плодов и устойчивость ко вторичному осеннему цветению.</p>
		</section>
	</article>
	<article>
		<h3><span>Жимолость синяя</span><b>Подарок Дергунову</b></h3>
		<section>
			<label><input type="checkbox" hidden><img src="J/PodarokDergunovu.jpg" alt="Подарок Дергунову. Сорт жимолости"><img src="J/PodarokDergunovu.jpg" alt="Подарок Дергунову. Сорт жимолости"></label>
			<p>Очень раннеспелый, урожайный (до 5,8 кг/куст) сорт с ягодами десертного вкуса массой (0,9–1,6 г) с округлым прямостоячим кустом в 1,9 м.</p>
		</section>
	</article>
	<article>
		<h3><span>Жимолость синяя</span><b>Поздняя из Павлоска</b></h3>
		<section>
			<label><input type="checkbox" hidden><img src="J/PozdnayaIzPavlovska.jpg" alt="Поздняя из Павлоска" align="left" hspace="10" vspace="5"><img src="J/PozdnayaIzPavlovska.jpg" alt="Поздняя из Павлоска" align="left" hspace="10" vspace="5"></label>
			<p>Среднеранний с округлым прямостоячим кустом в 1,9 м. Ягоды кисло-сладкие, сине-голубые, ароматные, узкокувшиновидные.</p>
			<p>Плоды с низкой осыпаемостью.</p>
		</section>
	</article>
	<article>
		<h3><span>Жимолость синяя</span><b>Синяя птица</b></h3>
		<section>
			<label><input type="checkbox" hidden><img src="J/SinayaPtica.jpg" alt="Синяя птица. Сорт жимолости"><img src="J/SinayaPtica.jpg" alt="Синяя птица. Сорт жимолости"></label>
			<p>Раннеспелый, среднерослый (до 1,3 м) сорт со сладкими овальными, тёмно-синими с восковым налётом ягодами (0,8–0,9 г) с превосходным ароматом.</p>
			<p>Плоды устойчивы к осыпанию при средней урожайности 1–2 кг/куст.</p>
		</section>
	</article>
	<article>
		<h3><span>Жимолость синяя</span><b>Томичка</b></h3>
		<section>
			<label><input type="checkbox" hidden><img src="J/Toomichka.jpg" alt="Томичка. Сорт жимолости"><img src="J/Toomichka.jpg" alt="Томичка. Сорт жимолости"></label>
			<p>Среднерослые кусты имеют раннеспелые десертные ягоды массой 0,7–0,9 г и урожайностью в 1–2,3 кг/куст. </p>
			<p>Сильная осыпаемость ягод сопровождается неодновременным созреванием.</p>
		</section>
	</article>
	<article>
		<h3><span>Жимолость синяя</span><b>Фиалка</b></h3>
		<section>
			<label><input type="checkbox" hidden><img src="J/Fialka.jpg" alt="Фиалка. Сорт жимолости"><img src="J/Fialka.jpg" alt="Фиалка. Сорт жимолости"></label>
			<p>Среднепозднеспелый, среднерослый куст с крупными, удлинёнными, кувшинковидными, плотной кожицей кисло-сладкими ягодами с заострённой верхушкой, с вкусовой оценкой в 4,3 балла и повышенным содержанием витамина С.</p>
			<p>Урожайность в 1,8 кг/куст, с устойчивостью к осыпанию плодов.</p>
		</section>
	</article>
	<article>
		<h3><span>Жимолость синяя</span><b>Элитная форма № 39</b></h3>
		<section>
			<label><input type="checkbox" hidden><img src="J/ElitnayaForma39.jpg" alt="Элитная форма № 39. Сорт жимолости"><img src="J/ElitnayaForma39.jpg" alt="Элитная форма № 39. Сорт жимолости"></label>
			<p>Раннеспелые крупноплодные (1,1–1,5 г) ягоды урожайностью около 1,9 кг/куст с дегустационной оценкой 3,7 баллов.</p>
			<p>Сорт новый.</p>
		</section>
	</article>
	<article>
		<h3><span>Жимолость синяя</span><b>Элитная форма № 81</b></h3>
		<section>
			<label><input type="checkbox" hidden><img src="J/ElitnayaForma81.jpg" alt="Элитная форма № 81. Сорт жимолости"><img src="J/ElitnayaForma81.jpg" alt="Элитная форма № 81. Сорт жимолости"></label>
			<p>Сорт крупноплодный (1,4 г), высокоурожайный (1,7 кг/куст). Ягоды с высоким содержанием витамина С и дегустационной оценкой в 3,4 балла.</p>
			<p> Сорт новый.</p>
 		</section>
	</article>
	<article>
		<p>Заведующий лабораторией садоводства: с.н.с. <b>Головунин Владимир Павлович</b></p>
	</article>
	</div>
</main>
</div>
<footer>
	<div class="contacts">
		<div>
			<p><span class="fonts_ico">©</span> 2016-2024</p>
			<p>Марийский НИИСХ - филиал ФГБНУ&nbsp;ФАНЦ Северо-Востока</p>
			<h4><span class="home_ico"><em></em><i></i></span> Почтовый адрес</h4>
			<p class="adress">425231, Россия, Республика&nbsp;Марий&nbsp;Эл, Медведевский&nbsp;район, посёлок&nbsp;Руэм, улица&nbsp;Победы,&nbsp;дом&nbsp;№10</p>
			<h4><span class="email_ico"></span> Электронный адрес</h4>
			<p><a href="mailto:marniish@yandex.ru">marniish<span class="fonts_ico">@</span>yandex.ru</a></p>
		</div>
		<div>
			<h4><span class="phone"><i></i></span> Телефоны</h4>
			<p>Приёмная: <a href="tel:+78362538039">+7 (8362) 53-80-39</a></p>
			<p>Директор:<a href="tel:+78362538010"> +7 (8362) 53-80-10</a></p>
			<h4><span class="phone"><i></i></span> Факс</h4>
			<p>+7 (8362) 53-80-82</p>
		</div>
	</div>
	<div class="author">
		<h4><span class="fonts_ico"><img src="img/star.png"></span> Разработчик</h4>
		<a class="vk" href="http://vk.com/koalder">vk</a>
		<a class="email_ico" href="mailto:koalder@yandex.ru"></a>
	</div>
</footer>
</body>
</html>
