<!DOCTYPE html>
<html lang="ru">
<head>
	<title>Новости за 2016 год | Марийский НИИСХ - филиал ФБГНУ ФАНЦ Северо-Востока | Официальный сайт</title>
	<meta http-equiv="content-type" content="text/html; charset=utf-8" />
	<meta name="viewport" content="width=device-width">
	<meta name="description" content="Новости института за 2016 год Марийского НИИСХ, филиала ФБГНУ ФАНЦ Северо-Востока">
	<link rel="icon" type="image/png" href="favicon.png"/>
	<link rel="shortcut icon" href="favicon.png" type="image/x-icon">
	<link href="css/style.css" rel="stylesheet">
	<link href="css/news.css" rel="stylesheet">
	<!--[if lte IE 8]>
		<script src="js/html5shiv.js"></script>
		<link href="css/ie8.css" rel="stylesheet">
	<![endif]-->
</head>
<body>
<input type="checkbox" id="nav" hidden>
<nav class="nav_side">
<label for="nav" class="cross" onclick>✕</label>
	<ul class="way">
		<li class="index"><a href="index.html">марниисх.рф</a>
			<ul>
				<li><a href="News2024.html">Новости</a>
					<ul>
						<li><a href="News2016.html">За 2016 год</a></li>
					</ul>
				</li>
			</ul>
		</li>
	</ul>
	<ul class="side">
		<li class="index"><span><img src="img/sprite_nav.png"></span><a href="index.html">Главная</a></li
		><li class="news"><span><img src="img/sprite_nav.png"></span><a href="News.html">Новости</a></li
		><li class="prod"><span><img src="img/sprite_nav.png"></span><a href="Prod.html">Продукция</a>
			<ul>
				<li><a href="Grain.html">Зерновые</a></li
				><li><a href="Potato.html">Картофель</a></li
				><li><a href="Grass.html">Многолетние травы</a></li
				><li><a href="Jim.html">Жимолость</a></li>
			</ul>
		</li
		><li class="about"><span><img src="img/sprite_nav.png"></span><a href="About.html">О нас</a>
			<ul>
				<li><a href="About.html">История института</a></li
				><li><a href="Trend.html">Направления деятельности</a></li
				><li><a href="Progress.html">Достижения</a></li
				><li><a href="Article.html">Статьи</a></li>
			</ul>
		</li
		><li class="contact"><span><img src="img/sprite_nav.png"></span><a href="Contact.html">Контакты</a></li
		><li class="price"><span><img src="img/sprite_nav.png"></span><a href="Price.html">Прайс</a></li
		><li class="docs"><span><img src="img/sprite_nav.png"></span><a href="Docs.html">Документы</a></li
		><li class="map"><span><img src="img/sprite_nav.png"></span><a href="Map.html">Карта сайта</a></li>
	</ul>
</nav>
<div class="mask">
	<label for="nav" onclick></label>
</div>
<div class="maket">
<label for="nav" class="burger" onclick>МЕНЮ</label>
<header>
	<h1>
		<span class="n1">
			<span>Марийский</span>
			<span>НИИ</span>
		</span
		><span class="n2">СХ</span
		><span class="n3">
			<span></span>
			<span>филиал ФГБНУ&nbspФАНЦ Северо-Востока</span>
		</span
		><a class="logo" href="index.html">
			<img src="img/Logo.png" alt="Логотип Марийский НИИСХ">
		</a>
	</h1>
	<nav class="nav_main">
		<ul>
			<li class="index"><span><img src="img/sprite_nav.png"></span><a href="index.html">Главная</a></li
			><li class="news"><span><img src="img/sprite_nav.png"></span><a href="News.html">Новости</a></li
			><li class="prod"><span><img src="img/sprite_nav.png"></span><a href="Prod.html">Продукция</a></li
			><li class="about"><span><img src="img/sprite_nav.png"></span><a href="About.html">О нас</a></li
			><li class="contact"><span><img src="img/sprite_nav.png"></span><a href="Contact.html">Контакты</a></li>
		</ul>
	</nav>
	<a class="tel" href="tel:+78362538039"><span><b class="phone"><i></i></b></span> <strong>+7 (8362) 53-80-39</strong></a>
	<ul class="head_way">
		<li class="parent"><a href="News2024.html">Новости</a>
			<ul>
				<li><a href="News2016.html">За 2016 год</a></li>
			</ul>
		</li>
	</ul>
</header>
<main>
<nav class="nav_sub">
	<span>Ещё ↑</span>
	<a href="News2016.html">За 2016 год</a>
	<a href="News2017.html">За 2017 год</a>
	<a href="News2018.html">За 2018 год</a>
	<a href="News2019.html">За 2019 год</a>
	<a href="News2020.html">За 2020 год</a>
	<a href="News2021.html">За 2021 год</a>
	<a href="News2022.html">За 2022 год</a>
	<a href="News2023.html">За 2023 год</a>
	<a href="News2024.html">За 2024 год</a>
</nav>
<h2>Новости института за 2016 год</h2>
<div class="pages">
	<div id="news_institute">
	<article>
		<h3>Ответственные исполнители отчитались по заданиям НИР за 2016 год</h3>
		<time datetime="2016-12-16">3 декабря 2016 года</time>
		<section>
			<p>Третьего декабря состоялось очередное заседание Ученого совета, в работе которого приняли участие специалисты отдела растениеводства и технической политики Министерства сельского хозяйства и продовольствия Республики Марий Эл.</p>
			<p>На Ученом совете были заслушаны ответственные исполнители с докладами о проведении в этом году исследований, входящих в госзадание института, выполняемого в соответствии с Программой фундаментальных научных исследований государственных академий наук на 2013-2020. Кроме того,  по итогам своей деятельности выступили непосредственные исполнители договорных и инициативных тематик.</p>
			<p>После обсуждения заслушанных отчетов Ученый совет отметил качественный уровень исполнения научно-исследовательских работ, высокий уровень информативности завершенных разработок и их значение для сельскохозяйственных товаропроизводителей. Члены Ученого совета сделали ряд замечаний и предложений, которые необходимо в дальнейшем учесть при проведении инициативных и договорных тематик.</p>
		</section>
	</article>
	<article>
		<h3>Встреча с селекционером</h3>
		<time datetime="2016-09-21">21 сентября 2016 года</time>
		<section>
			<label><input type="checkbox" hidden><img src="N/Corn2016.jpg" alt="Экспертная комиссия и сотрудники в приёмке опыта"><img src="N/Corn2016.jpg" alt="Экспертная комиссия и сотрудники в приёмке опыта"></label>
				<p>21 сентября сотрудники  отдела кормопроизводства приняли участие в деловой встрече с селекционером по  кукурузе, доктором с.-х. наук, директором Воронежского филиала Всероссийского  НИИ кукурузы Орлянским Николаем Алексеевичем. В ходе встречи обсудили вопросы  дальнейшего сотрудничества по испытанию гибридов кукурузы на зерно в условиях  Республики Марий Эл.</p>
		</section>
	</article>
	<article>
		<h3>Республика убирает урожай и готовится к севу озимых</h3>
		<time datetime="2016-08-09">9 августа 2016 года</time>
		<section>
			<label><input type="checkbox" hidden><img src="N/Tumiumuchash.jpg" alt="Сотрудники на базе ООО «Тумьюмучаш»"><img src="N/Tumiumuchash.jpg" alt="Сотрудники на базе ООО «Тумьюмучаш»"></label>
			<p>Директор института  Виноградов Георгий Михайлович и заведующий отделом семеноводства  сельскохозяйственных культур Максимов Владимир Алексеевич  приняли участие в работе выездного  республиканского совещания «Предварительные результаты хода уборочных работ в хозяйствах республики, подготовки сельхозтоваропроизводителей  к озимому севу и готовности помещений для сельскохозяйственных животных к  зимнему периоду», состоявшемся на базе ООО «Тумьюмучаш» Куженерского района.</p>
			<p>Совещание прошло под  председательством заместителя Председателя Правительства Республики Марий Эл,  министра сельского хозяйства и продовольствия Ираиды Борисовны Долгушевой. В своем докладе она отметила,  что в хозяйствах республики опережающими темпами идет уборка зерновых и  зернобобовых культур. Зерновые убраны на площади 32,6 тыс. га, что составляет  24 процента от общей посевной площади. Намолочено зерна в бункерном весе 73  тыс. т, при средней  урожайности 22,4 ц/га. Успешно идет заготовка грубых и сочных кормов и подготовка помещений для общественного животноводства к зимнему периоду.</p>
			<p>В ходе совещания между участниками состоялся конструктивный  обмен мнениями по вопросам кормозаготовки, ходу уборочных работ, предстоящему  севу озимых культур.</p>
		</section>
	</article>
	<article>
		<h3>Экспертная комиссия провела приемку полевых опытов</h3>
		<time datetime="2016-07-01">1 июля 2016 года</time>
		<section>
			<label><input type="checkbox" hidden><img src="N/Priomka2016_1.jpg" alt="Экспертная комиссия и сотрудники в приёмке опыта"><img src="N/Priomka2016_1.jpg" alt="Экспертная комиссия и сотрудники в приёмке опыта"></label>
			<label><input type="checkbox" hidden><img src="N/Priomka2016_2.jpg" alt="Экспертная комиссия и сотрудники в приёмке опыта"><img src="N/Priomka2016_2.jpg" alt="Экспертная комиссия и сотрудники в приёмке опыта"></label>
			<p>Закончила свою работу экспертная комиссия по инвентаризации и приёмке полевых опытов и этапов выполнения НИР в ФГБНУ Марийский НИИСХ на 2016 год.</p>
			<p>В состав комиссии входили: ведущие ученые института, руководитель отдела растениеводства и технической политики министерства сельского хозяйства и продовольствия Республики Марий Эл, представитель Марийского филиала ФГБУ «Госсорткомиссия», руководитель филиала ФГБУ «Россельхозцентр» по Республике Марий Эл, начальник Управления сельского хозяйства администрации муниципального образования «Медведевский муниципальный район».</p>
			<p>Комиссия высоко оценила работу исследователей и констатирует, что на момент приемки все полевые опыты имеются в наличии и проводятся согласно ранее утвержденным рабочим программам и календарным планам на 2016 год. Первичная научная документация оформлена согласно предъявляемым требованиям и отражает весь спектр запланированных и проводимых наблюдений.</p>
		</section>
	</article>
	<article>
		<h3>Коллектив работников института провёл видовую и сортовую прополку семенных посевов озимых зерновых культур</h3>
		<time datetime="2016-06-17">14–17 июня 2016 года</time>
		<section>
			<label><input type="checkbox" hidden><img src="N/Genocid2016.jpg" alt="Сотрудники в видовой прополке озимой пшеницы"><img src="N/Genocid2016.jpg" alt="Сотрудники в видовой прополке озимой пшеницы"></label>
		</section>
	</article>
	<article>
		<h3>Учёные института приняли участие в республиканском выездном совещании «Об итогах весенне-полевых работ 2016 года, задачах по организованному проведению заготовки кормов и подготовке помещений для сельскохозяйственных животных» – День поля 2016</h3>
		<time datetime="2016-06-07">7 июня 2016 года</time>
		<section>
			<label><input type="checkbox" hidden><img src="N/Day2016.jpg" alt="Сотрудники в День поля 2016"><img src="N/Day2016.jpg" alt="Сотрудники в День поля 2016"></label>
			<p>Исполняющий обязанности директора института Изместьев  Владимир Михайлович и его заместитель по научной работе Замятин Сергей  Анатольевич  приняли участие в работе выездного  республиканского совещания «Об  итогах весенне-полевых работ 2016 года, задачах по организованному проведению  заготовки кормов и подготовке помещений для сельскохозяйственных животных»,  состоявшемся на базе предприятий Волжского района под председательством заместителя Председателя Правительства Республики  Марий Эл, министра сельского хозяйства и продовольствия Ираиды Борисовны Долгушевой.</p>
			<p>В докладе  министра сельского хозяйства и продовольствия  Республики Марий Эл сделан анализ результатов выполнения плановых  показателей аграрной отрасли республики по итогам 5 месяцев текущего года и  намечены основные задачи на перспективу.</p>
			<p>В ходе совещания участники посетили комбикормовый  завод ООО «Птицефабрика Акашевская» (п. Приволжский), производственные объекты сельскохозяйственных  товаропроизводителей Волжского района. Конструктивный диалог участников  совещания по вопросам кормозаготовки, уходу за посевами сельскохозяйственных  культур, вопросам овощеводства и хранения овощеводческой продукции  состоялся на растениеводческих объектах и  полях ООО СХП «Москва», крестьянского хозяйства В.А. Семёнова, индивидуального предпринимателя  А.В. Пушкина, ООО «Эмеково».			</p>
			<p>В рамках совещания институт представил свою выставочную экспозицию, в  которой были отражены результаты законченных научно-исследовательских разработок  и предложения хозяйствам республики по семеноводству районированных сортов  сельскохозяйственных культур.</p>
		</section>
	</article>
	<article>
		<h3>Агросеминар «Эффективность систем некорневого питания растений препаратами российского производства. Опыт работы хозяйств Приволжского Федерального Округа»</h3>
		<time datetime="2016-05-27">27 мая 2016 года</time>
		<section>
			<p>Марийские ученые, в том числе,  заместитель директора по научной работе ФГБНУ Марийского НИИСХ Замятин Сергей Анатольевич приняли участие в работе выездного агросеминара «Эффективность систем некорневого питания растений препаратами российского производства. Опыт работы хозяйств Приволжского Федерального Округа». Семинар был организован компанией ООО «АТК «СевЗапАгро» и проведен на базе КФХ Семенова В.Н. «ЭнежЪ» Чувашской Республики.</p>
			<p>Участники семинара ознакомились с продукцией компании ООО «АТК «СевЗапАгро» и эффективностью её практического примения при производстве овощей и картофеля в хозяйствах Чувашской Республики.</p>
		</section>
	</article>
	<article>
		<h3>Договоры заключённые по аукциону</h3>
		<time datetime="2016-04-29">29 апреля 2016 года</time>
		<section>
		<p>С документами можно ознакомиться по следующей ссылке</p>
		<p><a href="Docs.html" target="_blank">Перейти</a></p>
		</section>
	</article>
	<article>
		<h3>Семинар «Обустройство сельскохозяйственных территорий» с менеджерами и аппаратом управления Моркинского муниципального района Республики Марий Эл»</h3>
		<time datetime="2016-04-28">28 апреля 2016 года</time>
		<section>
			<p>Заместитель директора по научной части, кандидат сельскохозяйственных наук Сергей Анатольевич Замятин и ведущий научный сотрудник кандидат сельскохозяйственных наук, Заслуженный деятель науки Республики Марий Эл Владимир Михайлович Изместьев 28 апреля провели выездной семинар «Обустройство сельскохозяйственных территорий» с менеджерами и аппаратом управления Моркинского муниципального района Республики Марий Эл».</p>
		</section>
	</article>
	<article>
		<h3>XVIII Международная научно-практическая конференция «Актуальные вопросы совершенствования технологии производства и переработки продукции сельского хозяйства. Мосоловские чтения»</h3>
		<time datetime="2016-03-28">28 марта 2016 года</time>
		<section>
			<label><input type="checkbox" hidden><img src="N/MosolovRead2016.jpg" alt="Участие сотрудников в Мосоловских чтениях»"><img src="N/MosolovRead2016.jpg" alt="Участие сотрудников в Мосоловских чтениях»"></label>
			<p>С 17 по 18 марта в Аграрно-технологическом институте сотрудники института участвовали в XVIII Международной научно-практической конференции «Актуальные вопросы совершенствования технологии производства и переработки продукции сельского хозяйства. Мосоловские чтения».</p>
		</section>
	</article>
	</div>
	<aside id="news_archive">
		<h3>Архив новостей</h3>
		<a href="News2016.html">2016</a>
		<a href="News2017.html">2017</a>
		<a href="News2018.html">2018</a>
		<a href="News2019.html">2019</a>
		<a href="News2020.html">2020</a>
		<a href="News2021.html">2021</a>
		<a href="News2022.html">2022</a>
		<a href="News2023.html">2023</a>
		<a href="News2024.html">2024</a>
	</aside>
</div>
</main>
</div>
<footer>
	<div class="contacts">
		<div>
			<p><span class="fonts_ico">©</span> 2016-2024</p>
			<p>Марийский НИИСХ - филиал ФГБНУ&nbsp;ФАНЦ Северо-Востока</p>
			<h4><span class="home_ico"><em></em><i></i></span> Почтовый адрес</h4>
			<p class="adress">425231, Россия, Республика&nbsp;Марий&nbsp;Эл, Медведевский&nbsp;район, посёлок&nbsp;Руэм, улица&nbsp;Победы,&nbsp;дом&nbsp;№10</p>
			<h4><span class="email_ico"></span> Электронный адрес</h4>
			<p><a href="mailto:marniish@yandex.ru">marniish<span class="fonts_ico">@</span>yandex.ru</a></p>
		</div>
		<div>
			<h4><span class="phone"><i></i></span> Телефоны</h4>
			<p>Приёмная: <a href="tel:+78362538039">+7 (8362) 53-80-39</a></p>
			<p>Директор:<a href="tel:+78362538010"> +7 (8362) 53-80-10</a></p>
			<h4><span class="phone"><i></i></span> Факс</h4>
			<p>+7 (8362) 53-80-82</p>
		</div>
	</div>
	<div class="author">
		<h4><span class="fonts_ico"><img src="img/star.png"></span> Разработчик</h4>
		<a class="vk" href="http://vk.com/koalder">vk</a>
		<a class="email_ico" href="mailto:koalder@yandex.ru"></a>
	</div>
</footer>
</body>
</html>
