<!DOCTYPE html>
<html lang="ru">
<head>
	<title>Новости за 2023 год | Марийский НИИСХ - филиал ФБГНУ ФАНЦ Северо-Востока | Официальный сайт</title>
	<meta http-equiv="content-type" content="text/html; charset=utf-8" />
	<meta name="viewport" content="width=device-width">
	<meta name="description" content="Новости института Марийского НИИСХ, филиала ФБГНУ ФАНЦ Северо-Востока">
	<link rel="icon" type="image/png" href="favicon.png"/>
	<link rel="shortcut icon" href="favicon.png" type="image/x-icon">
	<link href="css/style.css" rel="stylesheet">
	<link href="css/news.css" rel="stylesheet">
	<!--[if lte IE 8]>
		<script src="js/html5shiv.js"></script>
		<link href="css/ie8.css" rel="stylesheet">
	<![endif]-->
</head>
<body>
<input type="checkbox" id="nav" hidden>
<nav class="nav_side">
<label for="nav" class="cross" onclick>✕</label>
	<ul class="way">
		<li class="index"><a href="index.html">марниисх.рф</a>
			<ul>
				<li><a href="News2024.html">Новости</a>
					<ul>
						<li><a href="News2023.html">За 2023 год</a></li>
					</ul>
				</li>
			</ul>
		</li>
	</ul>
	<ul class="side">
		<li class="index"><span><img src="img/sprite_nav.png"></span><a href="index.html">Главная</a></li
		><li class="news"><span><img src="img/sprite_nav.png"></span><a href="News.html">Новости</a></li
		><li class="prod"><span><img src="img/sprite_nav.png"></span><a href="Prod.html">Продукция</a>
			<ul>
				<li><a href="Grain.html">Зерновые</a></li
				><li><a href="Potato.html">Картофель</a></li
				><li><a href="Grass.html">Многолетние травы</a></li
				><li><a href="Jim.html">Жимолость</a></li>
			</ul>
		</li
		><li class="about"><span><img src="img/sprite_nav.png"></span><a href="About.html">О нас</a>
			<ul>
				<li><a href="About.html">История института</a></li
				><li><a href="Trend.html">Направления деятельности</a></li
				><li><a href="Progress.html">Достижения</a></li>
			</ul>
		</li
		><li class="contact"><span><img src="img/sprite_nav.png"></span><a href="Contact.html">Контакты</a></li
		><li class="price"><span><img src="img/sprite_nav.png"></span><a href="Price.html">Прайс</a></li
		><li class="docs"><span><img src="img/sprite_nav.png"></span><a href="Docs.html">Документы</a></li
		><li class="map"><span><img src="img/sprite_nav.png"></span><a href="Map.html">Карта сайта</a></li>
	</ul>
</nav>
<div class="mask">
	<label for="nav" onclick></label>
</div>
<div class="maket">
<label for="nav" class="burger" onclick>МЕНЮ</label>
<header>
	<h1>
		<span class="n1">
			<span>Марийский</span>
			<span>НИИ</span>
		</span
		><span class="n2">СХ</span
		><span class="n3">
			<span></span>
			<span>филиал ФГБНУ&nbspФАНЦ Северо-Востока</span>
		</span
		><a class="logo" href="index.html">
			<img src="img/Logo.png" alt="Логотип Марийский НИИСХ">
		</a>
	</h1>
	<nav class="nav_main">
		<ul>
			<li class="index"><span><img src="img/sprite_nav.png"></span><a href="index.html">Главная</a></li
			><li class="news"><span><img src="img/sprite_nav.png"></span><a href="News.html">Новости</a></li
			><li class="prod"><span><img src="img/sprite_nav.png"></span><a href="Prod.html">Продукция</a></li
			><li class="about"><span><img src="img/sprite_nav.png"></span><a href="About.html">О нас</a></li
			><li class="contact"><span><img src="img/sprite_nav.png"></span><a href="Contact.html">Контакты</a></li>
		</ul>
	</nav>
	<a class="tel" href="tel:+78362538039"><span><b class="phone"><i></i></b></span> <strong>+7 (8362) 53-80-39</strong></a>
	<ul class="head_way">
		<li class="parent"><a href="News2024.html">Новости</a>
			<ul>
				<li><a href="News2023.html">За 2023 год</a></li>
			</ul>
		</li>
	</ul>
</header>
<main>
<nav class="nav_sub">
	<span>Ещё ↑</span>
	<a href="News2016.html">За 2016 год</a>
	<a href="News2017.html">За 2017 год</a>
	<a href="News2018.html">За 2018 год</a>
	<a href="News2019.html">За 2019 год</a>
	<a href="News2020.html">За 2020 год</a>
	<a href="News2021.html">За 2021 год</a>
	<a href="News2022.html">За 2022 год</a>
	<a href="News2023.html">За 2023 год</a>
	<a href="News2024.html">За 2024 год</a>
</nav>
<h2>Новости института</h2>
<div class="pages">
	<div id="news_institute">
	<article>
		<h3>Марийский НИИСХ – филиал ФБГНУ ФАНЦ Северо-Востока проводит реализацию семян яровой пшеницы, ярового ячменя и озимой ржи</h3>
		<time datetime="2023-11-30">30 ноября 2023 года</time>
		<section>
			<p><a href="Price.html">Прайс-лист</a></p>
		</section>
    </article>
      <article>
		<h3>18 июля на поле Марийского НИИСХ состоялся семинар-совещание: «Оценка демонстрационных посевов сельскохозяйственных культур, заложенных в рамках проведения республиканского Дня поля – 2023»</h3>
		<time datetime="2023-07-19">19 июля 2023 года</time>
		<section>
		  <label><input type="checkbox" hidden><img src="N/Seminar1.jpg" alt="Участники семинара"><img src="N/Seminar1.jpg" alt="Участники семинара"></label>
          <label><input type="checkbox" hidden><img src="N/Seminar4.jpg" alt="Участники семинара"><img src="N/Seminar4.jpg" alt="Участники семинара"></label>
          <label><input type="checkbox" hidden><img src="N/Seminar3.jpg" alt="Участники семинара"><img src="N/Seminar3.jpg" alt="Участники семинара"></label>
          <label><input type="checkbox" hidden><img src="N/Seminar2.jpg" alt="Участники семинара"><img src="N/Seminar2.jpg" alt="Участники семинара"></label>
          <p>Его участниками стали руководители и специалисты федеральных, республиканских организаций, руководители и специалисты управлений (отделов) сельского хозяйства, ответственные работники Министерства сельского хозяйства и продовольствия республики Марий Эл, ведущие поставщики средств защиты растений и минеральных удобрений, главы крестьянских фермерских хозяйств.</p>
	      <p>С приветственным словом выступил Директор Марийского НИИСХ – филиала ФГБНУ ФАНЦ Северо-Востока Виноградов Г.М.</p>
		  <p>Руководитель филиала ФГБУ «Россельхозцентр» по Республике Марий Эл Стариков А.М. ознакомил участников с ассортиментом выпускаемых филиалом биопрепаратов.</p>
          <p>Тему применения биопрепаратов продолжила специалист ФГБУ САС «Марийская» - Халтурина Н.И.</p>
          <p>С подробным докладом перед участниками семинара выступила агроном семеноводческого хозяйства республики ЗАО ПЗ «Семеновский» - Рябинина Д.Х., которая рассказала о культурах, сортах, оригинаторах данных сортов, перспективе каждого сорта, возделываемых в хозяйстве. Довела информацию об имеющихся семенах, предназначенных для реализации, в том числе для озимого сева.</p>
          <p>О применении средств защиты растений «ЩелковоАгрохим» на демонстрационных участках рассказал Андреев М.И. – руководитель службы агросопровождения ООО «Биосфера». Продолжил совещание менеджер «Агролидер Поволжья» Головлев А.В. на тему «О посевах гибридов кукурузы, заложенных в рамках Дня поля 2023», научные сотрудники Марийского НИИСХ Свечников А.К. ознакомил участников с темой: «Насыщенность смешанными культурами зернотравянных севооборотов», а Лапшин Ю.А. – «Применение средств защиты растений на посевах ярового тритиакле».</p>
          <p>Далее участники имели возможность провести осмотр сортовых посевов, заложенных на полях института.</p>
		</section>
	  </article>
      <article>
		<h3>30 июня 2023 г. на территории Медведевского ипподрома состоялся Республиканская выставка «День поля – 2023»</h3>
		<time datetime="2023-07-04">04 июля 2023 года</time>
		<section>
			<label><input type="checkbox" hidden><img src="N/Day2023_0.jpg" alt="День поля"><img src="N/Day2023_0.jpg" alt="День поля"></label>
			<label><input type="checkbox" hidden><img src="N/Day2023_1.jpg" alt="День поля"><img src="N/Day2023_1.jpg" alt="День поля"></label>
			<label><input type="checkbox" hidden><img src="N/Day2023_4.jpg" alt="День поля"><img src="N/Day2023_4.jpg" alt="День поля"></label>
			<p>Мероприятие на данной территории проводится второй год с целью показа сельскохозяйственной техники и оборудования, осмотра выставочных стендов и ознакомления с новейшими достижениями различных направлений отрасли, взаимодействия с научными центрами и поставщиками материальных ресурсов.</p>
			<p>На дне поля приняли участие около 60 поставщиков из 8 регионов России (Республика Марий Эл, Республика Чувашия, Республика Татарстан, Республика Мордовия, Московская, Кировская, Нижегородская, Ульяновская области) с широкой линейкой сельскохозяйственной техники и оборудования (120 единиц самоходной и прицепной техники). Выставлены экспозиции средств защиты растений и минеральных удобрений.</p>
			<p>В мероприятии приняли участие руководители, специалисты федеральных, республиканских и образовательных учреждений, муниципальных районов, сельскохозяйственных организаций, главы крестьянских (фермерских) хозяйств, представители научных учреждений (ФГБНУ Федеральный аграрный научный центр Северо-Востока им. Н.В. Рудницкого»).</p>
			<label><input type="checkbox" hidden><img src="N/Day2023_2.jpg" alt="Виноградов"><img src="N/Day2023_2.jpg" alt="Виноградов"></label>
			<label><input type="checkbox" hidden><img src="N/Day2023_3.jpg" alt="Устюжанин"><img src="N/Day2023_3.jpg" alt="Устюжанин"></label>
			<p>По отдельной программе прошло проведение 2-х секций пленарного заседания на тему «Развитие сельского хозяйства с использованием возможностей цифровых платформ» и «Питание сельскохозяйственных растений» с участием научного сообщества и сельхозтоваропроизводителей республики, на котором выступили директор ФГБНУ ФАНЦ Северо-Востока Устюжанин Игорь Александрович и директор Марийского НИИСХ – Виноградов Георгий Михайлович.</p>
			<p>В рамках подготовки к проведению республиканского «Дня поля 2023 г.», на землях Марийского НИИСХ заложены демонстрационные посевы сельскохозяйственных культур от 14 оригинаторов.</p>
		</section>
	</article>
	<article>
		<h3>29 июня 2023 года в Марийском НИИСХ – филиале ФГБНУ ФАНЦ Северо-Востока прошла инвентаризация полевых опытов</h3>
		<time datetime="2023-07-03">03 июля 2023 года</time>
		<section>
			<label><input type="checkbox" hidden><img src="N/Priomka2023.jpg" alt="Участники приёмки опыта"><img src="N/Priomka2023.jpg" alt="Участники приёмки опыта"></label>
			<p>В состав экспертной комиссии вошли: Устюжанин Игорь Александрович (председатель) – директор ФГБНУ ФАНЦ Северо-Востока; Носкова Евгения Николаевна – к.с.-х.н., с.н.с. лаборатории земледелия агрохимии и кормопроизводства ФАНЦ Северо-Востока; Башлакова Ольга Николаевна – к.с-х.н., с.н.с. отдела семеноводства ФАНЦ Северо-Востока; Виноградов Георгий Михайлович – директор Марийского НИИСХ – филиала ФГБНУ ФАНЦ Северо-Востока; Замятин Сергей Анатольевич – и.о. зам.директора по научной работе Марийского НИИСХ; Лапшин Юрий Алексеевич – в.н.с. Марийского НИИСХ – филиала ФГБНУ ФАНЦ Северо-Востока; Габдуллин Вильдан Равильевич – к.с.-х.н. директор ФГБНУ станция агрохимической службы «Марийская».</p>
			<p>Комиссии были представлены демонстрационные посевы яровых культур, опытные делянки ярового тритикале, смешанных посевов зернотравяных севооборотов, селекции картофеля, жимолости.</p>
			<p>В результате приемки полевых опытов и этапов выполнения НИР представителями экспертной комиссии было отмечено полное соответствие наличия полевых опытов, проводимых согласно утвержденным рабочим программам и календарным планам. Первичная научная документация оформлена в соответствии к предъявляемым требованиям и в полной мере отражает весь спектр запланированных и проводимых наблюдений.</p>
		</section>
	</article>
	<article>
		<h3>30 марта 2023 г. приказом Министерства науки и высшего образования согласно № 601 / нк от 30 марта 2023 г. Свечникову Александру Константиновичу выдан диплом Кандидата сельскохозяйственных наук</h3>
		<time datetime="2023-04-03">03 апреля 2023 года</time>
		<section>
			<p>30 марта 2023 г. приказом Министерства науки и высшего образования согласно № 601 / нк от 30 марта 2023 г. Свечникову Александру Константиновичу выдан диплом Кандидата сельскохозяйственных наук.</p>
			<p>Защита прошла в совете на базе федерального государственного образовательного учреждения высшего образования «Самарский государственный аграрный университет»; федерального государственного бюджетного образовательного учреждения высшего образования «Рязанский государственный агротехнологический университет имени П.А. Костычева»; федерального государственного учреждения высшего образования «Ульяновский государственный аграрный университет имени П.А. Столыпина» 15 сентября 2022 г. № 23.</p>
		</section>
    </article>
	</div>
	<aside id="news_archive">
		<h3>Архив новостей</h3>
		<a href="News2016.html">2016</a>
		<a href="News2017.html">2017</a>
		<a href="News2018.html">2018</a>
		<a href="News2019.html">2019</a>
		<a href="News2020.html">2020</a>
		<a href="News2021.html">2021</a>
		<a href="News2022.html">2022</a>
		<a href="News2023.html">2023</a>
		<a href="News2024.html">2024</a>
	</aside>
</div>
</main>
</div>
<footer>
	<div class="contacts">
		<div>
			<p><span class="fonts_ico">©</span> 2016-2024</p>
			<p>Марийский НИИСХ - филиал ФГБНУ&nbsp;ФАНЦ Северо-Востока</p>
			<h4><span class="home_ico"><em></em><i></i></span> Почтовый адрес</h4>
			<p class="adress">425231, Россия, Республика&nbsp;Марий&nbsp;Эл, Медведевский&nbsp;район, посёлок&nbsp;Руэм, улица&nbsp;Победы,&nbsp;дом&nbsp;№10</p>
			<h4><span class="email_ico"></span> Электронный адрес</h4>
			<p><a href="mailto:marniish@yandex.ru">marniish<span class="fonts_ico">@</span>yandex.ru</a></p>
		</div>
		<div>
			<h4><span class="phone"><i></i></span> Телефоны</h4>
			<p>Приёмная: <a href="tel:+78362538039">+7 (8362) 53-80-39</a></p>
			<p>Директор:<a href="tel:+78362538010"> +7 (8362) 53-80-10</a></p>
			<h4><span class="phone"><i></i></span> Факс</h4>
			<p>+7 (8362) 53-80-82</p>
		</div>
	</div>
	<div class="author">
		<h4><span class="fonts_ico"><img src="img/star.png"></span> Разработчик</h4>
		<a class="vk" href="http://vk.com/koalder">vk</a>
		<a class="email_ico" href="mailto:koalder@yandex.ru"></a>
	</div>
</footer>
</body>
</html>
