<!DOCTYPE html>
<html lang="ru">
<head>
	<title>Новости за 2022 год | Марийский НИИСХ - филиал ФБГНУ ФАНЦ Северо-Востока | Официальный сайт</title>
	<meta http-equiv="content-type" content="text/html; charset=utf-8" />
	<meta name="viewport" content="width=device-width">
	<meta name="description" content="Новости института Марийского НИИСХ, филиала ФБГНУ ФАНЦ Северо-Востока">
	<link rel="icon" type="image/png" href="favicon.png"/>
	<link rel="shortcut icon" href="favicon.png" type="image/x-icon">
	<link href="css/style.css" rel="stylesheet">
	<link href="css/news.css" rel="stylesheet">
	<!--[if lte IE 8]>
		<script src="js/html5shiv.js"></script>
		<link href="css/ie8.css" rel="stylesheet">
	<![endif]-->
</head>
<body>
<input type="checkbox" id="nav" hidden>
<nav class="nav_side">
<label for="nav" class="cross" onclick>✕</label>
	<ul class="way">
		<li class="index"><a href="index.html">марниисх.рф</a>
			<ul>
				<li><a href="News2024.html">Новости</a>
					<ul>
						<li><a href="News2022.html">За 2022 год</a></li>
					</ul>
				</li>
			</ul>
		</li>
	</ul>
	<ul class="side">
		<li class="index"><span><img src="img/sprite_nav.png"></span><a href="index.html">Главная</a></li
		><li class="news"><span><img src="img/sprite_nav.png"></span><a href="News.html">Новости</a></li
		><li class="prod"><span><img src="img/sprite_nav.png"></span><a href="Prod.html">Продукция</a>
			<ul>
				<li><a href="Grain.html">Зерновые</a></li
				><li><a href="Potato.html">Картофель</a></li
				><li><a href="Grass.html">Многолетние травы</a></li
				><li><a href="Jim.html">Жимолость</a></li>
			</ul>
		</li
		><li class="about"><span><img src="img/sprite_nav.png"></span><a href="About.html">О нас</a>
			<ul>
				<li><a href="About.html">История института</a></li
				><li><a href="Trend.html">Направления деятельности</a></li
				><li><a href="Progress.html">Достижения</a></li>
			</ul>
		</li
		><li class="contact"><span><img src="img/sprite_nav.png"></span><a href="Contact.html">Контакты</a></li
		><li class="price"><span><img src="img/sprite_nav.png"></span><a href="Price.html">Прайс</a></li
		><li class="docs"><span><img src="img/sprite_nav.png"></span><a href="Docs.html">Документы</a></li
		><li class="map"><span><img src="img/sprite_nav.png"></span><a href="Map.html">Карта сайта</a></li>
	</ul>
</nav>
<div class="mask">
	<label for="nav" onclick></label>
</div>
<div class="maket">
<label for="nav" class="burger" onclick>МЕНЮ</label>
<header>
	<h1>
		<span class="n1">
			<span>Марийский</span>
			<span>НИИ</span>
		</span
		><span class="n2">СХ</span
		><span class="n3">
			<span></span>
			<span>филиал ФГБНУ&nbspФАНЦ Северо-Востока</span>
		</span
		><a class="logo" href="index.html">
			<img src="img/Logo.png" alt="Логотип Марийский НИИСХ">
		</a>
	</h1>
	<nav class="nav_main">
		<ul>
			<li class="index"><span><img src="img/sprite_nav.png"></span><a href="index.html">Главная</a></li
			><li class="news"><span><img src="img/sprite_nav.png"></span><a href="News.html">Новости</a></li
			><li class="prod"><span><img src="img/sprite_nav.png"></span><a href="Prod.html">Продукция</a></li
			><li class="about"><span><img src="img/sprite_nav.png"></span><a href="About.html">О нас</a></li
			><li class="contact"><span><img src="img/sprite_nav.png"></span><a href="Contact.html">Контакты</a></li>
		</ul>
	</nav>
	<a class="tel" href="tel:+78362538039"><span><b class="phone"><i></i></b></span> <strong>+7 (8362) 53-80-39</strong></a>
	<ul class="head_way">
		<li class="parent"><a href="News2024.html">Новости</a>
			<ul>
				<li><a href="News2022.html">За 2022 год</a></li>
			</ul>
		</li>
	</ul>
</header>
<main>
<nav class="nav_sub">
	<span>Ещё ↑</span>
	<a href="News2016.html">За 2016 год</a>
	<a href="News2017.html">За 2017 год</a>
	<a href="News2018.html">За 2018 год</a>
	<a href="News2019.html">За 2019 год</a>
	<a href="News2020.html">За 2020 год</a>
	<a href="News2021.html">За 2021 год</a>
	<a href="News2022.html">За 2022 год</a>
	<a href="News2023.html">За 2023 год</a>
	<a href="News2024.html">За 2024 год</a>
</nav>
<h2>Новости института</h2>
<div class="pages">
	<div id="news_institute">
    <article>
		<h3>8 декабря 2022 г. в Министерстве сельского хозяйства и продовольствия Республики Марий Эл состоялось республиканское совещание по результатам сортоиспытания на сортоучастках Республики Марий Эл.</h3>
		<time datetime="2022-12-09">09 декабря 2022 года</time>
		<section>
			<p>8 декабря 2022 г. в Министерстве сельского хозяйства и продовольствия Республики Марий Эл состоялось республиканское совещание по результатам сортоиспытания на сортоучастках Республики Марий Эл.</p>
			<p>С основным докладом по итогам сортоиспытания сельскохозяйственных культур выступила главный агроном филиала ФГБУ «Госсорткомиссия» по Кировской области, Удмуртской Республике и Республике Марий Эл Якимова Э.Э.</p>
			<p>Ведущий научный сотрудник Марийского НИИСХ – филиала ФГБНУ ФАНЦ Северо-Востока» Замятин Сергей Анатольевич рассказал о результатах демонстрационных опытов заложенных к дню поля Республики.</p>
			<p>Также на мероприятии выступили представители филиала ФГБУ «Россельхозцентр» по Республике Марий Эл, ОАО «Перевозской семеноводческой станции», Управления Россельхознадзора по Нижегородской области и Республике Марий Эл, ООО ТД «Чувашснабкомплект», ООО «Биосфера».</p>
		</section>
    </article>
    <article>
		<h3>Поздравляем научного сотрудника нашего института Свечникова А.К. с успешной защитой кандидатской диссертации!</h3>
		<time datetime="2022-09-27">27 сентября 2022 года</time>
		<section>
			<label><input type="checkbox" hidden><img src="N/Svecha2022.jpg" alt="Свечников Александр Константинович на защите"><img src="N/Svecha2022.jpg" alt="Свечников Александр Константинович на защите"></label>
			<p>15 сентября в Самарском государственном аграрном университете (диссертационный совет Д 999.091.03) научный сотрудник отдела технологий возделывания сельскохозяйственных культур Марийского НИИСХ – филиала ФГБНУ ФАНЦ Северо-Востока Свечников Александр Константинович успешно защитил кандидатскую диссертацию на тему "Формирование продуктивности севооборотов в зависимости от доли многолетних бобово-злаковых трав и минеральных удобрений".</p>
		</section>
	</article>
	<article>
		<h3>28 июля на поле Марийского НИИСХ, состоялся семинар-совещание «Оценка демонстрационных посевов сельскохозяйственных культур, заложенных в рамках проведения Дня поля – 2022»</h3>
		<time datetime="2022-07-29">29 июля 2022 года</time>
		<section>
			<label><input type="checkbox" hidden><img src="N/Table2022.jpg" alt="Участники семинара у стола регистрации"><img src="N/Table2022.jpg" alt="Участники семинара у стола регистрации"></label>
			<label><input type="checkbox" hidden><img src="N/Barley2022.jpg" alt="Участники семинара у демпосева ячменя"><img src="N/Barley2022.jpg" alt="Участники семинара у демпосева ячменя"></label>	
			<p>28 июля на поле Марийского НИИСХ, состоялся семинар-совещание «Оценка демонстрационных посевов сельскохозяйственных культур, заложенных в рамках проведения Дня поля – 2022».</p>
			<p>Его участниками стали руководители и специалисты федеральных, республиканских организаций, руководители и специалисты управлений (отделов) сельского хозяйства, ответственные работники Министерства сельского хозяйства и продовольствия республики Марий Эл, ведущие поставщики средств защиты растений и минеральных удобрений, главы крестьянских фермерских хозяйств.</p>
			<p>Мероприятие проводилось с целью ознакомления участников с выведенными высокоурожайными сортами зерновых, зернобобовых культур и кукурузы.</p>
			<label><input type="checkbox" hidden><img src="N/Zea2022.jpg" alt="Участники семинара у демпосева кукурузы"><img src="N/Zea2022.jpg" alt="Участники семинара у демпосева кукурузы"></label>
			<label><input type="checkbox" hidden><img src="N/All2022.jpg" alt="Участники семинара у демпосева колосовых зерновых" ><img src="N/All2022.jpg" alt="Участники семинара у демпосева"></label>
		</section>
	</article>
	<article>
		<h3>12 июля 2022 года в Марийском НИИСХ – филиале ФГБНУ ФАНЦ Северо-Востока прошла инвентаризация полевых опытов</h3>
		<time datetime="2022-07-19">19 июля 2022 года</time>
		<section>
			<label><input type="checkbox" hidden><img src="N/Lapshin2022.jpg" alt="Лапшин Ю.А. выступает по яровым зерновым" ><img src="N/Lapshin2022.jpg" alt="Лапшин Ю.А. выступает по яровым зерновым" align="left"></label>
			<label><input type="checkbox" hidden><img src="N/Demo2022.jpg" alt="Замятин С.А. выступает по демпосеву"><img src="N/Demo2022.jpg" alt="Замятин С.А. выступает по демпосеву" align="left"></label>
			<label><input type="checkbox" hidden><img src="N/Vinogradov2022.jpg" alt="Виноградов Г.М. выступает по демпосеву"><img src="N/Vinogradov2022.jpg" alt="Виноградов Г.М. выступает по демпосеву" align="left"></label>
			<p>В состав экспертной комиссии вошли: Устюжанин Игорь Александрович (председатель) – директор ФГБНУ ФАНЦ Северо-Востока; Сысуев Василий Алексеевич – академик РАН, научный руководитель центра; Тимкина Елена Юрьевна – к.с-х.н., ученый секретарь центра; Виноградов Георгий Михайлович – директор Марийского НИИСХ – филиала ФГБНУ ФАНЦ Северо-Востока; Замятин Сергей Анатольевич – и.о. зам.директора по научной работе Марийского НИИСХ; Дементьев Дмитрий Алексеевич – старший научный сотрудник Чувашского НИИСХ.</p>
			<p>Комиссии были представлены демонстрационные посевы яровых культур, опытные делянки ярового тритикале, смешанных посевов зернотравяных севооборотов, селекции картофеля, жимолости.</p>
			<p>В результате приемки полевых опытов и этапов выполнения НИР представителями экспертной комиссии было отмечено полное соответствие наличия полевых опытов, проводимых согласно утвержденным рабочим программам и календарным планам. Первичная научная документация оформлена в соответствии к предъявляемым требованиям и в полной мере отражает весь спектр запланированных и проводимых наблюдений.</p>
		</section>
	</article>
	</div>
	<aside id="news_archive">
		<h3>Архив новостей</h3>
		<a href="News2016.html">2016</a>
		<a href="News2017.html">2017</a>
		<a href="News2018.html">2018</a>
		<a href="News2019.html">2019</a>
		<a href="News2020.html">2020</a>
		<a href="News2021.html">2021</a>
		<a href="News2022.html">2022</a>
		<a href="News2023.html">2023</a>
		<a href="News2024.html">2024</a>
	</aside>
</div>
</main>
</div>
<footer>
	<div class="contacts">
		<div>
			<p><span class="fonts_ico">©</span> 2016-2024</p>
			<p>Марийский НИИСХ - филиал ФГБНУ&nbsp;ФАНЦ Северо-Востока</p>
			<h4><span class="home_ico"><em></em><i></i></span> Почтовый адрес</h4>
			<p class="adress">425231, Россия, Республика&nbsp;Марий&nbsp;Эл, Медведевский&nbsp;район, посёлок&nbsp;Руэм, улица&nbsp;Победы,&nbsp;дом&nbsp;№10</p>
			<h4><span class="email_ico"></span> Электронный адрес</h4>
			<p><a href="mailto:marniish@yandex.ru">marniish<span class="fonts_ico">@</span>yandex.ru</a></p>
		</div>
		<div>
			<h4><span class="phone"><i></i></span> Телефоны</h4>
			<p>Приёмная: <a href="tel:+78362538039">+7 (8362) 53-80-39</a></p>
			<p>Директор:<a href="tel:+78362538010"> +7 (8362) 53-80-10</a></p>
			<h4><span class="phone"><i></i></span> Факс</h4>
			<p>+7 (8362) 53-80-82</p>
		</div>
	</div>
	<div class="author">
		<h4><span class="fonts_ico"><img src="img/star.png"></span> Разработчик</h4>
		<a class="vk" href="http://vk.com/koalder">vk</a>
		<a class="email_ico" href="mailto:koalder@yandex.ru"></a>
	</div>
</footer>
</body>
</html>
