<!DOCTYPE html>
<html lang="ru">
<head>
	<title>Новости за 2017 год | Марийский НИИСХ - филиал ФБГНУ ФАНЦ Северо-Востока | Официальный сайт</title>
	<meta http-equiv="content-type" content="text/html; charset=utf-8" />
	<meta name="viewport" content="width=device-width">
	<meta name="description" content="Новости института Марийского НИИСХ, филиала ФБГНУ ФАНЦ Северо-Востока">
	<link rel="icon" type="image/png" href="favicon.png"/>
	<link rel="shortcut icon" href="favicon.png" type="image/x-icon">
	<link href="css/style.css" rel="stylesheet">
	<link href="css/news.css" rel="stylesheet">
	<!--[if lte IE 8]>
		<script src="js/html5shiv.js"></script>
		<link href="css/ie8.css" rel="stylesheet">
	<![endif]-->
</head>
<body>
<input type="checkbox" id="nav" hidden>
<nav class="nav_side">
<label for="nav" class="cross" onclick>✕</label>
	<ul class="way">
		<li class="index"><a href="index.html">марниисх.рф</a>
			<ul>
				<li><a href="News2024.html">Новости</a>
					<ul>
						<li><a href="News2017.html">За 2017 год</a></li>
					</ul>
				</li>
			</ul>
		</li>
	</ul>
	<ul class="side">
		<li class="index"><span><img src="img/sprite_nav.png"></span><a href="index.html">Главная</a></li
		><li class="news"><span><img src="img/sprite_nav.png"></span><a href="News.html">Новости</a></li
		><li class="prod"><span><img src="img/sprite_nav.png"></span><a href="Prod.html">Продукция</a>
			<ul>
				<li><a href="Grain.html">Зерновые</a></li
				><li><a href="Potato.html">Картофель</a></li
				><li><a href="Grass.html">Многолетние травы</a></li
				><li><a href="Jim.html">Жимолость</a></li>
			</ul>
		</li
		><li class="about"><span><img src="img/sprite_nav.png"></span><a href="About.html">О нас</a>
			<ul>
				<li><a href="About.html">История института</a></li
				><li><a href="Trend.html">Направления деятельности</a></li
				><li><a href="Progress.html">Достижения</a></li
				><li><a href="Article.html">Статьи</a></li>
			</ul>
		</li
		><li class="contact"><span><img src="img/sprite_nav.png"></span><a href="Contact.html">Контакты</a></li
		><li class="price"><span><img src="img/sprite_nav.png"></span><a href="Price.html">Прайс</a></li
		><li class="docs"><span><img src="img/sprite_nav.png"></span><a href="Docs.html">Документы</a></li
		><li class="map"><span><img src="img/sprite_nav.png"></span><a href="Map.html">Карта сайта</a></li>
	</ul>
</nav>
<div class="mask">
	<label for="nav" onclick></label>
</div>
<div class="maket">
<label for="nav" class="burger" onclick>МЕНЮ</label>
<header>
	<h1>
		<span class="n1">
			<span>Марийский</span>
			<span>НИИ</span>
		</span
		><span class="n2">СХ</span
		><span class="n3">
			<span></span>
			<span>филиал ФГБНУ&nbspФАНЦ Северо-Востока</span>
		</span
		><a class="logo" href="index.html">
			<img src="img/Logo.png" alt="Логотип Марийский НИИСХ">
		</a>
	</h1>
	<nav class="nav_main">
		<ul>
			<li class="index"><span><img src="img/sprite_nav.png"></span><a href="index.html">Главная</a></li
			><li class="news"><span><img src="img/sprite_nav.png"></span><a href="News.html">Новости</a></li
			><li class="prod"><span><img src="img/sprite_nav.png"></span><a href="Prod.html">Продукция</a></li
			><li class="about"><span><img src="img/sprite_nav.png"></span><a href="About.html">О нас</a></li
			><li class="contact"><span><img src="img/sprite_nav.png"></span><a href="Contact.html">Контакты</a></li>
		</ul>
	</nav>
	<a class="tel" href="tel:+78362538039"><span><b class="phone"><i></i></b></span> <strong>+7 (8362) 53-80-39</strong></a>
	<ul class="head_way">
		<li class="parent"><a href="News2024.html">Новости</a>
			<ul>
				<li><a href="News2017.html">За 2017 год</a></li>
			</ul>
		</li>
	</ul>
</header>
<main>
<nav class="nav_sub">
	<span>Ещё ↑</span>
	<a href="News2016.html">За 2016 год</a>
	<a href="News2017.html">За 2017 год</a>
	<a href="News2018.html">За 2018 год</a>
	<a href="News2019.html">За 2019 год</a>
	<a href="News2020.html">За 2020 год</a>
	<a href="News2021.html">За 2021 год</a>
	<a href="News2022.html">За 2022 год</a>
	<a href="News2023.html">За 2023 год</a>
	<a href="News2024.html">За 2024 год</a>
</nav>
<h2>Новости института</h2>
<div class="pages">
	<div id="news_institute">
	<article>
		<h3>13 октября прошел районный, а 20 октября республиканский День работников сельского хозяйства</h3>
		<time datetime="2017-10-27">27 октября 2017 года</time>
		<section>
			<p>Сотрудники института директор Виноградов Георгий Михайлович, научный сотрудник отдела кормопроизводства Свечников Александр Константинович и заместитель директора по научной работе, заведующий отделом технологии возделывания сельскохозяйственных культур Замятин Сергей Анатольевич приняли участие в праздничных мероприятиях, посвященных Дню работников сельского хозяйства.</p>
		</section>
	</article>
	<article>
		<h3>Опубликован протокол рассмотрения заявок на участие в открытом аукционе на право заключения договора аренды объектов недвижимости института	</h3>
		<time datetime="2017-10-09">9 октября 2017 года</time>
		<section>
		<p>С документами можно ознакомиться по следующей ссылке</p>
		<p><a href="Docs.html" target="_blank">Перейти</a></p>
		</section>
	</article>
	<article>
		<h3>Институт сообщает о проведении открытого аукциона на право  заключения  договора  аренды  объекта  недвижимости</h3>
		<time datetime="2017-09-18">18 сентября 2017 года</time>
		<section>
		<p>С документами можно ознакомиться по следующей ссылке</p>
		<p><a href="Docs.html" target="_blank">Перейти</a></p>
		</section>
	</article>
	<article>
		<h3>Институт сообщает о рассмотрении заявок на участие в аукционе на право заключения  договора  аренды  объекта  недвижимости</h3>
		<time datetime="2017-08-01">1 августа 2017 года</time>
		<section>
		<p>С документами можно ознакомиться по следующей ссылке</p>
		<p><a href="Docs.html" target="_blank">Перейти</a></p>
		</section>
	</article>
	<article>
		<h3>В ФГБНУ Марийский НИИСХ прошла приемка полевых опытов и этапов выполнения НИР на 2017 год</h3>
		<time datetime="2017-07-14">14 июля 2017 года</time>
		<section>
			<label><input type="checkbox" hidden><img src="N/Priomka2017.jpg" alt="С.н.с. Марийского НИИСХ Головунин В.П. на приёмке опыта"><img src="N/Priomka2017.jpg" alt="С.н.с. Марийского НИИСХ Головунин В.П. на приёмке опыта"></label>
			<p>В состав комиссии вошли: ведущие ученые института, первый заместитель министерства сельского хозяйства и продовольствия Республики Марий Эл, представитель Марийского филиала ФГБУ «Госсорткомиссия», представитель Марийского государственного университета.</p>
			<p>Комиссия оценила работу исследователей и констатирует, что на момент приемки все полевые опыты имеются в наличии и проводятся согласно ранее утвержденным рабочим программам и календарным планам. Первичная научная документация оформлена согласно предъявляемым требованиям и отражает весь спектр запланированных и проводимых наблюдений.</p>
		</section>
	</article>
	<article>
		<h3>Институт сообщает о проведении открытого аукциона на право заключения  договора  аренды  объекта  недвижимости</h3>
		<time datetime="2017-07-11">11 июля 2017 года</time>
		<section>
		<p>С документами можно ознакомиться по следующей ссылке</p>
		<p><a href="Docs.html" target="_blank">Перейти</a></p>
		</section>
	</article>
	<article>
		<h3>Опубликован протокол рассмотрения заявок на участие в открытом аукционе на право заключения договора аренды объектов недвижимости институтаи</h3>
		<time datetime="2017-06-16">16 июня 2017 года</time>
		<section>
		<p>С документами можно ознакомиться по следующей ссылке</p>
		<p><a href="Docs.html" target="_blank">Перейти</a></p>
		</section>
	</article>
	<article>
		<h3>Институт сообщает о проведении открытого аукциона на право заключения  договора  аренды  объекта  недвижимости</h3>
		<time datetime="2017-05-24">24 мая 2017 года</time>
		<section>
		<p>С документами можно ознакомиться по следующей ссылке</p>
		<p><a href="Docs.html" target="_blank">Перейти</a></p>
		</section>
	</article>
	<article>
		<h3>Семеноводство сельскохозяйственных культур – приоритет отечественным сортам</h3>
		<time datetime="2017-05-02">2 мая 2017 года</time>
		<section>
			<p>В конце апреля сотрудники отдела семеноводства сельскохозяйственных культур зав. отделом кандидат с.-х. наук Владимир Алексеевич Максимов и зав. лабораторией семеноводства картофеля кандидат с.-х. наук Алевтина Валентиновна Гордеева приняли участие в работе совещания по развитию семеноводства сельскохозяйственных культур в Республике Марий Эл, организованном Министерством сельского хозяйства и продовольствия.</p>
			<p>На совещании ответственные работники министерства, ученые-аграрии, специалисты филиалов ФГБУ «Госсорткомиссии» и «Россельхозцентра» по Республике Марий Эл и представители семеноводческих сельскохозяйственных предприятий обсудили сложившуюся в республике ситуацию по семеноводству сельскохозяйственных культур и в итоговом протоколе наметели ряд мер по его развитию.</p>
		</section>
	</article>
	<article>
		<h3>Сотрудники института приняли участие в ряде семинаров</h3>
		<time datetime="2017-03-31">31 марта 2017 года</time>
		<section>
			<p>Директор института Виноградов Георгий Михайлович и главный инженер Максуткин Сергей Аркадьевич приняли участие в работе семинар-совещания по вопросам подготовки и проведения весеннее-полевых сельскохозяйственных работ в 2017 году, состоявшегося в ООО БТК «МариУралТракСервис».</p>
			<p>На семинаре были представлены более 20 ведущих заводов производителей сельскохозяйственной техники России, Белоруссии и Украины и производители средств защиты растений.</p>
			<p>Также в этот день ученые Марийского НИИСХ в лице заместителя директора по научной работе Замятина Сергея Анатольевича, и сотрудников института Максимова Владимира Алексеевича и Золотаревой Риммы Ивановны посетили выездной агросеминар: «Средства защиты растений фирмы Август».</p>
		</section>
	</article>
	<article>
		<h3>Семинар для работников АПК</h3>
		<time datetime="2017-02-28">28 февраля 2017 года</time>
		<section>
			<p>С 27 февраля в ФГБОУ ДПО «Марийский институт переподготовки кадров агробизнеса» начались занятия по повышению квалификации специалистов сельского хозяйства. Молодые ученые института прослушают курс лекции обучающего семинара по темам - «Современные аспекты механизации, автоматизации технологических процессов в отраслях АПК в условиях Республики Марий Эл» и «Интенсивные и ресурсосберегающие технологии в растениеводстве в современных условиях».</p>
			<p>На пленарном заседании с докладом на тему «Результаты научных исследований Марийского НИИСХ в 2016 году в области растениеводства» выступил директор института Г.М. Виноградов. В работе семинара принимают участие специалисты министерства сельского хозяйства, филиалов ФГБУ «Россельхозцентра» и ФГБУ «Госсорткомиссия» по Республике Марий Эл, «Станции агрохимической службы «Марийская», а также ученые ВУЗов республики и представители различных химических компаний. Семинар продлится до 1 марта.</p>
		</section>
	</article>
	<article>
		<h3>Сотрудники института выступили на научно-практическом семинаре в Горномарийском районе</h3>
		<time datetime="2017-01-26">26 января 2017 года</time>
		<section>
			<label><input type="checkbox" hidden><img src="N/Potato2017.jpg" alt="Гордеева А.В. выступает на научно-практическом семинаре в Горномарийском районе"><img src="N/Potato2017.jpg" alt="Гордеева А.В. выступает на научно-практическом семинаре в Горномарийском районе"></label>
			<p>26 января 2017 г. сотрудники лаборатории картофелеводства приняли участие в работе научно-практического семинара «Основы получения высоких урожаев картофеля и овощных культур с использованием отечественных сортов и гибридов», состоявшегося в Горномарийском районе</p>
			<p>В ходе встречи обсуждены вопросы эффективного производства картофеля и овощных культур, развития межрегионального взаимодействия по вопросам сбыта продукции, даны рекомендации по определению качества и безопасности выращенной продукции. Селекционно-семеноводческая компания «Агрофирма Поиск» (г. Москва), лидирующая на отечественном рынке семян овощных культур и посадочного материала, представила участникам семинара отечественные высокоурожайные сорта и гибриды овощных культур, апробированные в производственных условия регионов России, включая Республику Марий Эл.</p>
		</section>
	</article>
	</div>
	<aside id="news_archive">
		<h3>Архив новостей</h3>
		<a href="News2016.html">2016</a>
		<a href="News2017.html">2017</a>
		<a href="News2018.html">2018</a>
		<a href="News2019.html">2019</a>
		<a href="News2020.html">2020</a>
		<a href="News2021.html">2021</a>
		<a href="News2022.html">2022</a>
		<a href="News2023.html">2023</a>
		<a href="News2024.html">2024</a>
	</aside>
</div>
</main>
</div>
<footer>
	<div class="contacts">
		<div>
			<p><span class="fonts_ico">©</span> 2016-2024</p>
			<p>Марийский НИИСХ - филиал ФГБНУ&nbsp;ФАНЦ Северо-Востока</p>
			<h4><span class="home_ico"><em></em><i></i></span> Почтовый адрес</h4>
			<p class="adress">425231, Россия, Республика&nbsp;Марий&nbsp;Эл, Медведевский&nbsp;район, посёлок&nbsp;Руэм, улица&nbsp;Победы,&nbsp;дом&nbsp;№10</p>
			<h4><span class="email_ico"></span> Электронный адрес</h4>
			<p><a href="mailto:marniish@yandex.ru">marniish<span class="fonts_ico">@</span>yandex.ru</a></p>
		</div>
		<div>
			<h4><span class="phone"><i></i></span> Телефоны</h4>
			<p>Приёмная: <a href="tel:+78362538039">+7 (8362) 53-80-39</a></p>
			<p>Директор:<a href="tel:+78362538010"> +7 (8362) 53-80-10</a></p>
			<h4><span class="phone"><i></i></span> Факс</h4>
			<p>+7 (8362) 53-80-82</p>
		</div>
	</div>
	<div class="author">
		<h4><span class="fonts_ico"><img src="img/star.png"></span> Разработчик</h4>
		<a class="vk" href="http://vk.com/koalder">vk</a>
		<a class="email_ico" href="mailto:koalder@yandex.ru"></a>
	</div>
</footer>
</body>
</html>
