<!DOCTYPE html>
<html lang="ru">
<head>
	<title>Достижения | Марийский НИИСХ - филиал ФБГНУ ФАНЦ Северо-Востока | Официальный сайт</title>
	<meta http-equiv="content-type" content="text/html; charset=utf-8" />
	<meta name="viewport" content="width=device-width">
	<meta name="description" content="Достижения Марийского НИИСХ, филиала ФБГНУ ФАНЦ Северо-Востока">
	<link rel="icon" type="image/png" href="favicon.png"/>
	<link rel="shortcut icon" href="favicon.png" type="image/x-icon">
	<link href="css/style.css" rel="stylesheet">
	<link href="css/docs.css" rel="stylesheet">
	<link href="css/trend.css" rel="stylesheet">
	<!--[if lte IE 8]>
		<script src="js/html5shiv.js"></script>
		<link href="css/ie8.css" rel="stylesheet">
	<![endif]-->
</head>
<body>
<input type="checkbox" id="nav" hidden>
<nav class="nav_side">
<label for="nav" class="cross" onclick>✕</label>
	<ul class="way">
		<li class="index"><a href="index.html">марниисх.рф</a>
			<ul>
				<li><a href="About.html">О нас</a>
					<ul>
						<li><a href="Progress.html">Достижения</a>
					</ul>
				</li>
			</ul>
		</li>
	</ul>
	<ul class="side">
		<li class="index"><span><img src="img/sprite_nav.png"></span><a href="index.html">Главная</a></li
		><li class="news"><span><img src="img/sprite_nav.png"></span><a href="News.html">Новости</a></li
		><li class="prod"><span><img src="img/sprite_nav.png"></span><a href="Prod.html">Продукция</a>
			<ul>
				<li><a href="Grain.html">Зерновые</a></li
				><li><a href="Potato.html">Картофель</a></li
				><li><a href="Grass.html">Многолетние травы</a></li
				><li><a href="Jim.html">Жимолость</a></li>
			</ul>
		</li
		><li class="about"><span><img src="img/sprite_nav.png"></span><a href="About.html">О нас</a>
			<ul>
				<li><a href="About.html">История института</a></li
				><li><a href="Trend.html">Направления деятельности</a></li
				><li><a href="Progress.html">Достижения</a></li
				><li><a href="Article.html">Статьи</a></li>
			</ul>
		</li
		><li class="contact"><span><img src="img/sprite_nav.png"></span><a href="Contact.html">Контакты</a></li
		><li class="price"><span><img src="img/sprite_nav.png"></span><a href="Price.html">Прайс</a></li
		><li class="docs"><span><img src="img/sprite_nav.png"></span><a href="Docs.html">Документы</a></li
		><li class="map"><span><img src="img/sprite_nav.png"></span><a href="Map.html">Карта сайта</a></li>
	</ul>
</nav>
<div class="mask">
	<label for="nav" onclick></label>
</div>
<div class="maket">
<label for="nav" class="burger" onclick>МЕНЮ</label>
<header>
	<h1>
		<span class="n1">
			<span>Марийский</span>
			<span>НИИ</span>
		</span
		><span class="n2">СХ</span
		><span class="n3">
			<span></span>
			<span>филиал ФГБНУ&nbspФАНЦ Северо-Востока</span>
		</span
		><a class="logo" href="index.html">
			<img src="img/Logo.png" alt="Логотип Марийский НИИСХ">
		</a>
	</h1>
	<nav class="nav_main">
		<ul>
			<li class="index"><span><img src="img/sprite_nav.png"></span><a href="index.html">Главная</a></li
			><li class="news"><span><img src="img/sprite_nav.png"></span><a href="News.html">Новости</a></li
			><li class="prod"><span><img src="img/sprite_nav.png"></span><a href="Prod.html">Продукция</a></li
			><li class="about"><span><img src="img/sprite_nav.png"></span><a href="About.html">О нас</a></li
			><li class="contact"><span><img src="img/sprite_nav.png"></span><a href="Contact.html">Контакты</a></li>
		</ul>
	</nav>
	<a class="tel" href="tel:+78362538366"><span><b class="phone"><i></i></b></span> <strong>+7 (8362) 53-83-66</strong></a>
	<ul class="head_way">
		<li class="index"><a href="About.html">О нас</a>
			<ul>
				<li><a href="Progress.html">Достижения</a></li>
			</ul>
		</li>
	</ul>
</header>
<main>
<nav class="nav_sub">
	<span>О нас ещё ↑</span>
	<a href="About.html">История института</a>
	<a href="Trend.html">Направления деятельности</a>
	<a href="Article.html">Статьи</a>
</nav>
<h2>Достижения</h2>
<div class="pages">
	<h5>Наиболее значимые по направлениям научно-исследовательские разработки за период работы НИУ</h5>
	<ul>
	    <li><span class="land" title="2020"></span>Закономерности изменения баланса углерода в дерново-подзолистой почве полевых севооборотов</li>
	    <li><span class="land" title="2020"></span>Рекомендации по эффективности применения микробиологических азотного и фосфорного удобрений на перспективных сортах жимолости синей</li>
	    <li><span class="plant" title="2020"></span>Руководство по возделыванию ранних сортов картофеля с использованием новых систем защиты растений от болезней</li>
	    <li><span class="land" title="2019"></span>Руководство по разработке короткоротационных кормовых севооборотов, обеспечивающих сохранение достигнутого уровня почвенного плодородия и получения высококачественных кормов</li>
	    <li><span class="plant" title="2019"></span>Руководство по экономически оправданному возделыванию новых сортов озимой ржи</li>
	    <li><span class="zoo" title="2018"></span>Методические рекомендации по увеличению продуктивного долголетия и повышению молочной продуктивности скота черно-пестрой породы</li>
	    <li><span class="plant" title="2018"></span>Методическое руководство по использованию смешанных агроценозов с участием тритикале для получения зеленой массы и фуражного зерна</li>
	    <li><span class="land" title="2017"></span>Методические указания расчета баланса азота, фосфора и калия на дерново-подзолистых почвах при длительном применении минеральных удобрений в полевых севооборотах</li>
	    <li><span class="bird" title="2017"></span>Методика подбора пар производителей при воспроизводстве маточного стада цесарок с учетом наследования окраски оперения для повышения выхода окраски оперения для повышения выхода цесарят на одну несушку</li>
	    <li><span class="plant" title="2016"></span>Руководство по возделыванию высокопродуктивных, адаптированных к почвенно-климатическим условиям Республики Марий Эл, сортов озимых зерновых культур (озимой пшеницы, озимой тритикале)</li>
	    <li><span class="land" title="2016"></span>Закономерности изменения баланса азота, фосфора и калия в дерново-подзолистых почвах полевых севооборотов на фоне длительного применения минеральных и органических удобрений</li>
	    <li><span class="plant" title="2015"></span>Руководство по использованию промежуточных культур в кормовых севооборотах</li>
	    <li><span class="plant" title="2015"></span>Руководство по возделыванию смешанных озимых агрофитоценозов с участием тритикале для получения зеленой массы</li>
	    <li><span class="plant" title="2015"></span>Руководство по возделыванию сортов ярового ячменя, адаптированных к условиям Республики Марий Эл</li>
	    <li><span class="zoo" title="2015"></span>Закономерности влияния индивидуальных особенностей быков на продуктивное долголетие и молочную продуктивность скота черно-пестрой породы</li>
	    <li><span class="plant" title="2014"></span>Закономерности изменения продуктивности кормовых севооборотов и плодородия почв при длительном применении минеральных удобрений и продолжительном использовании многолетних агрофитоценозов в условиях Республики Марий Эл</li>
	    <li><span class="plant" title="2014"></span>Научно-обоснованные параметры отбора производителей по фенотипу для совершенствования селекционно-генетических методов создания фенотипа голубых цесарок   </li>
	    <li><span class="plant" title="2013"></span>Руководство по возделыванию новых сортов картофеля разных групп спелости адаптированных к условиям Республики Марий Эл</li>
	    <li><span class="zoo" title="2013"></span>Руководство по возделыванию смешанных озимых агрофитоценозов с участием тритикале для получения зеленой массы</li>
	    <li><span class="bird" title="2013"></span>Руководство по возделыванию сортов ярового ячменя, адаптированных к условиям Республики Марий Эл</li>
	    <li><span class="bird" title="2013"></span>Руководство по оптимизации структуры кормовых севооборотов, обеспечивающих повышение продуктивности пашни на 8-30 % и высокое качество корма</li>
	    <li><span class="zoo" title="2013"></span>Наставление по включению зерна тритикале в рационы кормления супоросных свиноматок, обеспечивающие повышение продуктивности на 11,2 %</li>
	    <li><span class="bird" title="2013"></span>Методика повышения выхода молодняка цесарок (на одну несушку родительского стада до 75-80 голов)</li>
	    <li><span class="plant" title="2011"></span>Руководство по составлению новых схем полевых короткоротационных севооборотов, обеспечивающих сохранение достигнутого уровня почвенного плодородия и повышение продуктивности пашни на 27-47%</li>
	    <li><span class="plant" title="2010"></span>Технология возделывания озимой тритикале в смешанных посевах, обеспечивающая стабильное получение высокопротеинового фуражного зерна на уровне 4,20 – 4,94 т/га: ГНУ Марийский НИИСХ Россельхозакадемии; Ю.А. Лапшин, В.М. Изместьев – Йошкар-Ола, 2010. – 26 с., ISBN 978-5-91716-075-7</li>
	    <li><span class="plant" title="2010"></span>Технология возделывания жимолости съедобной, обеспечивающая получение урожая ягод в условиях Республики Марий Эл на уровне 1,3 – 2,2 т/га: ГНУ Марийский НИИСХ Россельхозакадемии; В.П. Головунин, В.М. Изместьев – Йошкар-Ола, 2010. – 18 с., ISBN 978-5-91716-081-8</li>
	    <li><span class="plant" title="2010"></span>Руководство по использованию новых сортов картофеля в условиях Республики Марий Эл, обеспечивающих повышение сборов клубней на 15,7 - 37,9% в сравнении со стандартом</li>
	    <li><span class="plant" title="2010"></span>Руководство по использованию новых сортов зернофуражных культур в условиях Республики Марий Эл, обеспечивающих повышение сборов зерна ячменя на 0,66 - 0,86 и овса - 0,40 - 0,54 т с 1 га</li>
	    <li><span class="zoo" title="2010"></span>Технология полноценного кормления молодняка свиней с включением зерна тритикале, обеспечивающая повышение среднесуточного привеса на 7,2 – 17,3%: ГНУ Марийский НИИСХ Россельхозакадемии; Р.Б. Максимова. – Йошкар- Ола, 2010. - 16 с., ISBN 978-5-91716-082-5</li>
	    <li><span class="zoo" title="2010"></span>Руководство по повышению генетического потенциала молочной продуктивности чёрно-пёстрого скота на 61,14 кг молока на корову в год</li>
	    <li><span class="bird" title="2010"></span>«Новые приемы воспроизводства и селекции генофондного стада и усовершенствованные линии волжской белой породы цесарок, повышающие выход молодняка на 11,9%, живую массу гибридных цесарок при убое на 5,4%» - работа награждена <b>дипломом Президиума Российской академии сельскохозяйственных наук, как лучшая завершенная разработка</b></li>
	    <li><span class="plant" title="2009"></span>Формирование высокопродуктивных агрофитоценозов козлятника восточного в одновидовых и смешанных посевах на Северо-Востоке Нечероземной зоны РФ</li>
	    <li><span class="zoo" title="2008"></span>Руководство по использованию сортов озимой пшеницы и озимой тритикале, обеспечивающих повышение производства зерна на 0,19 и 0,64 т/га по сравнению с районированными сортами</li>
	    <li><span class="land" title="2008"></span>Экономически обоснованная система удобрения зерновых культур с использованием элементов биологической интенсификации, обеспечивающая повышение выхода зерновой продукции с 1 га на 20% и выше при сохранении и предотвращении резкого снижения плодородия дерново-подзолистой окультуренной почвы с окупаемостью 1кг туков 7 кг зерна и рентабельностью производства зерна свыше 60%, а зерна свыше 60%</li>
	    <li><span class="land" title="2008"></span>Совершенствование технического средства для подбора, измельчения и разбрасывания соломы из валков с одновременным внесением минеральных удобрений</li>
	    <li><span class="zoo" title="2007"></span>Разработаны низкозатратные рационы кормления свиней с включением нетрадиционного высокобелкового кормового сырья (зерно тритикале)</li>
	    <li><span class="plant" title="2005"></span>Экологически безопасная технология возделывания озимой тритикале, обеспечивающая в зависимости от уровня затрат получение 3-5 т/га зерна с высоким качеством</li>
	    <li><span class="plant" title="2005"></span>Ресурсосберегающая технология возделывания смешанных посевов люпина узколистного, обеспечивающая сбор зерна не менее 2,5 т/га с содержанием в к.е. не менее 110 г переваримого протеина</li>
	    <li><span class="plant" title="2003"></span>Типовые модели систем адаптивно-ландшафтного земледелия для основных агроландшафтов Республики Марий Эл</li>
	    <li><span class="plant" title="2002"></span>Влияние агрохимических, погодных и биологических факторов на продуктивность яровой пшеницы в условиях Северо-Востока Нечерноземной зоны</li>
	    <li><span class="plant" title="2002"></span>Усовершенствованная технология возделывания картофеля, адаптированная к условиям Северо-Востока России, гарантирующая получение стабильного урожая клубней на уровне 20 т/га на основе подбора сортов и использования высокоэффективных приемов по уходу с рентабельностью производства на уровне 80% - отмечена <b>Дипломом Россельхозакадемии «За лучшую завершенную научную разработку в области АПК России»</b></li>
	    <li><span class="plant" title="2002"></span>Обоснование параметров и режимов работы технического средства для подбора и измельчения соломы из валков</li>
	    <li><span class="plant" title="2001"></span>Приемы возделывания козлятника восточного на дерново-подзолистой почве Северо-Восточной части Волго-Вятской зоны</li>
	    <li><span class="plant" title="2001"></span>Формирование урожая и качество клубней картофеля под влиянием агротехнических приемов в условиях Северо-Восточной части Волго-Вятской зоны</li>
	    <li><span class="zoo" title="2001"></span>Исследован генофонд и разработаны эффективные методы повышения генетического потенциала черно-пестрого скота Республики Марий Эл</li>
	    <li><span class="plant" title="2000"></span>Сравнительная эффективность биологических и химических препаратов в борьбе с болезнями яровой пшеницы</li>
	    <li><span class="plant" title="1997"></span>Разработка технологических приемов возделывания раннеспелых сортов клевера лугового на семена в условиях Республики Марий Эл</li>
	    <li><span class="zoo" title="1996"></span>Усовершенствована система селекционной работы с целью создания внутрипородного типа скота черно-пестрой породы с продуктивностью 5000 кг молока и содержанием жира 3,7-3,8% на основе использования системы иммуногенетического мониторинга</li>
	    <li><span class="zoo" title="1996"></span>Усовершенствованы и внедрены биотехнологические методы трансплантации эмбрионов романовских овец</li>
	    <li><span class="zoo" title="1996"></span>Разработана система дифференцированного кормления свиноматок в течение цикла воспроизводства на основе использования в рационах кормления комбинированного силоса, зеленых и сочных кормов</li>
	    <li><span class="plant" title="1992"></span>Возделывание кукурузы на профилированной поверхности дерново-подзолистой почвы в Волго-Вятском регионе Нечерноземной зоны</li>
	    <li><span class="zoo" title="1991"></span>Разработаны и внедрены биотехнологические способы интенсификации воспроизводства крупного рогатого скота в хозяйствах Нечерноземной Зоны Российской Федерации</li>
	    <li><span class="zoo" title="1991"></span>Усовершенствованы биотехнологические методы трансплантации эмбрионов крупного рогатого скота на основе применения новых гормональных препаратов</li>
	    <li><span class="zoo" title="1991"></span>Разработана система полноценного кормления высокопродуктивных коров черно-пестрой породы с годовым удоем 5-6 тысяч кг молока, предусматривающая создание премикса улучшенного состава</li>
	    <li><span class="plant" title="1990"></span>Влияние азотных удобрений на урожай и качество многолетних злаковых трав при интенсивном использовании на мелиорированных торфяных низинных почвах Марийской АССР</li>
	    <li><span class="zoo" title="1987"></span>Изучены причины и лечение заболеваний конечностей у крупного рогатого скота. <em>Активное участие сотрудников отдела в разработке научно-обоснованной системы ведения животноводства Марийской АССР и опытно-производственных хозяйств Марийской сельхозопытной станции</em></li>
	    <li><span class="zoo" title="1986"></span>Создано стадо костромской породы в опытно-производственном хозяйстве им. Мосолова</li>
	    <li><span class="zoo" title="1985"></span>Селекция овец цыгайской породы. Проведен анализ генеалогической структуры стада, и разработаны схемы линейного разведения с целью совершенствования стада овец цыгайской породы</li>
	    <li><span class="plant" title="1982"></span>Влияние удобрений и предшественников на динамику потребления элементов питания, формирования урожайности и качества зерна ячменя</li>
	    <li><span class="zoo" title="1982"></span>Проведена селекционная работа по созданию стада коров черно-пестрой породы с использованием генофонда голштино-фризской породы. <em>(Составлен перспективный план селекционно-племенной работы со стадом)</em></li>
	    <li><span class="zoo" title="1982"></span><em>Селекция овец романовской породы.</em> Исследован генофонд стада и разработаны схемы линейного разведения по системе закрытой популяции и планового кроссирования линий с группами с целью улучшения овец романовской породы</li>
	    <li><span class="zoo" title="1980"></span>Промышленное скрещивание коров черно-пестрой породы с быками мясных пород и вводное скрещивание с быками джерсейской породы</li>
	    <li><span class="zoo" title="1980"></span>Скармливание синтетических азотсодержащих веществ и экструдированных кормов при откорме быков</li>
	    <li><span class="zoo" title="1980"></span>Изучены вопросы микроклимата при различных способах содержания скота на щелевых полах с подпольным хранением навоза и удалением его при помощи транспортера и гидросмыва</li>
	    <li><span class="zoo" title="1980"></span>Селекционная работа по совершенствованию стада свиней новых синтетических линий <em>(донские свиньи, полученные от скрещивания пород северокавказской и пьетрен)</em> по ведущим хозяйственно-полезным признакам: плодовитости, крупноплодности, молочности, отъемному весу гнезда</li>
	    <li><span class="zoo" title="1976"></span>Исследована эффективность использования экструдированных кормов в рационах различных половозрастных групп свиней</li>
	    <li><span class="zoo" title="1976"></span>Исследована эффективность замены белка животного происхождения растительными белками в экструдированной зерносмеси при выращивании поросят-сосунов</li>
	    <li><span class="plant" title="1975"></span>Влияние минеральных удобрений, известкового и навозного фонов на урожай и качество картофеля на дерново-подзолистых суглинистых почвах Марийской АССР</li>
	    <li><span class="zoo" title="1975"></span>Разработаны научно обоснованные рационы кормления овцематок с целью повышения их плодовитости и сохранности</li>
	    <li><span class="zoo" title="1975"></span>Проведена оценка баранов-производителей по мясным и откормочным качествам потомства</li>
	    <li><span class="zoo" title="1971"></span>Организация производства молока на промышленной основе и его экономическая эффективность</li>
	    <li><span class="zoo" title="1967"></span>Резервы снижения себестоимости мяса в колхозах и совхозах</li>
	    <li><span class="plant" title="1947"></span>Агробиологическая характеристика некоторых видов и сортов однолетнего люпина перспективных для культуры в Марийской АССР</li>
	    <li><span class="zoo" title="1945"></span>О дерново-подзолистых и лесных почвах Марийского правобережья Волги</li>
	    <li><span class="zoo" title="1939"></span>Приёмы углубления пахотного слоя подзолистых почв</li>
	    <li><span class="plant" title="1933"></span>Полевые культуры Марийской автономной области</li>
	</ul>
</div>
</main>
</div>
<footer>
	<div class="contacts">
		<div>
			<p><span class="fonts_ico">©</span> 2016-2024</p>
			<p>Марийский НИИСХ - филиал ФГБНУ&nbsp;ФАНЦ Северо-Востока</p>
			<h4><span class="home_ico"><em></em><i></i></span> Почтовый адрес</h4>
			<p class="adress">425231, Россия, Республика&nbsp;Марий&nbsp;Эл, Медведевский&nbsp;район, посёлок&nbsp;Руэм, улица&nbsp;Победы,&nbsp;дом&nbsp;№10</p>
			<h4><span class="email_ico"></span> Электронный адрес</h4>
			<p><a href="mailto:marniish@yandex.ru">marniish<span class="fonts_ico">@</span>yandex.ru</a></p>
		</div>
		<div>
			<h4><span class="phone"><i></i></span> Телефоны</h4>
			<p>Приёмная: <a href="tel:+78362538039">+7 (8362) 53-80-39</a></p>
			<p>Директор:<a href="tel:+78362538010"> +7 (8362) 53-80-10</a></p>
			<h4><span class="phone"><i></i></span> Факс</h4>
			<p>+7 (8362) 53-80-82</p>
		</div>
	</div>
	<div class="author">
		<h4><span class="fonts_ico"><img src="img/star.png"></span> Разработчик</h4>
		<a class="vk" href="http://vk.com/koalder">vk</a>
		<a class="email_ico" href="mailto:koalder@yandex.ru"></a>
	</div>
</footer>
</body>
</html>
