{% extends "base.html" %}
{% load static %}

{% block title %}
    {{page.title}}
{% endblock %}

{% block description %}
	{{page.description}}
{% endblock %}

{% block ways_header %}
    {% include "ways.html" %}
{% endblock %}

{% block ways_nav %}
    {% include "ways.html" %}
{% endblock %}

{% block content %}
<h2>{{page.title}}</h2>
<div class="pages">
	<div id="news_institute">
	<div class="niicontact">
	<fieldset>
	    <legend>Добавить событие</legend>
	    <form method="post">
	        {% csrf_token %}
	        {{ form.as_p }}
	        <input type="submit" value="Добавить">
	    </form>
	</fieldset>
	</div>
	<a href="{% url 'siteapp:About' %}">Завершить редактирование</a>
	<article>
		<h2 id="in">Этапы становления, развития и преемственности института</h2>
	</article>
		{% for d in data %}
		<article>
			<h3>{{d.year}} год
				{% if d.day_month %}
				<b>{{d.day_month}}</b>
				{% endif %}
			</h3>
			<section>
			{% for about in histories %}
				{% if about.data.year == d.year and about.data.day_month == d.day_month %}
					{% if about.img %}
					<label>
						<input type="checkbox" hidden>
						<img src="{% static about.img %}" alt="{{about.alt}}">
						<img src="{% static about.img %}" alt="{{about.alt}}" title="{{about.alt}}">
						<div class="overlay"></div>
					</label>
					{% endif %}
				<p>{{about.text}}</p>
				<a href="{% url 'siteapp:About_delete' about.pk %}">Удалить</a
				><a href="{% url 'siteapp:About_update' about.pk %}">Изменить</a>
				{% endif %}
			{% endfor %}
			</section>
		</article>
	{% endfor %}
	</div>
</div>
{% endblock %}