{% extends "base.html" %}

{% block title %}
    {{page.title}}
{% endblock %}

{% block description %}
	{{page.description}}
{% endblock %}

{% block ways_header %}
    {% include "ways.html" %}
{% endblock %}

{% block ways_nav %}
    {% include "ways.html" %}
{% endblock %}

{% block content %}

{% block nav_sub_about %}
	{% include "nav_sub_about.html" %}
{% endblock %}

<h2>{{page.title}}</h2>
<div class="pages">
	<ul>
		{% for ale in articles %}
		<li>
			<span class="{{ale.trend}}" title="{{ale.year}}"></span>{{ale.name}}
			<p>{{ale.get_doi_url}}</p>
		</li>
		{% endfor %}
	</ul>
	<article id="news_institute">
		{% if user.is_authenticated %}
		<a href="{% url 'siteapp:Article_editing' %}">Редактировать</a>
		{% endif %}
	</article>
</div>
{% endblock %}