{% extends "base.html" %}

{% block title %}
    {{page.title}}
{% endblock %}

{% block description %}
	{{page.description}}
{% endblock %}

{% block content %}

{% block nav_sub_about %}
	{% include "nav_sub_about.html" %}
{% endblock %}

<h2>Статьи</h2>
<div class="pages">
	<ul>
		{% for ale in articles %}
		<li>
			<span class="{{ale.trend}}" title="{{ale.year}}"></span>{{ale.name}}
			{% if ale.doi %}
			<p>DOI: {{ale.doi}}</p>
			{% elif ale.link %}
			<p>URL: {{ale.link}}</p>
			{% else %}
			<p></p>
			{% endif %}
		</li>
		{% endfor %}
	</ul>
</div>
{% endblock %}