{% extends "base.html" %}
{% load static %}

{% block title %}
    {{page.title}}
{% endblock %}

{% block description %}
	{{page.description}}
{% endblock %}

{% block ways_header %}
    {% include "ways.html" %}
{% endblock %}

{% block ways_nav %}
    {% include "ways.html" %}
{% endblock %}

{% block content %}

{% block nav_sub_prod %}
	{% include "nav_sub_prod.html" %}
{% endblock %}

<h2>{{page.title}}</h2>
<div class="pages" id="news_institute">
	<article>
		<fieldset class="niicontact">
			<form method="post">
				{% csrf_token %}
				{{form.as_p}}
				<input type="submit" id="submit" value="Добавить">
			</form>
		</fieldset>
		<a href="{% url 'siteapp:Price_editing' %}">Назад на редактирование прайса</a>
		<a href="{% url 'siteapp:Price' %}">Завершить редактирование</a>
		{% for prod_category in prod_categories %}
			<p><b>{{prod_category.name}}</b></p>
			<a href="{% url 'siteapp:Category_update' prod_category.pk %}">Изменить</a
			><a href="{% url 'siteapp:Category_delete' prod_category.pk %}">Удалить</a>
		{% endfor %}
	</article>
</div>
{% endblock %}