{% extends "base.html" %}

{% block title %}
    {{page.title}}
{% endblock %}

{% block description %}
	{{page.description}}
{% endblock %}

{% block content %}
<h2>Документы</h2>
<table class="pages">
	<tr>
		<th>Дата</th>
		<th class="left">Название документа</th>
		<th><b class="download"></b></th>
	</tr>
	<tr>
		<td class="time">10 ноя 2020</td>
		<td class="left">Протокол заседания Ученого совета о представлении к награждению Благодарностью Министерства
сельского хозяйства Российской Федерации</td>
		<td><a href="Doc/Протокол3_2020.pdf" target="_blank" title="Скачать" download></a></td>
	</tr>
	<tr>
		<td class="time" rowspan='2'>3 июл 2020</td>
		<td class="left">Акт приёмки опытов</td>
		<td><a href="Doc/актПриемки2020.pdf" target="_blank" title="Скачать" download></a></td>
	</tr>
	<tr>
		<td class="left">Выписка из протокола №2 заседания Учёного совета по приёмке опытов</td>
		<td><a href="Doc/Протокол2_2020.pdf" target="_blank" title="Скачать" download></a></td>
	</tr>
	<tr>
		<td class="time">20 мар 2020</td>
		<td class="left">Протокол заседания Ученого совета на рассмотрение и утверждение календарных планов НИР на 2020 год</td>
		<td><a href="Doc/Протокол1_2020.pdf" target="_blank" title="Скачать" download></a></td>
	</tr>
	<tr>
		<td class="time" rowspan='2'>10 июл 2019</td>
		<td class="left">Акт приёмки опытов</td>
		<td><a href="Doc/АКТ приемки опытов 2019.pdf" target="_blank" title="Скачать" download></a></td>
	</tr>
	<tr>
		<td class="left">Выписка из протокола №3 заседания Учёного совета по приёмке опытов</td>
		<td><a href="Doc/Выписка из протокола 2019.pdf" target="_blank" title="Скачать" download></a></td>
	</tr>
	<tr>
		<td class="time">09 окт 2017</td>
		<td class="left">Протокол рассмотрения заявок на участие в открытом аукционе на право заключения договора аренды объекта недвижимости, находящегося в федеральной собственности и закрепленного за ФГБНУ Марийский НИИСХ на праве оперативного управления</td>
		<td><a href="Doc/Протокол аренда октябрь 2017.pdf" target="_blank" title="Скачать" download></a></td>
	</tr>
	<tr>
		<td class="time" rowspan='3'>18 сен 2017</td>
		<td class="left">Распоряжение на проведение открытого аукциона на право заключения договора аренды объектов недвижимости, находящихся в федеральной собственности и закрепленных за ФГБНУ Марийский НИИСХ на праве оперативного управления</td>
		<td><a href="Doc/Распоряжение торги сентябрь 2017.pdf" target="_blank" title="Скачать" download></a></td>
	</tr>
	<tr>
		<td class="left">Извещение о проведении открытого аукциона на право заключения договора аренды объектов недвижимости, находящихся в федеральной собственности и закрепленных за ФГБНУ Марийский НИИСХ на праве оперативного управления</td>
		<td><a href="Doc/Извещение торги сентябрь 2017.pdf" target="_blank" title="Скачать" download></a></td>
	</tr>
	<tr>
		<td class="left">Документация об аукционе на право заключения договора аренды объекта ,находящегося в федеральной собственности и закрепленного за ФГБНУ Марийский НИИСХ на праве оперативного управления</td>
		<td><a href="Doc/Документация по торгам сентябрь 2017.pdf" target="_blank" title="Скачать" download></a></td>
	</tr>
	<tr>
		<td class="time">01 авг 2017</td>
		<td class="left">Протокол рассмотрения заявок на участие в открытом аукционе на право заключения договора аренды объектов недвижимости, находящихся в федеральной собственности и закрепленных за ФГБНУ Марийский НИИСХ на праве оперативного управления</td>
		<td><a href="Doc/Извещение торги август 2017.pdf" target="_blank" title="Скачать" download></a></td>
	</tr>
	<tr>
		<td class="time" rowspan='2'>11 июл 2017</td>
		<td class="left">Извещение о проведении открытого аукциона на право заключения договора аренды объектов недвижимости, находящихся в федеральной собственности и закрепленных за ФГБНУ Марийский НИИСХ на праве оперативного управления</td>
		<td><a href="Doc/Извещение торги июль 2017.pdf" target="_blank" title="Скачать" download></a></td>
	</tr>
	<tr>
		<td class="left">Документация об аукционе на право заключения договора аренды объекта ,находящегося в федеральной собственности и закрепленного за ФГБНУ Марийский НИИСХ на праве оперативного управления</td>
		<td><a href="Doc/Документация по торгам июль 2017.pdf" target="_blank" title="Скачать" download></a></td>
	</tr>
	<tr>
		<td class="time">16 июн 2017</td>
		<td class="left">Протокол рассмотрения заявок на участие в открытом аукционе на право заключения договора аренды объектов недвижимости, находящихся в федеральной собственности и закрепленных за ФГБНУ Марийский НИИСХ на праве оперативного управления по Лотам №1, №2</td>
		<td><a href="Doc/Извещение торги июнь 2017.pdf" target="_blank" title="Скачать" download></a></td>
	</tr>
	<tr>
		<td class="time" rowspan='2'>24 май 2017</td>
		<td class="left">Извещение о проведении открытого аукциона на право заключения договора аренды объектов недвижимости, находящихся в федеральной собственности и закрепленных за ФГБНУ Марийский НИИСХ на праве оперативного управления</td>
		<td><a href="Doc/Извещение торги май 2017.pdf" target="_blank" title="Скачать" download></a></td>
	</tr>
	<tr>
		<td class="left">Документация об аукционе на право заключения договора аренды объекта, находящегося в федеральной собственности и закрепленного за ФГБНУ Марийский НИИСХ на праве оперативного управления</td>
		<td><a href="Doc/Документация по торгам май 2017.pdf" target="_blank" title="Скачать" download></a></td>
	</td>
	<tr>
		<td class="time" rowspan='2'>29 апр 2016</td>
		<td class="left">Договор №А-01/16 поставки автомобильного бензина с АЗС</td>
		<td><a href="Doc/ДОГОВОР по поставке бензина с АЗС.docx" target="_blank" title="Скачать" download></a></td>
	</tr>
	<tr>
		<td class="left">Договор поставки моторных масел</td>
		<td><a href="Doc/ДОГОВОР по поставке моторного масла.docx" target="_blank" title="Скачать" download></a></td>
	</tr>
</table>
{% endblock %}