{% extends "base.html" %}

{% block title %}
    {{page.title}}
{% endblock %}

{% block description %}
	{{page.description}}
{% endblock %}

{% block content %}
<nav class="nav_sub">
	<span>Ещё ↑</span>
	<a href="Potato.html">Картофель</a>
	<a href="Grass.html">Многолетние травы</a>
	<a href="Jim.html">Жимолость</a>
</nav>
<h2>Зерновая продукция</h2>
<div class="pages">
	<div id="news_institute">
	<article>
		<h3>Озимая&nbsp;пшеница&nbsp;<b>Безенчукская&nbsp;380</b></h3>
		<section>
			<p>Среднеспелая сильная пшеница, имеет повышенную зимостойкость и засухоустойчивость. Сорт экопластичен, имеет высокую стабильную урожайность по годам. Высота растения 105-115 см.</p>
			<p>Устойчив к осыпанию, и прорастанию зерна в колосе, к мучнистой росе и жёлтой ржавчине.</p>
		</section>
	</article>
	<article>
		<h3>Яровая пшеница <b>Екатерина</b></h3>
		<section>
			<p>Среднеранний, вегетационный период 75-89 дней, среднезасухоустойчивый сорт. Масса 1000 зерен 35-40 г. Средняя урожайность в Волго-Вятском регионе - 27,8 ц/га. Среднерослый.</p>
			<p>Хлебопекарные качества хорошие. Ценная пшеница. Сильновосприимчив к корневым гнилям и бурой ржавчине; восприимчив к мучнистой росе. В полевых условиях сильно поражался пыльной головней. Имеет хорошую устойчивость к полеганию.</p>
		</section>
	</article>
	<article>
		<h3>Яровой ячмень <b>Родник Прикамья</b></h3>
		<section>
			<p>Среднеспелый, созревает в среднем за 80 дней. Высокоурожайный (средняя урожайность –6,4 т/га, максимальная – 8,0 т/га). Сорт характеризуется высокой продуктивной кустистостью, массой зерна с растения. Формирует крупное зерно с хорошими технологическими свойствами: натура зерна  672 г/л, масса 1000 зерен  47,4 г, пленчатость  7,76%, содержание белка в зерне 13,5%, крахмала  60,3%.</p>
			<p>Устойчивость к полеганию высокая. Сорт устойчив к осыпанию и весенним заморозкам. Отличается хорошей выживаемостью, характеризуется как среднеустойчивый к корневым гнилям, слабо поражается стеблевой ржавчиной и полосатой пятнистостью. Устойчив к пыльной головне. Сорт включен в список ценных по качеству сортов РФ</p>
		</section>
	</article>
    <article>
		<h3>Яровой ячмень <b>Владимир</b></h3>
		<section>
			<p>Среднеспелый, засухоустойчивый сорт. Отличается быстрым темпом роста в фазу всходов, высокими потенциальной продуктивностью и технологическими качествами зерна. Высота растения 96-123 см.</p>
			<p>Устойчив к полеганию,  повышенной кислотности почвы, пыльной головне. Слабовосприимчив твердой головне, корневым гнилям, сетчатой пятнистости, ринхоспориозу.</p>
		</section>
	</article>
	<article>
		<h3>Яровой овёс <b>Буланый</b></h3>
		<section>
			<p>Среднеспелый, среднезасухоустойчивый, нетребовательный к почве сорт. Устойчивость к низкой кислотности почвы сопровождается хорошими качествами зерна. Отличается повышенным угнетением вики при совместном выращивании.</p>
			<p>Средняя устойчивость к пыльной головне и корончатой ржавчине.</p>
		</section>
	</article>
	<article>
		<p>Зав. отделом первичного семеноводства: к.с.-х.н. <b>Максимов Владимир Алексеевич</b></p>
	</article>
	</div>
{% endblock %}