{% extends "base.html" %}

{% block title %}
    {{page.title}}
{% endblock %}

{% block description %}
	{{page.description}}
{% endblock %}

{% block content %}

{% block nav_sub_prod %}
	{% include "nav_sub_prod.html" %}
{% endblock %}

<h2>Зерновая продукция</h2>
<div class="pages">
	<div id="news_institute">
	<article>
		<h3>Озимая пшеница <b>Безенчукская 380</b></h3>
		<section>
			<p>Среднеспелая сильная пшеница, имеет повышенную зимостойкость и засухоустойчивость. Сорт экопластичен, имеет высокую стабильную урожайность по годам. Высота растения 105-115 см.</p>
			<p>Устойчив к осыпанию, и прорастанию зерна в колосе, к мучнистой росе и жёлтой ржавчине.</p>
		</section>
	</article>
	<article>
		<p>Зав. отделом первичного семеноводства: к.с.-х.н. <b>Максимов Владимир Алексеевич</b></p>
	</article>
	</div>
{% endblock %}