{% extends "base.html" %}

{% block title %}
    {{page.title}}
{% endblock %}

{% block description %}
	{{page.description}}
{% endblock %}

{% block content %}
<nav class="nav_sub">
	<span>Ещё ↑</span>
	<a href="Grain.html">Зерновые</a>
	<a href="Potato.html">Картофель</a>
	<a href="Jim.html">Жимолость</a>
</nav>
<h2>Многолетние травы</h2>
<div class="pages">
	<div id="news_institute">
	<article>
		<h3>Овсяница луговая <b>Волжанка</b></h3>
		<section>
			<p>Скороспелая, входит в число лучших районированных сортов РФ.</p>
			<p>Начало уборки прямым комбайнированием при созревании 85-90 % метелок, при раздельной уборке – при созревании 65-75 % метелок. При перестое семена быстро осыпаются.</p>
			<p>Слабо поражается болезнями. Имеет стабильную продуктивность.</p>
		</section>
	</article>
	<article>
		<h3>Овсяница луговая <b>Пензенская 1</b></h3>
		<section>
			<p>Скороспелая, входит в число лучших районированных сортов РФ.</p>
			<p>Начало уборки прямым комбайнированием при созревании 85-90 % метелок, при раздельной уборке – при созревании 65-75 % метелок. При перестое семена быстро осыпаются.</p>
			<p>Слабо поражается болезнями. Имеет стабильную продуктивность.</p>
		</section>
	</article>
	<article>
		<h3>Клевер <b>Мартум</b></h3>
		<section>
			<p>Сорт среднеранний двуукосный, имеет высокую зимостойкость и продуктивность сухого вещества (в среднем 12,5 т/га). Высота растений в первом укосе 51…76 см, а во втором – 29…50 см.</p>
			<p>В 2 раза меньше поражается корневой гнилью, чем сорт Кировский 159, характеризуется дружностью цветения и созревания.</p>
		</section>
	</article>
	<article>
		<p>Специалист по семеноводству многолетних трав: с.н.с. <b>Золотарёва Римма Ивановна</b></p>
	</article>
	</div>
{% endblock %}