{% extends "base.html" %}

{% block title %}
    {{page.title}}
{% endblock %}

{% block description %}
	{{page.description}}
{% endblock %}

{% block way %}
	{% if page.parent_url %}
		<li><a href="{% url 'siteapp:parent_page' page.parent_url %}">{{page.parent_title}}</a>
			<ul>
				<li><a href="{% url 'siteapp:this_page' page.url %}">{{page.title}}</a></li>
			</ul>
		</li>
	{% else %}
		<li><a href="{% url 'siteapp:this_page' page.url %}">{{page.title}}</a></li>
	{% endif %}
{% endblock %}

{% block way_again %}
	{% if page.parent_url %}
		<li><a href="{% url 'siteapp:parent_page' page.parent_url %}">{{page.parent_title}}</a>
			<ul>
				<li><a href="{% url 'siteapp:this_page' page.url %}">{{page.title}}</a></li>
			</ul>
		</li>
	{% else %}
		<li><a href="{% url 'siteapp:this_page' page.url %}">{{page.title}}</a></li>
	{% endif %}
{% endblock %}

{% block content %}
<article style="color:green;background-color:white">
	<p>ВАЖНОЕ ОБЪЯВЛЕНИЕ!</p>
	<p>У Марийского НИИСХ – филиала ФГБНУ ФАНЦ Северо-Востока теперь новый официальный почтовый ящик: <strong><a href="mailto:marniish@yandex.ru" style="color:green;">marniish@yandex.ru</a></strong></p>
	<p>В связи с техническими неполадками преждний почтовый ящик via@mari-el.ru не работает </p>
</article>
<img id="expo" src="img/Expo.jpg" alt="Выставочная продукция МарНИИСХ" title="Выставочная продукция МарНИИСХ">
<section class="areas">
	<h2>Основные направления деятельности</h2>
	<div>
		<a href="Trend.html" id="plant">
			<div><img src="img/sprite_trend.png"></div>
			<strong>Разработка ресурсосберегающих технологий производства сельскохозяйственных культур</strong>
		</a
		><a href="Trend.html" id="plant">
			<div><img src="img/sprite_trend.png"></div>
			<strong>Cоздание смешанных озимых агроценозов с участием тритикале</strong>
		</a
		><a href="Trend.html" id="plant">
			<div><img src="img/sprite_trend.png"></div>
			<strong>Разработка технологии возделывания перспективных сортов жимолости синей в условиях Республики Марий Эл</strong>
		</a
		><a href="Trend.html" id="land">
			<div><img src="img/sprite_trend.png"></div>
			<strong>Разработка адаптивно-ландшафтных систем земледелия, научно-обоснованных севооборотов</strong>
		</a
		><a href="Trend.html" id="land">
			<div><img src="img/sprite_trend.png"></div>
			<strong>Повышение плодородия почв и разработка систем удобрений полевых и кормовых севооборотов, и биологизация почв</strong>
		</a
		><a href="Trend.html" id="zoo">
			<div><img src="img/sprite_trend.png"></div>
			<strong>Разработка методических рекомендаций по увеличению продуктивного долголетия и повышению молочной продуктивности скота черно-пестрой породы</strong>
		</a
		><a href="Trend.html" id="bird">
			<div><img src="img/sprite_trend.png"></div>
			<strong>Методы сохранения и размножения волжских белых цесарок генофондного стада в малочисленной группе</strong>
		</a>
	</div>
</section>
<div class="references">
	<h2>Полезные ссылки</h2>
	<a id="fano" href="http://minobrnauki.gov.ru" title="Минобрнауки России" target="_blank"><img src="img/sprite_link.png" alt="Минобрнауки России"></a
	><a id="ras" href="http://www.ras.ru" title="Российская академия наук" target="_blank"><img src="img/sprite_link.png" alt="РАН"></a
	><a id="mcx" href="http://www.mcx.ru" title="Минсельхоз РФ" target="_blank"><img src="img/sprite_link.png" alt="Минсельхоз РФ"></a
	><a id="m_gov" href="http://mari-el.gov.ru" title="Правительство Марий Эл" target="_blank"><img src="img/sprite_link.png" alt="Правительств Марий Эл"></a
	><a id="elibrary" href="http://elibrary.ru" title="Elibrary.ru" target="_blank"><img src="img/sprite_link.png" alt="Elibrary.ru"></a
	><a id="cyberleninka" href="http://cyberleninka.ru" title="КиберЛенинка" target="_blank"><img src="img/sprite_link.png" alt="КиберЛенинка"></a
	><a id="maripogoda" href="http://maripogoda.ru/agro-obzor" title="Метеорологический агрообзор Марийского ЦГМС" target="_blank"><img src="img/sprite_link.png" alt="Метеорологический агрообзор Марийского ЦГМС"></a>
</div>
{% endblock %}