{% extends "base.html" %}
{% load static %}

{% block title %}
    {{page.title}}
{% endblock %}

{% block description %}
	{{page.description}}
{% endblock %}

{% block content %}
<article style="color:green;background-color:white">
	<p>ВАЖНОЕ ОБЪЯВЛЕНИЕ!</p>
	<p>У Марийского НИИСХ – филиала ФГБНУ ФАНЦ Северо-Востока теперь новый официальный почтовый ящик: <strong><a href="mailto:marniish@yandex.ru" style="color:green;">marniish@yandex.ru</a></strong></p>
	<p>В связи с техническими неполадками преждний почтовый ящик via@mari-el.ru не работает </p>
</article>
<img id="expo" src="{% static 'img/Expo.jpg' %}" alt="Выставочная продукция МарНИИСХ" title="Выставочная продукция МарНИИСХ">
<section class="areas">
	<h2>Основные направления деятельности</h2>
	<div>
		{% for trend in trends %}
		<a href="{% url 'siteapp:Trend' %}" id="{{trend.trend}}">
			<div><img src="{% static 'img/sprite_trend.png' %}"></div>
			<strong>{{trend.name}}</strong>
		</a>
		{% endfor %}
	</div>
</section>
<div class="references">
	<h2>Полезные ссылки</h2>
	{% for ref in references %}
	<a id="{{ref.id_name}}" href="{{ref.url}}" title="{{ref.name}}" target="_blank">
		<img src="{% static 'img/sprite_link.png' %}" alt="{{ref.name}}"></a>
	{% endfor %}
</div>
{% endblock %}