{% extends "base.html" %}

{% block title %}
    {{page.title}}
{% endblock %}

{% block description %}
	{{page.description}}
{% endblock %}

{% block content %}

{% block nav_sub_news %}
	{% include "nav_sub_news.html" %}
{% endblock %}

<h2>Новости института</h2>
<div class="pages">
	<div id="news_institute">
	<article>
		<h3>Марийский НИИСХ – филиал ФГБНУ ФАНЦ Северо-Востока поменял свой официальный почтовый ящик на marniish@yandex.ru</h3>
		<time datetime="2024-12-27">27 февраля 2024 года</time>
		<section>
			<p>У Марийского НИИСХ – филиала ФГБНУ ФАНЦ Северо-Востока теперь новый официальный почтовый ящик: <a href="mailto:marniish@yandex.ru">marniish@yandex.ru</a></p>
			<p>Прежний почтовый ящик via@mari-el.ru не работает в связи с техническими неполадками</p>
		</section>
    </article>
    </div>
{% block news_archive %}
	{% include "news_archive.html" %}
{% endblock %}
</div>
{% endblock %}