<!DOCTYPE html>
<html lang="ru">
<head>
	<title>Новости за 2020 год  | Марийский НИИСХ - филиал ФБГНУ ФАНЦ Северо-Востока | Официальный сайт</title>
	<meta http-equiv="content-type" content="text/html; charset=utf-8" />
	<meta name="viewport" content="width=device-width">
	<meta name="description" content="Новости института Марийского НИИСХ, филиала ФБГНУ ФАНЦ Северо-Востока">
	<link rel="icon" type="image/png" href="favicon.png"/>
	<link rel="shortcut icon" href="favicon.png" type="image/x-icon">
	<link href="css/style.css" rel="stylesheet">
	<link href="css/news.css" rel="stylesheet">
	<!--[if lte IE 8]>
		<script src="js/html5shiv.js"></script>
		<link href="css/ie8.css" rel="stylesheet">
	<![endif]-->
</head>
<body>
<input type="checkbox" id="nav" hidden>
<nav class="nav_side">
<label for="nav" class="cross" onclick>✕</label>
	<ul class="way">
		<li class="index"><a href="index.html">марниисх.рф</a>
			<ul>
				<li><a href="News2024.html">Новости</a>
					<ul>
						<li><a href="News2020.html">За 2020 год</a></li>
					</ul>
				</li>
			</ul>
		</li>
	</ul>
	<ul class="side">
		<li class="index"><span><img src="img/sprite_nav.png"></span><a href="index.html">Главная</a></li
		><li class="news"><span><img src="img/sprite_nav.png"></span><a href="News.html">Новости</a></li
		><li class="prod"><span><img src="img/sprite_nav.png"></span><a href="Prod.html">Продукция</a>
			<ul>
				<li><a href="Grain.html">Зерновые</a></li
				><li><a href="Potato.html">Картофель</a></li
				><li><a href="Grass.html">Многолетние травы</a></li
				><li><a href="Jim.html">Жимолость</a></li>
			</ul>
		</li
		><li class="about"><span><img src="img/sprite_nav.png"></span><a href="About.html">О нас</a>
			<ul>
				<li><a href="About.html">История института</a></li
				><li><a href="Trend.html">Направления деятельности</a></li
				><li><a href="Progress.html">Достижения</a></li>
			</ul>
		</li
		><li class="contact"><span><img src="img/sprite_nav.png"></span><a href="Contact.html">Контакты</a></li
		><li class="price"><span><img src="img/sprite_nav.png"></span><a href="Price.html">Прайс</a></li
		><li class="docs"><span><img src="img/sprite_nav.png"></span><a href="Docs.html">Документы</a></li
		><li class="map"><span><img src="img/sprite_nav.png"></span><a href="Map.html">Карта сайта</a></li>
	</ul>
</nav>
<div class="mask">
	<label for="nav" onclick></label>
</div>
<div class="maket">
<label for="nav" class="burger" onclick>МЕНЮ</label>
<header>
	<h1>
		<span class="n1">
			<span>Марийский</span>
			<span>НИИ</span>
		</span
		><span class="n2">СХ</span
		><span class="n3">
			<span></span>
			<span>филиал ФГБНУ&nbspФАНЦ Северо-Востока</span>
		</span
		><a class="logo" href="index.html">
			<img src="img/Logo.png" alt="Логотип Марийский НИИСХ">
		</a>
	</h1>
	<nav class="nav_main">
		<ul>
			<li class="index"><span><img src="img/sprite_nav.png"></span><a href="index.html">Главная</a></li
			><li class="news"><span><img src="img/sprite_nav.png"></span><a href="News.html">Новости</a></li
			><li class="prod"><span><img src="img/sprite_nav.png"></span><a href="Prod.html">Продукция</a></li
			><li class="about"><span><img src="img/sprite_nav.png"></span><a href="About.html">О нас</a></li
			><li class="contact"><span><img src="img/sprite_nav.png"></span><a href="Contact.html">Контакты</a></li>
		</ul>
	</nav>
	<a class="tel" href="tel:+78362538039"><span><b class="phone"><i></i></b></span> <strong>+7 (8362) 53-80-39</strong></a>
	<ul class="head_way">
		<li class="parent"><a href="News2024.html">Новости</a>
			<ul>
				<li><a href="News2019.html">За 2019 год</a></li>
			</ul>
		</li>
	</ul>
</header>
<main>
<nav class="nav_sub">
	<span>Ещё ↑</span>
	<a href="News2016.html">За 2016 год</a>
	<a href="News2017.html">За 2017 год</a>
	<a href="News2018.html">За 2018 год</a>
	<a href="News2019.html">За 2019 год</a>
	<a href="News2020.html">За 2020 год</a>
	<a href="News2021.html">За 2021 год</a>
	<a href="News2022.html">За 2022 год</a>
	<a href="News2023.html">За 2023 год</a>
	<a href="News2024.html">За 2024 год</a>
</nav>
<h2>Новости института</h2>
<div class="pages">
	<div id="news_institute">
	<article>
		<h3>Сотрудники института приняли участие в совещании - видеоконференцсвязи по результатам сортоиспытания сельскохозяйственных культур в 2020 г.</h3>
		<time datetime="2020-11-10">10 ноября 2020 года</time>
		<section>
			<p>10 ноября 2020 г. в Министерстве сельского хозяйства и продовольствия Республики Марий Эл состоялось республиканское совещание в режиме видеоконференцсвязи по результатам сортоиспытания сельскохозяйственных культур в 2020 г.</p>
			<p>Сотрудники Марийского НИИСХ – филиала ФГБНУ ФАНЦ Северо-Востока приняли участие в данном мероприятии.</p>
			<p>С основным докладом по итогам сортоиспытания сельскохозяйственных культур выступила начальник филиала ФГБУ «Госсорткомиссия» по Республике Марий Эл Якимова Эльвира Эдуардовна.</p>
			<p>По результатам сортоиспытания рекомендовано к районированию в 2021 году 14 сортов и гибридов отечественной и зарубежной селекции, в том числе: яровая тритикале – сорт «Тимур», овес яровой - «Драгун», лён масличный – сорта «Фаворит» и «Амбер», клевер луговой – сорт «Близард», люцерна – «Люделис», картофель – сорта «Легенда» и «Ариэль», кукуруза на корм – «Золотой початок 147 МВ» и «МГМ 326444» и сахарная свекла – гибриды «СХСВ 056-19» и «СХСВ 061-19». Впервые на районирование и на расширение по 4 региону допуска предложена капуста белокочанная –  гибриды «Такома» и «Сельма».</p>
		</section>
	</article>
	<article>
		<h3>Сотрудники института приняли участие в учебе агрономических служб предприятий агропромышленного комплекса Республики Марий Эл</h3>
		<time datetime="2020-02-25">27 февраля 2020 года</time>
		<section>
			<p>В период с 25 по 27 февраля 2020 г. на базе ФГБОУ «Марийский институт переподготовки кадров агробизнеса» проведена учеба агрономических служб предприятий агропромышленного комплекса Республики Марий Эл.</p>
			<p>Сотрудники Марийского НИИСХ – филиала ФГБНУ ФАНЦ Северо-Востока приняли участие в данном мероприятии.</p>
			<p>В рамках учебной программы были рассмотрены вопросы агрохимического состояния почв республики и пути воспроизводства их плодородия, механизма введения в оборот неиспользуемой пашни с государственной поддержкой за счет проведения культуртехнических мероприятий, известкования почвы, защиты растений, требований фитосанитарного законодательства при производстве, хранении, транспортировке и реализации растениеводческой продукции, сертификации и декларирования семян, правового режима использования и охраны земель сельскохозяйственного назначения, рассмотрены новые направления государственной поддержки.</p>
		</section>
	</article>
	<article>
		<h3>Сотрудники института приняли участие в III международной конференции «Ягоды России 2020»</h3>
		<time datetime="2020-02-27">28 февраля 2020 года</time>
		<section>
			<label><input type="checkbox" hidden><img src="N/Berry2020.jpg" alt="Участники Ягоды России 2020"><img src="N/Berry2020.jpg" alt="Участники Ягоды России 2020"></label>
			<p>В период с 27 по 28 февраля 2020 г. в г. Казани (Казанская Ривьера) прошла III международная конференция «Ягоды России 2020»</p>
			<p>Старший научный сотрудник института Головунин Владимир Павлович принял участие в работе данной конференции.</p>
			<p>В работе конференции приняли участие специалисты ягодной отрасли из Испании, Нидерландов, Польши, Украины, Белоруссии, Казахстана и России.</p>
		</section>
	</article>
	</div>
	<aside id="news_archive">
		<h3>Архив новостей</h3>
		<a href="News2016.html">2016</a>
		<a href="News2017.html">2017</a>
		<a href="News2018.html">2018</a>
		<a href="News2019.html">2019</a>
		<a href="News2020.html">2020</a>
		<a href="News2021.html">2021</a>
		<a href="News2022.html">2022</a>
		<a href="News2023.html">2023</a>
		<a href="News2024.html">2024</a>
	</aside>
</div>
</main>
</div>
<footer>
	<div class="contacts">
		<div>
			<p><span class="fonts_ico">©</span> 2016-2024</p>
			<p>Марийский НИИСХ - филиал ФГБНУ&nbsp;ФАНЦ Северо-Востока</p>
			<h4><span class="home_ico"><em></em><i></i></span> Почтовый адрес</h4>
			<p class="adress">425231, Россия, Республика&nbsp;Марий&nbsp;Эл, Медведевский&nbsp;район, посёлок&nbsp;Руэм, улица&nbsp;Победы,&nbsp;дом&nbsp;№10</p>
			<h4><span class="email_ico"></span> Электронный адрес</h4>
			<p><a href="mailto:marniish@yandex.ru">marniish<span class="fonts_ico">@</span>yandex.ru</a></p>
		</div>
		<div>
			<h4><span class="phone"><i></i></span> Телефоны</h4>
			<p>Приёмная: <a href="tel:+78362538039">+7 (8362) 53-80-39</a></p>
			<p>Директор:<a href="tel:+78362538010"> +7 (8362) 53-80-10</a></p>
			<h4><span class="phone"><i></i></span> Факс</h4>
			<p>+7 (8362) 53-80-82</p>
		</div>
	</div>
	<div class="author">
		<h4><span class="fonts_ico"><img src="img/star.png"></span> Разработчик</h4>
		<a class="vk" href="http://vk.com/koalder">vk</a>
		<a class="email_ico" href="mailto:koalder@yandex.ru"></a>
	</div>
</footer>
</body>
</html>
