{% extends "base.html" %}

{% block title %}
    {{page.title}}
{% endblock %}

{% block description %}
	{{page.description}}
{% endblock %}

{% block content %}
<nav class="nav_sub">
	<span>Ещё ↑</span>
	<a href="{% url 'siteapp:News2016' %}">За 2016 год</a>
	<a href="{% url 'siteapp:News2017' %}">За 2017 год</a>
	<a href="{% url 'siteapp:News2018' %}">За 2018 год</a>
	<a href="{% url 'siteapp:News2019' %}">За 2019 год</a>
	<a href="{% url 'siteapp:News2020' %}">За 2020 год</a>
	<a href="{% url 'siteapp:News2021' %}">За 2021 год</a>
	<a href="{% url 'siteapp:News2022' %}">За 2022 год</a>
	<a href="{% url 'siteapp:News2023' %}">За 2023 год</a>
	<a href="{% url 'siteapp:News2024' %}">За 2024 год</a>
</nav>
<h2>Новости института</h2>
<div class="pages">
	<div id="news_institute">
    <article>
		<h3>8 декабря 2022 г. в Министерстве сельского хозяйства и продовольствия Республики Марий Эл состоялось республиканское совещание по результатам сортоиспытания на сортоучастках Республики Марий Эл.</h3>
		<time datetime="2022-12-09">09 декабря 2022 года</time>
		<section>
			<p>8 декабря 2022 г. в Министерстве сельского хозяйства и продовольствия Республики Марий Эл состоялось республиканское совещание по результатам сортоиспытания на сортоучастках Республики Марий Эл.</p>
			<p>С основным докладом по итогам сортоиспытания сельскохозяйственных культур выступила главный агроном филиала ФГБУ «Госсорткомиссия» по Кировской области, Удмуртской Республике и Республике Марий Эл Якимова Э.Э.</p>
			<p>Ведущий научный сотрудник Марийского НИИСХ – филиала ФГБНУ ФАНЦ Северо-Востока» Замятин Сергей Анатольевич рассказал о результатах демонстрационных опытов заложенных к дню поля Республики.</p>
			<p>Также на мероприятии выступили представители филиала ФГБУ «Россельхозцентр» по Республике Марий Эл, ОАО «Перевозской семеноводческой станции», Управления Россельхознадзора по Нижегородской области и Республике Марий Эл, ООО ТД «Чувашснабкомплект», ООО «Биосфера».</p>
		</section>
    </article>
    <article>
		<h3>Поздравляем научного сотрудника нашего института Свечникова А.К. с успешной защитой кандидатской диссертации!</h3>
		<time datetime="2022-09-27">27 сентября 2022 года</time>
		<section>
			<label><input type="checkbox" hidden><img src="N/Svecha2022.jpg" alt="Свечников Александр Константинович на защите"><img src="N/Svecha2022.jpg" alt="Свечников Александр Константинович на защите"></label>
			<p>15 сентября в Самарском государственном аграрном университете (диссертационный совет Д 999.091.03) научный сотрудник отдела технологий возделывания сельскохозяйственных культур Марийского НИИСХ – филиала ФГБНУ ФАНЦ Северо-Востока Свечников Александр Константинович успешно защитил кандидатскую диссертацию на тему "Формирование продуктивности севооборотов в зависимости от доли многолетних бобово-злаковых трав и минеральных удобрений".</p>
		</section>
	</article>
	<article>
		<h3>28 июля на поле Марийского НИИСХ, состоялся семинар-совещание «Оценка демонстрационных посевов сельскохозяйственных культур, заложенных в рамках проведения Дня поля – 2022»</h3>
		<time datetime="2022-07-29">29 июля 2022 года</time>
		<section>
			<label><input type="checkbox" hidden><img src="N/Table2022.jpg" alt="Участники семинара у стола регистрации"><img src="N/Table2022.jpg" alt="Участники семинара у стола регистрации"></label>
			<label><input type="checkbox" hidden><img src="N/Barley2022.jpg" alt="Участники семинара у демпосева ячменя"><img src="N/Barley2022.jpg" alt="Участники семинара у демпосева ячменя"></label>	
			<p>28 июля на поле Марийского НИИСХ, состоялся семинар-совещание «Оценка демонстрационных посевов сельскохозяйственных культур, заложенных в рамках проведения Дня поля – 2022».</p>
			<p>Его участниками стали руководители и специалисты федеральных, республиканских организаций, руководители и специалисты управлений (отделов) сельского хозяйства, ответственные работники Министерства сельского хозяйства и продовольствия республики Марий Эл, ведущие поставщики средств защиты растений и минеральных удобрений, главы крестьянских фермерских хозяйств.</p>
			<p>Мероприятие проводилось с целью ознакомления участников с выведенными высокоурожайными сортами зерновых, зернобобовых культур и кукурузы.</p>
			<label><input type="checkbox" hidden><img src="N/Zea2022.jpg" alt="Участники семинара у демпосева кукурузы"><img src="N/Zea2022.jpg" alt="Участники семинара у демпосева кукурузы"></label>
			<label><input type="checkbox" hidden><img src="N/All2022.jpg" alt="Участники семинара у демпосева колосовых зерновых" ><img src="N/All2022.jpg" alt="Участники семинара у демпосева"></label>
		</section>
	</article>
	<article>
		<h3>12 июля 2022 года в Марийском НИИСХ – филиале ФГБНУ ФАНЦ Северо-Востока прошла инвентаризация полевых опытов</h3>
		<time datetime="2022-07-19">19 июля 2022 года</time>
		<section>
			<label><input type="checkbox" hidden><img src="N/Lapshin2022.jpg" alt="Лапшин Ю.А. выступает по яровым зерновым" ><img src="N/Lapshin2022.jpg" alt="Лапшин Ю.А. выступает по яровым зерновым" align="left"></label>
			<label><input type="checkbox" hidden><img src="N/Demo2022.jpg" alt="Замятин С.А. выступает по демпосеву"><img src="N/Demo2022.jpg" alt="Замятин С.А. выступает по демпосеву" align="left"></label>
			<label><input type="checkbox" hidden><img src="N/Vinogradov2022.jpg" alt="Виноградов Г.М. выступает по демпосеву"><img src="N/Vinogradov2022.jpg" alt="Виноградов Г.М. выступает по демпосеву" align="left"></label>
			<p>В состав экспертной комиссии вошли: Устюжанин Игорь Александрович (председатель) – директор ФГБНУ ФАНЦ Северо-Востока; Сысуев Василий Алексеевич – академик РАН, научный руководитель центра; Тимкина Елена Юрьевна – к.с-х.н., ученый секретарь центра; Виноградов Георгий Михайлович – директор Марийского НИИСХ – филиала ФГБНУ ФАНЦ Северо-Востока; Замятин Сергей Анатольевич – и.о. зам.директора по научной работе Марийского НИИСХ; Дементьев Дмитрий Алексеевич – старший научный сотрудник Чувашского НИИСХ.</p>
			<p>Комиссии были представлены демонстрационные посевы яровых культур, опытные делянки ярового тритикале, смешанных посевов зернотравяных севооборотов, селекции картофеля, жимолости.</p>
			<p>В результате приемки полевых опытов и этапов выполнения НИР представителями экспертной комиссии было отмечено полное соответствие наличия полевых опытов, проводимых согласно утвержденным рабочим программам и календарным планам. Первичная научная документация оформлена в соответствии к предъявляемым требованиям и в полной мере отражает весь спектр запланированных и проводимых наблюдений.</p>
		</section>
	</article>
	</div>
	<aside id="news_archive">
		<h3>Архив новостей</h3>
		<a href="{% url 'siteapp:News2016' %}">2016</a>
		<a href="{% url 'siteapp:News2017' %}">2017</a>
		<a href="{% url 'siteapp:News2018' %}">2018</a>
		<a href="{% url 'siteapp:News2019' %}">2019</a>
		<a href="{% url 'siteapp:News2020' %}">2020</a>
		<a href="{% url 'siteapp:News2021' %}">2021</a>
		<a href="{% url 'siteapp:News2022' %}">2022</a>
		<a href="{% url 'siteapp:News2023' %}">2023</a>
		<a href="{% url 'siteapp:News2024' %}">2024</a>
	</aside>
</div>
{% endblock %}