{% extends "base.html" %}

{% block title %}
    {{page.title}}
{% endblock %}

{% block description %}
	{{page.description}}
{% endblock %}

{% block content %}

{% block nav_sub_about %}
	{% include "nav_sub_news.html" %}
{% endblock %}

<nav class="nav_sub">
	<span>Ещё ↑</span>
	<a href="{% url 'siteapp:News2016' %}">За 2016 год</a>
	<a href="{% url 'siteapp:News2017' %}">За 2017 год</a>
	<a href="{% url 'siteapp:News2018' %}">За 2018 год</a>
	<a href="{% url 'siteapp:News2019' %}">За 2019 год</a>
	<a href="{% url 'siteapp:News2020' %}">За 2020 год</a>
	<a href="{% url 'siteapp:News2021' %}">За 2021 год</a>
	<a href="{% url 'siteapp:News2022' %}">За 2022 год</a>
	<a href="{% url 'siteapp:News2023' %}">За 2023 год</a>
	<a href="{% url 'siteapp:News2024' %}">За 2024 год</a>
</nav>
<h2>Новости института</h2>
<div class="pages">
	<div id="news_institute">
	<article>
		<h3>Сотрудники института приняли участие в совещании - видеоконференцсвязи по результатам сортоиспытания сельскохозяйственных культур в 2020 г.</h3>
		<time datetime="2020-11-10">10 ноября 2020 года</time>
		<section>
			<p>10 ноября 2020 г. в Министерстве сельского хозяйства и продовольствия Республики Марий Эл состоялось республиканское совещание в режиме видеоконференцсвязи по результатам сортоиспытания сельскохозяйственных культур в 2020 г.</p>
			<p>Сотрудники Марийского НИИСХ – филиала ФГБНУ ФАНЦ Северо-Востока приняли участие в данном мероприятии.</p>
			<p>С основным докладом по итогам сортоиспытания сельскохозяйственных культур выступила начальник филиала ФГБУ «Госсорткомиссия» по Республике Марий Эл Якимова Эльвира Эдуардовна.</p>
			<p>По результатам сортоиспытания рекомендовано к районированию в 2021 году 14 сортов и гибридов отечественной и зарубежной селекции, в том числе: яровая тритикале – сорт «Тимур», овес яровой - «Драгун», лён масличный – сорта «Фаворит» и «Амбер», клевер луговой – сорт «Близард», люцерна – «Люделис», картофель – сорта «Легенда» и «Ариэль», кукуруза на корм – «Золотой початок 147 МВ» и «МГМ 326444» и сахарная свекла – гибриды «СХСВ 056-19» и «СХСВ 061-19». Впервые на районирование и на расширение по 4 региону допуска предложена капуста белокочанная –  гибриды «Такома» и «Сельма».</p>
		</section>
	</article>
	<article>
		<h3>Сотрудники института приняли участие в учебе агрономических служб предприятий агропромышленного комплекса Республики Марий Эл</h3>
		<time datetime="2020-02-25">27 февраля 2020 года</time>
		<section>
			<p>В период с 25 по 27 февраля 2020 г. на базе ФГБОУ «Марийский институт переподготовки кадров агробизнеса» проведена учеба агрономических служб предприятий агропромышленного комплекса Республики Марий Эл.</p>
			<p>Сотрудники Марийского НИИСХ – филиала ФГБНУ ФАНЦ Северо-Востока приняли участие в данном мероприятии.</p>
			<p>В рамках учебной программы были рассмотрены вопросы агрохимического состояния почв республики и пути воспроизводства их плодородия, механизма введения в оборот неиспользуемой пашни с государственной поддержкой за счет проведения культуртехнических мероприятий, известкования почвы, защиты растений, требований фитосанитарного законодательства при производстве, хранении, транспортировке и реализации растениеводческой продукции, сертификации и декларирования семян, правового режима использования и охраны земель сельскохозяйственного назначения, рассмотрены новые направления государственной поддержки.</p>
		</section>
	</article>
	<article>
		<h3>Сотрудники института приняли участие в III международной конференции «Ягоды России 2020»</h3>
		<time datetime="2020-02-27">28 февраля 2020 года</time>
		<section>
			<label><input type="checkbox" hidden><img src="N/Berry2020.jpg" alt="Участники Ягоды России 2020"><img src="N/Berry2020.jpg" alt="Участники Ягоды России 2020"></label>
			<p>В период с 27 по 28 февраля 2020 г. в г. Казани (Казанская Ривьера) прошла III международная конференция «Ягоды России 2020»</p>
			<p>Старший научный сотрудник института Головунин Владимир Павлович принял участие в работе данной конференции.</p>
			<p>В работе конференции приняли участие специалисты ягодной отрасли из Испании, Нидерландов, Польши, Украины, Белоруссии, Казахстана и России.</p>
		</section>
	</article>
	</div>
{% block news_archive %}
	{% include "news_archive" %}
{% endblock %}
</div>
{% endblock %}