{% extends "base.html" %}

{% block title %}
    {{page.title}}
{% endblock %}

{% block description %}
	{{page.description}}
{% endblock %}

{% block content %}

{% block nav_sub_news %}
	{% include "nav_sub_news.html" %}
{% endblock %}

<nav class="nav_sub">
	<span>Ещё ↑</span>
	<a href="{% url 'siteapp:News2016' %}">За 2016 год</a>
	<a href="{% url 'siteapp:News2017' %}">За 2017 год</a>
	<a href="{% url 'siteapp:News2018' %}">За 2018 год</a>
	<a href="{% url 'siteapp:News2019' %}">За 2019 год</a>
	<a href="{% url 'siteapp:News2020' %}">За 2020 год</a>
	<a href="{% url 'siteapp:News2021' %}">За 2021 год</a>
	<a href="{% url 'siteapp:News2022' %}">За 2022 год</a>
	<a href="{% url 'siteapp:News2023' %}">За 2023 год</a>
	<a href="{% url 'siteapp:News2024' %}">За 2024 год</a>
</nav>
<h2>Новости института</h2>
<div class="pages">
	<div id="news_institute">
	<article>
		<h3>В Марийском НИИСХ – филиале ФГБНУ ФАНЦ Северо-Востока прошла инвентаризация полевых опытов и этапов выполнения НИР на 2019 год</h3>
		<time datetime="2019-07-10">10 июля 2019 года</time>
		<section>
			<p>10 июля в Марийском НИИСХ – филиале ФГБНУ ФАНЦ Северо-Востока прошла инвентаризация полевых опытов и этапов выполнения НИР на 2019 год.</p>
			<p>В состав комиссии вошли: ведущие ученые института, директор ФГБУ САС «Марийская», профессор ФГБОУ ВО «Марийский государственный университет, начальник филиала ФГБУ «Государственной комиссии Российской Федерации по испытанию и охране селекционных достижений» по Республикке Марий Эл, первый проректор по учебной и научно-методической работе ФГБОУ ДПО «Марийский институт переподготовки кадров агробизнеса.</p>
			<p>Комиссия высоко оценила работу исследователей и констатирует, что на момент приемки все полевые опыты имеются в наличии и проводятся согласно ранее утвержденным рабочим программам и календарным планам. Первичная научная документация оформлена согласно предъявляемым требованиям и отражает весь спектр запланированных и проводимых наблюдений.</p>
			<p>Документами приёмки НИР можно ознакомиться по следующей ссылке</p>
			<a href="Docs.html" target="_blank">Перейти</a>
		</section>
	</article>
	<article>
		<h3>Сотрудники института приняли участие на занятиях по программе повышения квалификации</h3>
		<time datetime="2019-02-26">26 февраля 2019 года</time>
		<section>
			<label><input type="checkbox" hidden><img src="N/Vinogradov2019.jpg" alt="Выступление Г.М. Виноградова"><img src="N/Vinogradov2019.jpg" alt="Выступление Г.М. Виноградова"></label>
			<label><input type="checkbox" hidden><img src="N/Akashevo2019.jpg" alt="Сельхозспециалисты в Акашевской птицефабрике"><img src="N/Akashevo2019.jpg" alt="Сельхозспециалисты в Акашевской птицефабрике"></label>
			<p>С 18 по 21 февраля в ФГБОУ ДПО «Марийском институте переподготовки кадров агробизнеса проведена учеба агрономической и инженерной служб по программе повышения квалификации <strong>«Современные технологии производства продукции растениеводство в условиях Республики Марий Эл»</strong></p>
			<p>Сотрудники Марийского НИИСХ – филиала ФГБНУ ФАНЦ Северо-Востока приняли участие в данном мероприятии. На занятиях директор института ознакомил слушателей об результатах научно-исследовательской деятельности Марийского НИИСХ – филиала ФГБНУ ФАНЦ Северо-Востока.</p>
			<p>Перед агрономическими и инженерными службами выступали специалисты министерства, руководители федеральных, республиканских организаций, надзорных органов, представители поставщиков средств защиты растений, удобрений и сельскохозяйственной техники.</p>
			<p>В рамках учебной программы рассмотрены вопросы агрохимического состояния почв Республики Марий Эл и пути воспроизводства их плодородия, механизма введения в оборот неиспользуемой пашни с государственной поддержкой за счет проведения культуртехнических работ, защиты растений, требований фитосанитарного законодательства при производстве, хранении и реализации растениеводческой продукции, сертификации, декларирования и этапы органического производства, транспортного законодательства, организации материально-технического обеспечения агропромышленного комплекса сельскохозяйственной техникой и запасными частями, цифровизации региона в отрасли растениеводства.</p>
			<p>В рамках учебы организовано выездное занятие на завод по переработке птичьего помета ООО «Птицефабрика Акашевская» с. Ишимово Параньгинского района, где слушатели ознакомились с современными технологиями переработки птичьего помета и производства органических удобрений в условиях Республики Марий Эл.</p>
		</section>
	</article>
	</div>
{% block news_archive %}
	{% include "news_archive" %}
{% endblock %}
</div>
{% endblock %}