{% extends "base.html" %}

{% block title %}
    {{page.title}}
{% endblock %}

{% block description %}
	{{page.description}}
{% endblock %}

{% block content %}

{% block nav_sub_about %}
	{% include "nav_sub_news.html" %}
{% endblock %}

<nav class="nav_sub">
	<span>Ещё ↑</span>
	<a href="{% url 'siteapp:News2016' %}">За 2016 год</a>
	<a href="{% url 'siteapp:News2017' %}">За 2017 год</a>
	<a href="{% url 'siteapp:News2018' %}">За 2018 год</a>
	<a href="{% url 'siteapp:News2019' %}">За 2019 год</a>
	<a href="{% url 'siteapp:News2020' %}">За 2020 год</a>
	<a href="{% url 'siteapp:News2021' %}">За 2021 год</a>
	<a href="{% url 'siteapp:News2022' %}">За 2022 год</a>
	<a href="{% url 'siteapp:News2023' %}">За 2023 год</a>
	<a href="{% url 'siteapp:News2024' %}">За 2024 год</a>
</nav>
<h2>Новости института</h2>
<div class="pages">
	<div id="news_institute">
	<article>
		<h3>Марийский НИИСХ – филиал ФГБНУ ФАНЦ Северо-Востока поменял свой официальный почтовый ящик на marniish@yandex.ru</h3>
		<time datetime="2024-12-27">27 февраля 2024 года</time>
		<section>
			<p>У Марийского НИИСХ – филиала ФГБНУ ФАНЦ Северо-Востока теперь новый официальный почтовый ящик: <a href="mailto:marniish@yandex.ru">marniish@yandex.ru</a></p>
			<p>Прежний почтовый ящик via@mari-el.ru не работает в связи с техническими неполадками</p>
		</section>
    </article>
    </div>
{% block news_archive %}
	{% include "news_archive" %}
{% endblock %}
</div>
{% endblock %}