<!--Заполнение новостями НИИ-->
{% extends "base.html" %}
{% load static %}

{% block ways_header %}
    {% include "ways_news.html" %}
{% endblock %}

{% block ways_nav %}
    {% include "ways_news.html" %}
{% endblock %}

{% block content %}

<nav class="nav_sub">
	<span>Ещё ↑</span>
{% block nav_sub_news %}
	{% include "nav_sub_news.html" %}
{% endblock %}
</nav>

<h2>Новости института за {{year}} год</h2>
<div class="pages">
	<div id="news_institute">
	{% for news in newses %}
	<article>
		<h3>{{news.title}}</h3>
		<time datetime="{{news.date}}">{{news.date}}</time>
		<section>
		{% for block in news.news_blocks.all %}
			{% if block.content_type == 'image' %}
				<label>
					<input type="checkbox" hidden>
					<img src="{{block.img.src.url}}" alt="{{block.img.alt}}">
					<img src="{{block.img.src.url}}" alt="{{block.img.alt}}">
					<div class="overlay"></div>
				</label>
			{% elif block.content_type == 'text' %}
				<p>{{block.text|safe}}</p>
			{% endif %}
		{% endfor %}
		</section>
	</article>
	{% endfor %}
	</div>
	<aside id="news_archive">
	<h3>Архив новостей</h3>
	{% block news_archive %}
		{% include "nav_sub_news.html" %}
	{% endblock %}
	</aside>
</div>
{% endblock %}