{% extends "base.html" %}

{% block title %}
    {{page.title}}
{% endblock %}

{% block description %}
	{{page.description}}
{% endblock %}

{% block content %}
<nav class="nav_sub">
	<span>Ещё ↑</span>
	<a href="Grain.html">Зерновые</a>
	<a href="Grass.html">Многолетние травы</a>
	<a href="Jim.html">Жимолость</a>
</nav>
<h2>Картофель</h2>
<div class="pages">
	<div id="news_institute">
	<article>
		<h3>Беллароза</h3>
		<section>
			<label><input type="checkbox" hidden><img src="P/Bellaroza.jpg" alt="Беллароза. Сорт картофеля"><img src="P/Bellaroza.jpg" alt="Беллароза. Сорт картофеля"></label>
			<p>Очень ранний (60 дней) высокоурожайный засухоустойчивый столовый сорт с неприхотливыми к почве условиям.</p>
			<p>Куст высокий (70–75 см), цветки красно-фиолетовые, 8–9 клубней/куст, крахмалистость 12,5–16 %, высокая лёжкость (93 %), масса товарного клубня 117–207 г.</p>
			<p>Устойчив к раку картофеля и картофельной нематоде, очень высокая устойчивость к обыкновенной парше и вирусам Y и A.</p>
		</section>
	</article>
	<article>
		<h3>Гала</h3>
		<section>
			<label><input type="checkbox" hidden><img src="P/Gala.jpg" alt="Гала. Сорт картофеля"><img src="P/Gala.jpg" alt="Гала. Сорт картофеля"></label>
			<p>Ранний (70–80 дней), высокоурожайный столовый сорт. Обладает высокой пластичностью почвенно-климатическим условиям.</p>
			<p>Куст средней высоты, с незначительным количеством цветков с белым венчиком. Отлично подходит для механической обработке клубней и уборке. Лёжкость клубней около 90 %, крахмалистость 10–13 %, масса товарного клубня 70–120 г.</p>
			<p>Устойчив к картофельной нематоде, высоко – к парше обыкновенной и фитофторозу клубней.</p>
		</section>
	</article>
	<article>
		<p>Младший научный сотрудник отдела семеноводства <b>Удалова Елена Юрьевна</b></p>
	</article>
	</div>
{% endblock %}