{% extends "base.html" %}

{% block title %}
    {{page.title}}
{% endblock %}

{% block description %}
	{{page.description}}
{% endblock %}

{% block content %}
<h2>Прайс-лист</h2>
<p>Дата обновления: 28.11.2023</p>
<table class="pages">
	<caption>Планируемая реализация зерновых в 2023 году</caption>
	<tr>
		<th>Культура</th>
		<th>Сорт</th>
		<th>Категория</th>
		<th>Наличие,&nbsp;т</th>
	</tr>
	<tr>
		<td>Пшеница яровая</td>
		<td>Баженка</td>
        <td rowspan="2">I репродукция</td>
		<td>20</td>
	</tr>
    <tr>
		<td rowspan="2">Ячмень яровой</td>
		<td rowspan="2">Родник Прикамья</td>
		<td>25</td>
	</tr>
	<tr>
		<td>Суперэлита</td>
		<td>20</td>
	</tr>
    <tr>
		<td>Рожь озимая</td>
		<td>Графиня</td>
		<td>Элита</td>
		<td>20</td>
	</tr>
</table>
<table class="pages">
	<td font align="left">Для получения информации обращаться к Максимову Владимиру Алексеевичу по тел.</td>
	<td><a  href="tel:+79600977287"><font color="#013220">8-960-097-72-87</font></a></td>
	<b></b></td>
</table>
{% endblock %}