{% extends "base.html" %}

{% block title %}
    {{page.title}}
{% endblock %}

{% block description %}
	{{page.description}}
{% endblock %}

{% block content %}
<h2>Продукция</h2>
	<div class="pages" id="prod">
		<a id="grain" href="Grain.html">
			<img src="img/sprite_prod.jpg" alt="Зерновые">
			<strong>Зерновые</strong>
		</a
		><a id="potato" href="Potato.html">
			<img src="img/sprite_prod.jpg" alt="Картофель">
			<strong>Картофель</strong>
		</a
		><a id="grass" href="Grass.html">
			<img src="img/sprite_prod.jpg" alt="Многолетние травы">
			<strong>Многолетние травы</strong>
		</a
		><a id="jim" href="Jim.html">
			<img src="img/sprite_prod.jpg" alt="Жимолость голубая">
			<strong>Жимолость голубая</strong>
		</a>
	</div>
{% endblock %}