{% extends "base.html" %}
{% load static %}

{% block title %}
    Редактирование основных направлений деятельности
{% endblock %}

{% block description %}
	Редактирование на странице основных направлений деятельности на сайте Марийского НИИСХ, филиала ФБГНУ ФАНЦ Северо-Востока
{% endblock %}

{% block ways_header %}
    {% include "ways_trend_editing.html" %}
{% endblock %}

{% block ways_nav %}
    {% include "ways_trend_editing.html" %}
{% endblock %}

{% block content %}

{% block nav_sub_about %}
	{% include "nav_sub_about.html" %}
{% endblock %}

<h2>Направления деятельности</h2>
<div class="pages">
	<div id="news_institute">
	<article>
		<h3><b>Редактирование основных направлений деятельности</b></h3>
		<div class="slides">
			<div id="m1"></div><div id="m2"></div>
			<img id="slide_3" src="{% static 'img/sprite_slide.jpg' %}">
			<img id="slide_2" src="{% static 'img/sprite_slide.jpg' %}">
			<img id="slide_1" src="{% static 'img/sprite_slide.jpg' %}">
		</div>
		<section>
			<fieldset class="niicontact">
				<form name="TrendBasicAddForm" method="post">
					{% csrf_token %}
					{{form.as_table}}
					<input type="submit" id="submit" value="Добавить"/>
				</form>
			</fieldset>
			<ol>
			{% for li in lis %}
				<li>{{li.name}}
					<p>
						<a href="{% url 'siteapp:Trend_delete' li.id %}">Удалить</a
						><a href="{% url 'siteapp:Trend_edit' li.id %}">Изменить</a>
					</p>
				</li>
			{% endfor %}
			</ol>
		</section>
	</article>
	</div>
</div>
{% endblock %}