{% extends "base.html" %}
{% load static %}

{% block title %}
    {{page.title}}
{% endblock %}

{% block description %}
	{{page.description}}
{% endblock %}

{% block content %}

{% block nav_sub_about %}
	{% include "nav_sub_about.html" %}
{% endblock %}

<h2>Направления деятельности</h2>
<div class="pages">
	<div id="news_institute">
	<article>
		<h3><b>Основные направления деятельности</b></h3>
		<div class="slides">
				<div id="m1"></div><div id="m2"></div>
				<img id="slide_3" src="{% static 'img/sprite_slide.jpg' %}">
				<img id="slide_2" src="{% static 'img/sprite_slide.jpg' %}">
				<img id="slide_1" src="{% static 'img/sprite_slide.jpg' %}">
			</div>
		<section>
			<ol>
				<li>Разработка ресурсосберегающих технологий производства сельскохозяйственных культур</li>
				<li>Cоздание смешанных озимых агроценозов с участием тритикале</li>
				<li>Разработка технологии возделывания перспективных сортов жимолости синей в условиях Республики Марий Эл</li>
				<li>Разработка адаптивно-ландшафтных систем земледелия, научно-обоснованных севооборотов</li>
				<li>Повышение плодородия почв и разработка систем удобрений полевых и кормовых севооборотов, и биологизация почв</li>
				<li>Разработка методических рекомендаций по увеличению продуктивного долголетия и повышению молочной продуктивности скота черно-пестрой породы</li>
				<li>Методы сохранения и размножения волжских белых цесарок генофондного стада в малочисленной группе</li>
			</ol>
		</section>
	</article>
	</div>
</div>
{% endblock %}