<!--Минименю над главным меню для блока страниц с новостями по навигации по годам-->
{% block nav_sub_news %}
<nav class="nav_sub">
	<span>Ещё ↑</span>
	<a href="{% url 'siteapp:News' year=2016 %}">2016 год</a>
	<a href="{% url 'siteapp:News' year=2017 %}">2017 год</a>
	<a href="{% url 'siteapp:News' year=2018 %}">2018 год</a>
	<a href="{% url 'siteapp:News' year=2019 %}">2019 год</a>
	<a href="{% url 'siteapp:News' year=2020 %}">2020 год</a>
	<a href="{% url 'siteapp:News' year=2021 %}">2021 год</a>
	<a href="{% url 'siteapp:News' year=2022 %}">2022 год</a>
	<a href="{% url 'siteapp:News' year=2023 %}">2023 год</a>
	<a href="{% url 'siteapp:News' year=2024 %}">2024 год</a>
</nav>
{% endblock %}