<!--Минименю для блока страниц с новостями по навигации по годам-->
{% block nav_sub_news.html %}
<a href="{% url 'siteapp:News' 2016 %}">2016</a>
<a href="{% url 'siteapp:News' 2017 %}">2017</a>
<a href="{% url 'siteapp:News' 2018 %}">2018</a>
<a href="{% url 'siteapp:News' 2019 %}">2019</a>
<a href="{% url 'siteapp:News' 2020 %}">2020</a>
<a href="{% url 'siteapp:News' 2021 %}">2021</a>
<a href="{% url 'siteapp:News' 2022 %}">2022</a>
<a href="{% url 'siteapp:News' 2023 %}">2023</a>
<a href="{% url 'siteapp:News' 2024 %}">2024</a>
{% endblock %}