<!--Отображение пути страницы в левом углу окна-->
{% block ways %}
    {% if page.pre_parent_url %}
    <li>{{page.pre_parent_title}}
        <ul>
            <li>{{page.parent_title}}
                <ul>
                    <li>{{page.title}}</li>
                </ul>
            </li>
        </ul>
    </li>
    {% elif page.parent_url %}
        <li>{{page.parent_title}}
            <ul>
                <li>{{page.title}}</li>
            </ul>
        </li>
    {% else %}
        <li>{{page.title}}</li>
    {% endif %}
{% endblock %}
